force-app/main/flows/Additonal_resource_User_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Additonal resource User Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Additonal resource User Update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>fetch_Contact_Account</name>
        <label>fetch Contact Account</label>
        <locationX>480</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Additional_Res_Record_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>VarAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FetchAdditinalSecondaryRequestDetails</name>
        <label>FetchAdditinalSecondaryRequestDetails</label>
        <locationX>206</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FetchUserDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAdditionalResReqID</elementReference>
            </value>
        </filters>
        <object>Additional_Resource_Request__c</object>
        <outputAssignments>
            <assignToReference>VarContactID</assignToReference>
            <field>Partner_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarProcStatus</assignToReference>
            <field>Procurement_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FetchUserDetails</name>
        <label>FetchUserDetails</label>
        <locationX>144</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>fetch_Contact_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContactID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>VarUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Additional_Res_Record_update</name>
        <label>Additional Res Record update</label>
        <locationX>197</locationX>
        <locationY>361</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAdditionalResReqID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partner_Account__c</field>
            <value>
                <elementReference>VarAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_User__c</field>
            <value>
                <elementReference>VarUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Additional_Resource_Request__c</object>
    </recordUpdates>
    <startElementReference>FetchAdditinalSecondaryRequestDetails</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>VarAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAdditionalResReqID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a3N0m0000004bEe</stringValue>
        </value>
    </variables>
    <variables>
        <description>Store contact id</description>
        <name>VarContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>VarProcStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
