force-app/main/flows/CH_Contract_Line_Item_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>LatestCDBValue</name>
        <label>LatestCDBValue</label>
        <locationX>692</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>SingleCLI.CH_LatestCDBEntitlementId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CDBEntitlementID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>populateNewList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>populateNewList</name>
        <label>populateNewList</label>
        <locationX>716</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>UpdateCLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CLIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CLI_Null_Check</name>
        <label>CLI Null Check</label>
        <locationX>159</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLI_Null_Check1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLIs</targetReference>
            </connector>
            <label>CLI Null Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_CLI_Null_Check</name>
        <label>Update CLI Null Check</label>
        <locationX>364</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_CLI_Null_Check1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateCLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CLI</targetReference>
            </connector>
            <label>Update CLI Null Check</label>
        </rules>
    </decisions>
    <description>CDB Entitlement ID fields</description>
    <interviewLabel>CH Contract Line Item Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH Contract Line Item Update</label>
    <loops>
        <name>CLIs</name>
        <label>CLIs</label>
        <locationX>391</locationX>
        <locationY>52</locationY>
        <assignNextValueToReference>SingleCLI</assignNextValueToReference>
        <collectionReference>CLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LatestCDBValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CLI_Null_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contract_Line_Item</name>
        <label>Contract Line Item</label>
        <locationX>183</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CLI_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CH_LatestCDBEntitlementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousCDBEntitlementID</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceContractId</elementReference>
            </value>
        </filters>
        <object>ContractLineItem</object>
        <outputReference>CLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_CDB_EntitlementId__c</queriedFields>
        <queriedFields>CH_LatestCDBEntitlementId__c</queriedFields>
        <queriedFields>CH_PreviousCDBEntitlementId__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CLI</name>
        <label>Update CLI</label>
        <locationX>514</locationX>
        <locationY>385</locationY>
        <inputReference>UpdateCLI</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contract_Line_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CDBEntitlementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>CLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>PreviousCDBEntitlementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleCLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>UpdateCLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
</Flow>
