force-app/main/flows/CH_Communication_From_Customer_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>CH_EmailScreenFive</name>
        <label>Email Screen Five</label>
        <locationX>624</locationX>
        <locationY>589</locationY>
        <actionName>Case.CH_CommunicationEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CH_EmailScreenSeven</name>
        <label>Email Screen Seven</label>
        <locationX>813</locationX>
        <locationY>591</locationY>
        <actionName>Case.CH_CommunicationEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CH_EmailScreenSix</name>
        <label>Email Screen Six</label>
        <locationX>74</locationX>
        <locationY>604</locationY>
        <actionName>Case.CH_CommunicationEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CH_EmailScreenTwo</name>
        <label>Email Screen Two</label>
        <locationX>243</locationX>
        <locationY>599</locationY>
        <actionName>Case.CH_CommunicationEmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CH_PostToFeedScreenFive</name>
        <label>Post To Feed Screen Five</label>
        <locationX>623</locationX>
        <locationY>469</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>CH_EmailScreenFive</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CH_CurrentCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CH_ChatterFeedScreenFive</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CH_PostToFeedScreenSeven</name>
        <label>Post To Feed Screen Seven</label>
        <locationX>811</locationX>
        <locationY>467</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>CH_EmailScreenSeven</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CH_CurrentCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CH_ChatterFeedScreenSeven</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CH_PostToFeedScreenSix</name>
        <label>Post To Feed Screen Six</label>
        <locationX>71</locationX>
        <locationY>478</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>CH_EmailScreenSix</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CH_CurrentCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CH_ChatterFeedScreenSix</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CH_PostToFeedScreenTwo</name>
        <label>Post To Feed Screen Two</label>
        <locationX>240</locationX>
        <locationY>483</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>CH_EmailScreenTwo</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CH_CurrentCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CH_ChatterFeedScreenTwo</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CH_AssignVar</name>
        <label>AssignVar</label>
        <locationX>451</locationX>
        <locationY>84</locationY>
        <assignmentItems>
            <assignToReference>CH_CurrentChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_SelectedType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CH_choice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CH_Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CH_NA</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CH_Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CH_Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CH_Resolved</name>
        <choiceText>Resolved</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>CH_DecisionPoint</name>
        <label>Decision Point</label>
        <locationX>416</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Outcome_Rejected</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>CH_Rejected</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Email</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Phone</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase.CH_TypeSelected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase.CH_TypeSelected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temporary Solution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase.CH_TypeSelected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restoration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_ScreenThree</targetReference>
            </connector>
            <label>Outcome Rejected</label>
        </rules>
        <rules>
            <name>CH_ScreenTwoOutcomes</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>CH_NA</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Resolved</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Email</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Phone</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase.CH_TypeSelected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase.CH_TypeSelected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temporary Solution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase.CH_TypeSelected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restoration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_ScreenTwo</targetReference>
            </connector>
            <label>Screen Two Outcomes</label>
        </rules>
        <rules>
            <name>Type_Other</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentCase.CH_TypeSelected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Resolved</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_NA</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Email</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Phone</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_ScreenFour</targetReference>
            </connector>
            <label>Type Other</label>
        </rules>
        <rules>
            <name>Type_CIR</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentCase.CH_TypeSelected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Resolved</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_NA</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Email</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Phone</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_ScreenFive</targetReference>
            </connector>
            <label>Type CIR</label>
        </rules>
        <rules>
            <name>CH_Outocme_Rejected_Type_Other_CIR</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>CH_Rejected</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Email</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Phone</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase.CH_TypeSelected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase.CH_TypeSelected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_ErrorMessage</targetReference>
            </connector>
            <label>Outocme Rejected Type Other CIR</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CH_SelectedType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CH_TypeSelected__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>CH_address</name>
        <dataType>String</dataType>
        <expression>{!CH_CurrentCase.Email__c}</expression>
    </formulas>
    <interviewLabel>Communication From Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Communication From Customer</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>CH_FetchCaseDetails</name>
        <label>Fetch Case Details</label>
        <locationX>104</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_ScreenOne</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_CurrentCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_Stage__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>CH_ReasonForRejection__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>CH_TypeSelected__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CH_NewValues</name>
        <label>New Values</label>
        <locationX>734</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_DecisionPoint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_NewObject</outputReference>
        <queriedFields>CH_TypeSelected__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CH_TypeUpdate</name>
        <label>Type Update</label>
        <locationX>885</locationX>
        <locationY>84</locationY>
        <connector>
            <targetReference>CH_NewValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CH_TypeSelected__c</field>
            <value>
                <elementReference>CH_CurrentChoice</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>CH_choice</name>
        <label>choice</label>
        <locationX>602</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CH_TypeUpdate</targetReference>
        </connector>
        <fields>
            <name>check1</name>
            <fieldText>{!CH_CurrentChoice}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_ErrorMessage</name>
        <label>Error Message</label>
        <locationX>416</locationX>
        <locationY>417</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCombination</name>
            <fieldText>Please select a correct combination</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_ScreenFive</name>
        <label>Screen Five</label>
        <locationX>622</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CH_PostToFeedScreenFive</targetReference>
        </connector>
        <fields>
            <name>CH_DisplayScreenFive</name>
            <fieldText>Case Contact has provided the requested CIR</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_ScreenFour</name>
        <label>Screen Four</label>
        <locationX>701</locationX>
        <locationY>224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CH_ScreenSeven</targetReference>
        </connector>
        <fields>
            <name>CH_DisplayScreenFour</name>
            <fieldText>What other information has the Case Contact provided?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CH_OtherInformation</name>
            <dataType>String</dataType>
            <fieldText>Other Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_ScreenOne</name>
        <label>Screen One</label>
        <locationX>290</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CH_AssignVar</targetReference>
        </connector>
        <fields>
            <name>CH_RecievedVia</name>
            <choiceReferences>CH_Email</choiceReferences>
            <choiceReferences>CH_Phone</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CH_Email</defaultSelectedChoiceReference>
            <fieldText>Recieved Via</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CH_TypeChoice</name>
            <choiceReferences>CH_SelectedType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CH_Outcome</name>
            <choiceReferences>CH_Resolved</choiceReferences>
            <choiceReferences>CH_Rejected</choiceReferences>
            <choiceReferences>CH_NA</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CH_Resolved</defaultSelectedChoiceReference>
            <fieldText>Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_ScreenSeven</name>
        <label>Screen Seven</label>
        <locationX>811</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CH_PostToFeedScreenSeven</targetReference>
        </connector>
        <fields>
            <name>CH_DisplayScreenSeven</name>
            <fieldText>Case Contact has provided the following additional information: 
{!CH_OtherInformation}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_ScreenSix</name>
        <label>Screen Six</label>
        <locationX>71</locationX>
        <locationY>361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CH_PostToFeedScreenSix</targetReference>
        </connector>
        <fields>
            <name>CH_DisplayScreenSix</name>
            <fieldText>The selected {!CH_TypeChoice} has been rejected</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_ScreenThree</name>
        <label>Screen Three</label>
        <locationX>164</locationX>
        <locationY>224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CH_ScreenSix</targetReference>
        </connector>
        <fields>
            <name>CH_RejectionReason</name>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_ScreenTwo</name>
        <label>Screen Two</label>
        <locationX>235</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CH_PostToFeedScreenTwo</targetReference>
        </connector>
        <fields>
            <name>CH_DisplayScreenTwo</name>
            <fieldText>The {!CH_TypeChoice}  has resolved the issue</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CH_FetchCaseDetails</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>CH_ChatterFeedScreenFive</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Case Contact has provided the request CIR. All information has been added to the case</text>
    </textTemplates>
    <textTemplates>
        <name>CH_ChatterFeedScreenSeven</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Case Contact has communicated the following additoinal information: {!CH_OtherInformation}</text>
    </textTemplates>
    <textTemplates>
        <name>CH_ChatterFeedScreenSix</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Case Contact has communicated that the {!CH_NewObject.CH_TypeSelected__c} has been rejected.</text>
    </textTemplates>
    <textTemplates>
        <description>Message to post to chatter</description>
        <name>CH_ChatterFeedScreenTwo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Case Contact has communicated that the {!CH_NewObject.CH_TypeSelected__c} has resolved the issue</text>
    </textTemplates>
    <textTemplates>
        <name>CH_email1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!CH_CurrentCase.OwnerId}, a new email has been added to case</text>
    </textTemplates>
    <textTemplates>
        <name>CH_Email2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!CH_CurrentCase.Id}, a new email has been added to case</text>
    </textTemplates>
    <textTemplates>
        <name>CH_Email3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!CH_CurrentCase.Id}, a new email has been added to case</text>
    </textTemplates>
    <textTemplates>
        <name>CH_Email4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!CH_CurrentCase.Id}, a new email has been added to case</text>
    </textTemplates>
    <variables>
        <name>CH_CurrentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>type selected</description>
        <name>CH_CurrentChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CH_NewObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
