force-app/main/flows/CH_RejectCaseAssignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Customer_not_Supported_by_me</name>
        <choiceText>Customer not Supported by me</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer not Supported by me</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_not_Supported_by_me</name>
        <choiceText>Product not Supported by me</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product not Supported by me</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wrong_Engineer_Assigned</name>
        <choiceText>Wrong Engineer Assigned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wrong Engineer Assigned</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wrong_Queue</name>
        <choiceText>Wrong Queue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wrong Queue</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>RejectionReason123</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CH_Rejection_Reasons__c</picklistField>
        <picklistObject>CH_Reasons__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Reject Case Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reject Case Assignment</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Reason_Record</name>
        <label>Create New Reason Record</label>
        <locationX>586</locationX>
        <locationY>176</locationY>
        <assignRecordIdToReference>reasonId</assignRecordIdToReference>
        <connector>
            <targetReference>Success_Message_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>CH_Date_Time_Reason_Entered__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_RejectionReasonfor__c</field>
            <value>
                <stringValue>Assignment Rejection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Rejection_Reasons__c</field>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SupportTicket_Reasons__c</field>
            <value>
                <elementReference>CH_CurrenctCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CH_Reasons__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Case</name>
        <label>Get Current Case</label>
        <locationX>24</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Rejection_Reason_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_CurrenctCase</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CH_Workgroup__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetQueueIdFromName</name>
        <label>GetQueueIdFromName</label>
        <locationX>310</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWorkgroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MN_GWC_R_All_Products</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>CurrentQueue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWorkgroup</name>
        <label>GetWorkgroup</label>
        <locationX>452</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MN_GWC_R_All-Products</stringValue>
            </value>
        </filters>
        <object>CH_Workgroup__c</object>
        <outputReference>Workgroup</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseRecord</name>
        <label>UpdateCaseRecord</label>
        <locationX>588</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Create_New_Reason_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CH_CurrenctCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CH_Workgroup__c</field>
            <value>
                <elementReference>Workgroup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Select_Rejection_Reason_Screen</name>
        <label>Select Rejection Reason Screen</label>
        <locationX>170</locationX>
        <locationY>49</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetQueueIdFromName</targetReference>
        </connector>
        <fields>
            <name>RejectionReasonMessage</name>
            <fieldText>Please select reason to reject case assignment</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason</name>
            <choiceReferences>Product_not_Supported_by_me</choiceReferences>
            <choiceReferences>Customer_not_Supported_by_me</choiceReferences>
            <choiceReferences>Wrong_Engineer_Assigned</choiceReferences>
            <choiceReferences>Wrong_Queue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message_Screen</name>
        <label>Success Message Screen</label>
        <locationX>587</locationX>
        <locationY>300</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>Your case has been rejected successfully and assigned to MN_GWC_R_All-Products queue from MN_GWC_R_All-Products workgroup.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Current_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>CH_CurrenctCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CurrentQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>reasonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Workgroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_Workgroup__c</objectType>
    </variables>
</Flow>
