force-app/main/flows/Create_Site_and_Phases_v1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_phase_Name</name>
        <label>Assign phase Name</label>
        <locationX>208</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>startPhaseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phaseName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Phase_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sites</name>
        <label>Assign sites</label>
        <locationX>869</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>SitesRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sitesopty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createsites</name>
        <label>createsites</label>
        <locationX>755</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>Sitesopty.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sitesopty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Singlealpha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loopcount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabetuse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SplitAlphabet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_sites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>phase_completed</name>
        <label>phase completed</label>
        <locationX>779</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>phaseLoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Phase_Collection</name>
        <label>Prepare Phase Collection</label>
        <locationX>410</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>phaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppPhase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Phase_Record</name>
        <label>Prepare Phase Record</label>
        <locationX>208</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>oppPhase.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppPhase.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startPhaseName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phaseLoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Phase_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Splt</name>
        <label>Splt</label>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>Singlealpha</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveFirst</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createsites</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Alphabet</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A,B,C,D,E,F,G,H,I,J,</stringValue>
        </value>
    </constants>
    <constants>
        <name>Createtensites</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Loopvar</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Site</description>
        <name>Site</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Site</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>403</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>CreateSite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>countlessthan10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopcount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Splt</targetReference>
            </connector>
            <label>countlessthan10</label>
        </rules>
        <rules>
            <name>phaseCountLessThan5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>phaseLoopCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_phase_Name</targetReference>
            </connector>
            <label>phaseCountLessThan5</label>
        </rules>
        <rules>
            <name>phaseCountCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>phaseLoopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Phases</targetReference>
            </connector>
            <label>phaseCountCompleted</label>
        </rules>
    </decisions>
    <formulas>
        <name>phaseName</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!currentDate}) + {!phaseLoopCount} - 1)</expression>
    </formulas>
    <formulas>
        <name>RemoveFirst</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!Alphabetuse}, FIND(&quot;,&quot;, {!Alphabetuse})-1))</expression>
    </formulas>
    <formulas>
        <name>Sites</name>
        <dataType>String</dataType>
        <expression>{!Site}&amp;&quot; &quot; &amp;TEXT({!Loopcount})</expression>
    </formulas>
    <formulas>
        <name>SplitAlphabet</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!Alphabetuse}, LEN({!Alphabetuse}) - FIND(&quot;,&quot;, {!Alphabetuse})))</expression>
    </formulas>
    <interviewLabel>Create Site and Phases_v1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Site and Phases_v1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Phases</name>
        <label>Create Phases</label>
        <locationX>648</locationX>
        <locationY>474</locationY>
        <connector>
            <targetReference>phase_completed</targetReference>
        </connector>
        <inputReference>phaseCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateSite</name>
        <label>CreateSite</label>
        <locationX>865</locationX>
        <locationY>353</locationY>
        <inputReference>SitesRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>56</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Oopty</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>alphabetlist</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Alphabetuse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>A,B,C,D,E,F,G,H,I,J,</stringValue>
        </value>
    </variables>
    <variables>
        <name>currentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>Loopcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Oopty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppPhase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NokiaCPQ_Phase__c</objectType>
    </variables>
    <variables>
        <name>OpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NokiaCPQ_Phase__c</objectType>
    </variables>
    <variables>
        <name>phaseLoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Singlealpha</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sitesname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sitesopty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NokiaCPQ_Site__c</objectType>
    </variables>
    <variables>
        <name>SitesRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NokiaCPQ_Site__c</objectType>
    </variables>
    <variables>
        <name>startPhaseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
