force-app/main/flows/EDUT_Processes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Register_Ticket_No_Doc_Contact_Email_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>Notify Contact</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Register_Ticket_No_Doc_Contact_Email_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision11</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Register_Ticket_Outside_Course_Request_Employee_Web_Email_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>Notify Contact</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Register_Ticket_Outside_Course_Request_Employee_Web_Email_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision13</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Register_Ticket_Outside_Course_Request_Employee_Contact_Email_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_14_A1</name>
        <label>Notify Contact</label>
        <locationX>1400</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Register_Ticket_Outside_Course_Request_Employee_Contact_Email_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision15</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Register_Ticket_Training_Request_Employee_Web_Email_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_16_A1</name>
        <label>Notify Contact</label>
        <locationX>1600</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Register_Ticket_Training_Request_Employee_Web_Email_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision17</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Register_Ticket_Training_Request_Employee_Contact_Email_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_18_A1</name>
        <label>Notify Contact</label>
        <locationX>1800</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Register_Ticket_Training_Request_Employee_Contact_Email_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision19</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Register_Ticket_Training_Request_Customer_Web_Email_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_20_A1</name>
        <label>Notify Contact</label>
        <locationX>2000</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Register_Ticket_Training_Request_Customer_Web_Email_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision21</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Register_Ticket_Training_Request_Customer_Contact_Email_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_22_A1</name>
        <label>Notify Contact</label>
        <locationX>2200</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Register_Ticket_Training_Request_Customer_Contact_Email_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision23</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Queue_Ticket_Assignment_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>Notify Queue</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Queue_Ticket_Assignment_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision28</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_User_Ticket_Assignment_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_29_A1</name>
        <label>Notify User</label>
        <locationX>2900</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_User_Ticket_Assignment_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_29_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;Dear @[{![Case].OwnerId}],\n\nYou have a new ticket on your hands. You must typify it as soon as possible to escalate to a Salesforce Queue.\n\nKind regards,\nNokia Team&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_29_A2</name>
        <label>Notify User</label>
        <locationX>2900</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myDecision30</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Dear @[{!myVariable_current.OwnerId}],

You have a new ticket on your hands. You must typify it as soon as possible to escalate to a Salesforce Queue.

Kind regards,
Nokia Team</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Queue_Ticket_Escalation_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_31_A1</name>
        <label>Notify Queue</label>
        <locationX>3100</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Queue_Ticket_Escalation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision32</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_User_Ticket_Escalation_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_33_A1</name>
        <label>Notify User</label>
        <locationX>3300</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_User_Ticket_Escalation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_33_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;Dear @[{![Case].OwnerId}],\n\nA ticket has been escalated to you. You can find more information in the \&quot;Details\&quot; section in order to solve the issue.\n\nKind regards,\nNokia Team&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_33_A2</name>
        <label>Notify User</label>
        <locationX>3300</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myDecision34</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Dear @[{!myVariable_current.OwnerId}],

A ticket has been escalated to you. You can find more information in the &quot;Details&quot; section in order to solve the issue.

Kind regards,
Nokia Team</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Ticket_SLA_Violation_Escalated_GCC_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_39_A1</name>
        <label>Notify GCC Manager</label>
        <locationX>3900</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Ticket_SLA_Violation_Escalated_GCC_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision40</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>EDUT_RandomNumberGenerator</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A3</name>
        <label>Generate Random Number</label>
        <locationX>300</locationX>
        <locationY>400</locationY>
        <actionName>EDUT_RandomNumberGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myDecision5</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CaseIds</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>CaseIds</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Ticket_SLA_Violation_Escalated_ELD_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_41_A1</name>
        <label>Notify ELD Manager</label>
        <locationX>4100</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Ticket_SLA_Violation_Escalated_ELD_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision42</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Ticket_SLA_Violation_Escalated_CPLS_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_43_A1</name>
        <label>Notify CPLS Manager</label>
        <locationX>4300</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Ticket_SLA_Violation_Escalated_CPLS_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision44</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>EDU Ticketing - Generate Survey Invitation</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_45_A1</name>
        <label>Survey Invitation Flow</label>
        <locationX>4500</locationX>
        <locationY>200</locationY>
        <actionName>EDU_Ticketing_Generate_Survey_Invitation</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision48</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SurveyId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>SurveyId</name>
            <value>
                <elementReference>formula_46_myRule_45_A1_2429621959</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CaseId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>CaseId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CommunityId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>CommunityId</name>
            <value>
                <elementReference>formula_47_myRule_45_A1_5443558633</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Close_Ticket_Without_Survey_Web_Email_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_49_A1</name>
        <label>Notify Contact</label>
        <locationX>4900</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Close_Ticket_Without_Survey_Web_Email_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision50</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Close_Ticket_Without_Survey_Contact_Email_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_51_A1</name>
        <label>Notify Contact</label>
        <locationX>5100</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Close_Ticket_Without_Survey_Contact_Email_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision52</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Close_Ticket_With_Survey_Web_Email_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_53_A1</name>
        <label>Notify Contact</label>
        <locationX>5300</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Close_Ticket_With_Survey_Web_Email_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision54</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Close_Ticket_With_Survey_Contact_Email_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_55_A1</name>
        <label>Notify Contact</label>
        <locationX>5500</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Close_Ticket_With_Survey_Contact_Email_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision56</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>EDUT_MarkGarbageEDUTicketToInvalid</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_57_A1</name>
        <label>Update &quot;Status&quot;</label>
        <locationX>5700</locationX>
        <locationY>200</locationY>
        <actionName>EDUT_MarkGarbageEDUTicketToInvalid</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>caseIds</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>caseIds</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EDUT_Register_Ticket_No_Doc_Web_Email_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>Notify Contact</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <actionName>Case.EDUT_Register_Ticket_No_Doc_Web_Email_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision9</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Record Type Validation</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>New Ticket - Outside Course Request (Employee) - Web Email?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision13</name>
        <label>myDecision13</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_A1</targetReference>
            </connector>
            <label>New Ticket - Outside Course Request (Employee) - Contact Email?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision15</name>
        <label>myDecision15</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_16</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>New Ticket - Training Request (Employee) - Web Email?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision17</name>
        <label>myDecision17</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_18</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_18_A1</targetReference>
            </connector>
            <label>New Ticket - Training Request (Employee) - Contact Email?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision19</name>
        <label>myDecision19</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_20</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_20_A1</targetReference>
            </connector>
            <label>New Ticket - Training Request (Customer) - Web Email?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Entitlement Process Association</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision21</name>
        <label>myDecision21</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_22</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>New Ticket - Training Request (Customer) - Contact Email?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision23</name>
        <label>myDecision23</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_24</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_24_A1</targetReference>
            </connector>
            <label>Owner is Queue?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>New to Queue?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision28</name>
        <label>myDecision28</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_29</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_29_A1</targetReference>
            </connector>
            <label>Assigned to User?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision30</name>
        <label>myDecision30</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision32</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <label>Escalated to Queue?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision32</name>
        <label>myDecision32</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision34</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_33</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>Escalated to User?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>16.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision34</name>
        <label>myDecision34</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision36</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_35</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_35_A1</targetReference>
            </connector>
            <label>Status = &quot;Awaiting on Response&quot;?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>17.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision36</name>
        <label>myDecision36</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision38</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_37</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_37</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_37_A1</targetReference>
            </connector>
            <label>Status != &quot;Awaiting on Response&quot;?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision38</name>
        <label>myDecision38</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision40</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_39</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_39</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_39_A1</targetReference>
            </connector>
            <label>SLA Violated - Escalation - GCC</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision40</name>
        <label>myDecision40</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision42</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_41</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_41</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_41_A1</targetReference>
            </connector>
            <label>SLA Violated - Escalation - ELD</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision42</name>
        <label>myDecision42</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision44</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_43</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_43</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_43_A1</targetReference>
            </connector>
            <label>SLA Violated - Escalation - CPLS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>21.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision44</name>
        <label>myDecision44</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision48</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_45</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_45</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_45_A1</targetReference>
            </connector>
            <label>Generate Survey Invitation</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>22.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision48</name>
        <label>myDecision48</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision50</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_49</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_49</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_49_A1</targetReference>
            </connector>
            <label>Closed w/out Survey - Web Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Created Manually?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>23.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision50</name>
        <label>myDecision50</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision52</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_51</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_51</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_51_A1</targetReference>
            </connector>
            <label>Closed w/out Survey - Contact Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision52</name>
        <label>myDecision52</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision54</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_53</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_53</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_53_A1</targetReference>
            </connector>
            <label>Closed w/ Survey - Web Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision54</name>
        <label>myDecision54</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision56</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_55</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_55</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_55_A1</targetReference>
            </connector>
            <label>Closed w/ Survey - Contact Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>26.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision56</name>
        <label>myDecision56</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_57</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_57</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_57_A1</targetReference>
            </connector>
            <label>Make Status Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>New Ticket - No Doc - Web Email?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>New Ticket - No Doc - Contact Email?</label>
        </rules>
    </decisions>
    <description>For EDU Ticketing System processes</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].EDUT_Owners_Queue__c + &quot;;&quot; +  [Case].Owner:Queue.DeveloperName</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_25_myRule_24_A1_2542660422</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.EDUT_Owners_Queue__c} + &quot;;&quot; +  {!myVariable_current.Owner:Queue.DeveloperName}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Label.EDUT_Survey_Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_46_myRule_45_A1_2429621959</name>
        <dataType>String</dataType>
        <expression>{!$Label.EDUT_Survey_Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Label.EDUT_CommunityId </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_47_myRule_45_A1_5443558633</name>
        <dataType>String</dataType>
        <expression>{!$Label.EDUT_CommunityId}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Label.EDUT_Entitlement_Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_5961591692</name>
        <dataType>String</dataType>
        <expression>{!$Label.EDUT_Entitlement_Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName &lt;&gt; &quot;EDU_Ticketing&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} &lt;&gt; &quot;EDU_Ticketing&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ) ,
           NOT ( ISBLANK ( [Case].ContactEmail ) ) ,
           OR (
                   ISPICKVAL ( [Case].Origin , &quot;Email&quot; ) ,
                   ISPICKVAL ( [Case].Origin , &quot;E-Ticket External Site&quot; ) ,
                   ISPICKVAL ( [Case].Origin , &quot;E-Ticket Internal Site&quot; ) ,
                   ISPICKVAL ( [Case].Origin , &quot;E-Ticket Partner Site&quot; )
                  ) ,
          NOT ( ISPICKVAL ( [Case].Type , &quot;Outside Course Request (Employee)&quot; ) ) ,
          NOT ( ISPICKVAL ( [Case].Type , &quot;Training Request (Customer)&quot; ) ) ,
          NOT ( ISPICKVAL ( [Case].Type , &quot;Training Request (Employee)&quot; ) )
         )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ) ,
           NOT ( ISBLANK ( {!myVariable_current.ContactEmail} ) ) ,
           OR (
                   ISPICKVAL ( {!myVariable_current.Origin} , &quot;Email&quot; ) ,
                   ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket External Site&quot; ) ,
                   ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket Internal Site&quot; ) ,
                   ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket Partner Site&quot; )
                  ) ,
          NOT ( ISPICKVAL ( {!myVariable_current.Type} , &quot;Outside Course Request (Employee)&quot; ) ) ,
          NOT ( ISPICKVAL ( {!myVariable_current.Type} , &quot;Training Request (Customer)&quot; ) ) ,
          NOT ( ISPICKVAL ( {!myVariable_current.Type} , &quot;Training Request (Employee)&quot; ) )
         )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ) ,
           ISBLANK ( [Case].ContactEmail ) ,
           NOT ( ISBLANK ( [Case].SuppliedEmail ) ) ,
           ISPICKVAL ( [Case].Origin , &quot;E-Ticket Internal Site&quot; ) ,
           ISPICKVAL ( [Case].Type , &quot;Outside Course Request (Employee)&quot; ) , 
           [Case].EDUT_Valid_Email__c
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ) ,
           ISBLANK ( {!myVariable_current.ContactEmail} ) ,
           NOT ( ISBLANK ( {!myVariable_current.SuppliedEmail} ) ) ,
           ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket Internal Site&quot; ) ,
           ISPICKVAL ( {!myVariable_current.Type} , &quot;Outside Course Request (Employee)&quot; ) , 
           {!myVariable_current.EDUT_Valid_Email__c}
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ) ,
           NOT ( ISBLANK ( [Case].ContactEmail ) ) ,
           ISPICKVAL ( [Case].Origin , &quot;E-Ticket Internal Site&quot; ) ,
           ISPICKVAL ( [Case].Type , &quot;Outside Course Request (Employee)&quot; )
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ) ,
           NOT ( ISBLANK ( {!myVariable_current.ContactEmail} ) ) ,
           ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket Internal Site&quot; ) ,
           ISPICKVAL ( {!myVariable_current.Type} , &quot;Outside Course Request (Employee)&quot; )
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ) ,
           ISBLANK ( [Case].ContactEmail ) ,
           NOT ( ISBLANK ( [Case].SuppliedEmail ) ) ,
           ISPICKVAL ( [Case].Origin , &quot;E-Ticket Internal Site&quot; ) ,
           ISPICKVAL ( [Case].Type , &quot;Training Request (Employee)&quot; ) ,
           [Case].EDUT_Valid_Email__c
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_16</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ) ,
           ISBLANK ( {!myVariable_current.ContactEmail} ) ,
           NOT ( ISBLANK ( {!myVariable_current.SuppliedEmail} ) ) ,
           ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket Internal Site&quot; ) ,
           ISPICKVAL ( {!myVariable_current.Type} , &quot;Training Request (Employee)&quot; ) ,
           {!myVariable_current.EDUT_Valid_Email__c}
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ) ,
           NOT ( ISBLANK ( [Case].ContactEmail ) ) ,
           ISPICKVAL ( [Case].Origin , &quot;E-Ticket Internal Site&quot; ) ,
           ISPICKVAL ( [Case].Type , &quot;Training Request (Employee)&quot; )
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_18</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ) ,
           NOT ( ISBLANK ( {!myVariable_current.ContactEmail} ) ) ,
           ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket Internal Site&quot; ) ,
           ISPICKVAL ( {!myVariable_current.Type} , &quot;Training Request (Employee)&quot; )
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ) ,
           ISBLANK ( [Case].ContactEmail ) ,
           NOT ( ISBLANK ( [Case].SuppliedEmail ) ) ,
           OR (
                   ISPICKVAL ( [Case].Origin , &quot;E-Ticket Partner Site&quot; ) ,
                   ISPICKVAL ( [Case].Origin , &quot;E-Ticket External Site&quot; )
                  ) ,
           ISPICKVAL ( [Case].Type , &quot;Training Request (Customer)&quot; ) ,
           [Case].EDUT_Valid_Email__c
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_20</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ) ,
           ISBLANK ( {!myVariable_current.ContactEmail} ) ,
           NOT ( ISBLANK ( {!myVariable_current.SuppliedEmail} ) ) ,
           OR (
                   ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket Partner Site&quot; ) ,
                   ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket External Site&quot; )
                  ) ,
           ISPICKVAL ( {!myVariable_current.Type} , &quot;Training Request (Customer)&quot; ) ,
           {!myVariable_current.EDUT_Valid_Email__c}
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ) ,
           NOT ( ISBLANK ( [Case].ContactEmail ) ) ,
           OR (
                   ISPICKVAL ( [Case].Origin , &quot;E-Ticket Partner Site&quot; ) ,
                   ISPICKVAL ( [Case].Origin , &quot;E-Ticket External Site&quot; )
                  ) ,
           ISPICKVAL ( [Case].Type , &quot;Training Request (Customer)&quot; )
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_22</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ) ,
           NOT ( ISBLANK ( {!myVariable_current.ContactEmail} ) ) ,
           OR (
                   ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket Partner Site&quot; ) ,
                   ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket External Site&quot; )
                  ) ,
           ISPICKVAL ( {!myVariable_current.Type} , &quot;Training Request (Customer)&quot; )
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           OR (
                   ISCHANGED ( [Case].OwnerId ) ,
                   ISNEW()
                  ) ,
           LEFT ( [Case].OwnerId , 3 ) = &quot;00G&quot; ,
           NOT ( ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) )
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_24</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           OR (
                   ISCHANGED ( {!myVariable_current.OwnerId} ) ,
                   ISNEW()
                  ) ,
           LEFT ( {!myVariable_current.OwnerId} , 3 ) = &quot;00G&quot; ,
           NOT ( ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) )
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISCHANGED ( [Case].OwnerId ) ,
           LEFT ( [Case].OwnerId , 3 ) = &quot;00G&quot; ,
           ISPICKVAL ( [Case].Status , &quot;New&quot; )
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISCHANGED ( {!myVariable_current.OwnerId} ) ,
           LEFT ( {!myVariable_current.OwnerId} , 3 ) = &quot;00G&quot; ,
           ISPICKVAL ( {!myVariable_current.Status} , &quot;New&quot; )
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISCHANGED ( [Case].OwnerId ) ,
           LEFT ( [Case].OwnerId , 3 ) = &quot;005&quot; ,
           ISPICKVAL ( [Case].Status , &quot;Assigned&quot; )
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_29</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISCHANGED ( {!myVariable_current.OwnerId} ) ,
           LEFT ( {!myVariable_current.OwnerId} , 3 ) = &quot;005&quot; ,
           ISPICKVAL ( {!myVariable_current.Status} , &quot;Assigned&quot; )
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISNEW() ,
           OR ( 
                   NOT ( ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ) , 
                   NOT ( ISPICKVAL ( [Case].Status , &quot;Invalid&quot; ) )
          )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISNEW() ,
           OR ( 
                   NOT ( ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ) , 
                   NOT ( ISPICKVAL ( {!myVariable_current.Status} , &quot;Invalid&quot; ) )
          )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISCHANGED ( [Case].OwnerId ) ,
           LEFT ( [Case].OwnerId , 3 ) = &quot;00G&quot; ,
           ISPICKVAL ( [Case].Status , &quot;Escalated&quot; )
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_31</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISCHANGED ( {!myVariable_current.OwnerId} ) ,
           LEFT ( {!myVariable_current.OwnerId} , 3 ) = &quot;00G&quot; ,
           ISPICKVAL ( {!myVariable_current.Status} , &quot;Escalated&quot; )
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISCHANGED ( [Case].OwnerId ) ,
           LEFT ( [Case].OwnerId , 3 ) = &quot;005&quot; ,
           ISPICKVAL ( [Case].Status , &quot;Escalated&quot; )
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_33</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISCHANGED ( {!myVariable_current.OwnerId} ) ,
           LEFT ( {!myVariable_current.OwnerId} , 3 ) = &quot;005&quot; ,
           ISPICKVAL ( {!myVariable_current.Status} , &quot;Escalated&quot; )
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISCHANGED ( [Case].Status ) ,
           ISPICKVAL ( [Case].Status , &quot;Awaiting on Response&quot; )
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_35</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISCHANGED ( {!myVariable_current.Status} ) ,
           ISPICKVAL ( {!myVariable_current.Status} , &quot;Awaiting on Response&quot; )
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISCHANGED ( [Case].Status ) ,
           ISPICKVAL ( PRIORVALUE ( [Case].Status ) , &quot;Awaiting on Response&quot; ) ,
           [Case].IsStopped = TRUE
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_37</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISCHANGED ( {!myVariable_current.Status} ) ,
           ISPICKVAL ( PRIORVALUE ( {!myVariable_current.Status} ) , &quot;Awaiting on Response&quot; ) ,
           {!myVariable_current.IsStopped} = TRUE
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISCHANGED ( [Case].EDUT_SLA_Violated__c ) ,
           [Case].EDUT_SLA_Violated__c = TRUE ,
           ISPICKVAL ( [Case].Status , &quot;Escalated&quot; ) ,
           CONTAINS ( [Case].EDUT_Owners_Queue__c , &quot;EDUT_GCC&quot; )
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_39</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISCHANGED ( {!myVariable_current.EDUT_SLA_Violated__c} ) ,
           {!myVariable_current.EDUT_SLA_Violated__c} = TRUE ,
           ISPICKVAL ( {!myVariable_current.Status} , &quot;Escalated&quot; ) ,
           CONTAINS ( {!myVariable_current.EDUT_Owners_Queue__c} , &quot;EDUT_GCC&quot; )
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISCHANGED ( [Case].EDUT_SLA_Violated__c ) ,
           [Case].EDUT_SLA_Violated__c = TRUE ,
           ISPICKVAL ( [Case].Status , &quot;Escalated&quot; ) ,
           CONTAINS ( [Case].EDUT_Owners_Queue__c , &quot;EDUT_ELD&quot; )
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_41</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISCHANGED ( {!myVariable_current.EDUT_SLA_Violated__c} ) ,
           {!myVariable_current.EDUT_SLA_Violated__c} = TRUE ,
           ISPICKVAL ( {!myVariable_current.Status} , &quot;Escalated&quot; ) ,
           CONTAINS ( {!myVariable_current.EDUT_Owners_Queue__c} , &quot;EDUT_ELD&quot; )
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISCHANGED ( [Case].EDUT_SLA_Violated__c ) ,
           [Case].EDUT_SLA_Violated__c = TRUE ,
           ISPICKVAL ( [Case].Status , &quot;Escalated&quot; ) ,
           CONTAINS ( [Case].EDUT_Owners_Queue__c , &quot;EDUT_CPLS&quot;)
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_43</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISCHANGED ( {!myVariable_current.EDUT_SLA_Violated__c} ) ,
           {!myVariable_current.EDUT_SLA_Violated__c} = TRUE ,
           ISPICKVAL ( {!myVariable_current.Status} , &quot;Escalated&quot; ) ,
           CONTAINS ( {!myVariable_current.EDUT_Owners_Queue__c} , &quot;EDUT_CPLS&quot;)
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           NOT ( ISNEW() ) ,
           ISBLANK ([Case].CH_Invitation_Link__c) ,
           [Case].EDUT_Random__c &lt;= 0.1
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_45</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           NOT ( ISNEW() ) ,
           ISBLANK ({!myVariable_current.CH_Invitation_Link__c}) ,
           {!myVariable_current.EDUT_Random__c} &lt;= 0.1
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           NOT ( ISNEW () ) ,
           ISBLANK ( [Case].ContactEmail ) ,
           NOT ( ISBLANK ( [Case].SuppliedEmail ) ) ,
           ISCHANGED ( [Case].Status ) , 
           ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ,
           ISBLANK ( [Case].CH_Invitation_Link__c ) ,
           [Case].EDUT_Random__c &gt; 0.1 ,
           [Case].EDUT_Valid_Email__c
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_49</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           NOT ( ISNEW () ) ,
           ISBLANK ( {!myVariable_current.ContactEmail} ) ,
           NOT ( ISBLANK ( {!myVariable_current.SuppliedEmail} ) ) ,
           ISCHANGED ( {!myVariable_current.Status} ) , 
           ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ,
           ISBLANK ( {!myVariable_current.CH_Invitation_Link__c} ) ,
           {!myVariable_current.EDUT_Random__c} &gt; 0.1 ,
           {!myVariable_current.EDUT_Valid_Email__c}
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           NOT ( ISNEW () ) ,
           NOT ( ISBLANK ( [Case].ContactEmail ) ) ,
           ISCHANGED ( [Case].Status ) , 
           ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ,
           ISBLANK ( [Case].CH_Invitation_Link__c ) ,
           [Case].EDUT_Random__c &gt; 0.1
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_51</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           NOT ( ISNEW () ) ,
           NOT ( ISBLANK ( {!myVariable_current.ContactEmail} ) ) ,
           ISCHANGED ( {!myVariable_current.Status} ) , 
           ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ,
           ISBLANK ( {!myVariable_current.CH_Invitation_Link__c} ) ,
           {!myVariable_current.EDUT_Random__c} &gt; 0.1
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
          NOT ( ISNEW () ) ,
          ISBLANK ( [Case].ContactEmail ) ,
          NOT ( ISBLANK ( [Case].SuppliedEmail ) ) ,
          ISCHANGED ( [Case].Status ) ,
          ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ,
          NOT ( ISBLANK ( [Case].CH_Invitation_Link__c ) ) ,
          [Case].EDUT_Random__c &lt;= 0.1 ,
          [Case].EDUT_Valid_Email__c
         ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_53</name>
        <dataType>Boolean</dataType>
        <expression>AND (
          NOT ( ISNEW () ) ,
          ISBLANK ( {!myVariable_current.ContactEmail} ) ,
          NOT ( ISBLANK ( {!myVariable_current.SuppliedEmail} ) ) ,
          ISCHANGED ( {!myVariable_current.Status} ) ,
          ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ,
          NOT ( ISBLANK ( {!myVariable_current.CH_Invitation_Link__c} ) ) ,
          {!myVariable_current.EDUT_Random__c} &lt;= 0.1 ,
          {!myVariable_current.EDUT_Valid_Email__c}
         )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
          NOT ( ISNEW () ) ,
          NOT ( ISBLANK ( [Case].ContactEmail ) ) ,
          ISCHANGED ( [Case].Status ) ,
          ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ,
          NOT ( ISBLANK ( [Case].CH_Invitation_Link__c ) ) ,
          [Case].EDUT_Random__c &lt;= 0.1
         )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_55</name>
        <dataType>Boolean</dataType>
        <expression>AND (
          NOT ( ISNEW () ) ,
          NOT ( ISBLANK ( {!myVariable_current.ContactEmail} ) ) ,
          ISCHANGED ( {!myVariable_current.Status} ) ,
          ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ,
          NOT ( ISBLANK ( {!myVariable_current.CH_Invitation_Link__c} ) ) ,
          {!myVariable_current.EDUT_Random__c} &lt;= 0.1
         )</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_57</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISNEW() ,
           LEFT ( [Case].OwnerId , 3 ) = &quot;005&quot; ,
           ISPICKVAL ( [Case].Status , &quot;New&quot; )
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISNEW() ,
           LEFT ( {!myVariable_current.OwnerId} , 3 ) = &quot;005&quot; ,
           ISPICKVAL ( {!myVariable_current.Status} , &quot;New&quot; )
          )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( [Case].Status , &quot;Closed&quot; ) ) ,
           ISBLANK ( [Case].ContactEmail ) ,
           NOT ( ISBLANK ( [Case].SuppliedEmail ) ) ,
           OR (
                   ISPICKVAL ( [Case].Origin , &quot;Email&quot; ) ,
                   ISPICKVAL ( [Case].Origin , &quot;E-Ticket External Site&quot; ) ,
                   ISPICKVAL ( [Case].Origin , &quot;E-Ticket Internal Site&quot; ) ,
                   ISPICKVAL ( [Case].Origin , &quot;E-Ticket Partner Site&quot; )
                  ) ,
          NOT ( ISPICKVAL ( [Case].Type , &quot;Outside Course Request (Employee)&quot; ) ) ,
          NOT ( ISPICKVAL ( [Case].Type , &quot;Training Request (Customer)&quot; ) ) ,
          NOT ( ISPICKVAL ( [Case].Type , &quot;Training Request (Employee)&quot; ) ) , 
          [Case].EDUT_Valid_Email__c
          )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_8</name>
        <dataType>Boolean</dataType>
        <expression>AND (
           ISNEW() ,
           NOT ( ISPICKVAL ( {!myVariable_current.Status} , &quot;Closed&quot; ) ) ,
           ISBLANK ( {!myVariable_current.ContactEmail} ) ,
           NOT ( ISBLANK ( {!myVariable_current.SuppliedEmail} ) ) ,
           OR (
                   ISPICKVAL ( {!myVariable_current.Origin} , &quot;Email&quot; ) ,
                   ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket External Site&quot; ) ,
                   ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket Internal Site&quot; ) ,
                   ISPICKVAL ( {!myVariable_current.Origin} , &quot;E-Ticket Partner Site&quot; )
                  ) ,
          NOT ( ISPICKVAL ( {!myVariable_current.Type} , &quot;Outside Course Request (Employee)&quot; ) ) ,
          NOT ( ISPICKVAL ( {!myVariable_current.Type} , &quot;Training Request (Customer)&quot; ) ) ,
          NOT ( ISPICKVAL ( {!myVariable_current.Type} , &quot;Training Request (Employee)&quot; ) ) , 
          {!myVariable_current.EDUT_Valid_Email__c}
          )</expression>
    </formulas>
    <interviewLabel>EDUT_Processes-54_InterviewLabel</interviewLabel>
    <label>EDUT - Processes</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Dummy Action</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Support Ticket Record Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Support Ticket Record Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Support Ticket Record Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <elementReference>myVariable_current.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_24_A1</name>
        <label>Update &quot;Owner&apos;s Queue&quot;</label>
        <locationX>2400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision26</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner&apos;s Queue</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>EDUT_Owners_Queue__c</field>
            <value>
                <elementReference>formula_25_myRule_24_A1_2542660422</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_35_A1</name>
        <label>Update &quot;Stopped&quot;</label>
        <locationX>3500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision36</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stopped</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>IsStopped</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_37_A1</name>
        <label>Update &quot;Stopped&quot;</label>
        <locationX>3700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision38</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stopped</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>IsStopped</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update &quot;Entitlement Process&quot;</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Entitlement ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Entitlement</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>EntitlementId</field>
            <value>
                <elementReference>formula_4_myRule_3_A1_5961591692</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Update &quot;Case Cause&quot; - Case Handling</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_3_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case Cause</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>CH_CaseCause__c</field>
            <value>
                <stringValue>Nokia-Other</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Update &quot;Status&quot;</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
