force-app/main/flows/Entitlement_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AnyEntitled</name>
        <label>AnyEntitled</label>
        <locationX>51</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>AnyLineEntitled</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopforAllLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AnyPendingline</name>
        <label>AnyPendingline</label>
        <locationX>686</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>AnyPendingLineItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopforAllLines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AnyEntitledCheck</name>
        <label>AnyEntitledCheck</label>
        <locationX>492</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>IsAnyLinepending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ISAnyLineEntitled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnyLineEntitled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_EntitlemnetStatusToEntitled</targetReference>
            </connector>
            <label>ISAnyLineEntitled</label>
        </rules>
    </decisions>
    <decisions>
        <name>CurrentLineStatusEntitled</name>
        <label>CurrentLineStatusEntitled</label>
        <locationX>238</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>CPOLineItemlist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>StatusIsEntitled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCPOLIneStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entitled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_EntitlemnetStatusToEntitled</targetReference>
            </connector>
            <label>StatusIsEntitled</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAnyLinepending</name>
        <label>IsAnyLinepending</label>
        <locationX>671</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsAnyLinePendingCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnyPendingLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEntitlementasPending</targetReference>
            </connector>
            <label>IsAnyLinePendingCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISLoopLinestatusEntitled</name>
        <label>ISLoopLinestatusEntitled</label>
        <locationX>225</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>Pending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsLoopLineEntitled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCPOLI.Commercial_Entitlement_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entitled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AnyEntitled</targetReference>
            </connector>
            <label>IsLoopLineEntitled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending</name>
        <label>Pending</label>
        <locationX>471</locationX>
        <locationY>487</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AnyPending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCPOLI.Commercial_Entitlement_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AnyPendingline</targetReference>
            </connector>
            <label>AnyPending</label>
        </rules>
    </decisions>
    <interviewLabel>Entitlement Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entitlement Status Update</label>
    <loops>
        <name>LoopforAllLines</name>
        <label>LoopforAllLines</label>
        <locationX>232</locationX>
        <locationY>382</locationY>
        <assignNextValueToReference>LoopCPOLI</assignNextValueToReference>
        <collectionReference>AllCPOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ISLoopLinestatusEntitled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AnyEntitledCheck</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CPOLineItemlist</name>
        <label>CPOLineItemlist</label>
        <locationX>232</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopforAllLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commercial_Entitlement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommercialEntitlementID</elementReference>
            </value>
        </filters>
        <object>Apttus_Config2__CustomerPOItem__c</object>
        <outputReference>CPOLineItem</outputReference>
        <queriedFields>Commercial_Entitlement_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCPOLineitem</name>
        <label>getCPOLineitem</label>
        <locationX>234</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentLineStatusEntitled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CPOLIneID</elementReference>
            </value>
        </filters>
        <object>Apttus_Config2__CustomerPOItem__c</object>
        <outputAssignments>
            <assignToReference>CPOID</assignToReference>
            <field>Apttus_Config2__PurchaseOrderId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentCPOLIneStatus</assignToReference>
            <field>Commercial_Entitlement_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CommercialEntitlementID</assignToReference>
            <field>Commercial_Entitlement__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_EntitlemnetStatusToEntitled</name>
        <label>Update EntitlemnetStatusToEntitled</label>
        <locationX>498</locationX>
        <locationY>151</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommercialEntitlementID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Entitled</stringValue>
            </value>
        </inputAssignments>
        <object>Commercial_Entitlement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEntitlementasPending</name>
        <label>UpdateEntitlementasPending</label>
        <locationX>677</locationX>
        <locationY>152</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommercialEntitlementID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Commercial_Entitlement__c</object>
    </recordUpdates>
    <startElementReference>getCPOLineitem</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>AllCPOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Config2__CustomerPOItem__c</objectType>
    </variables>
    <variables>
        <name>AnyLineEntitled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>AnyPendingLineItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>CommercialEntitlementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>CPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Config2__CustomerPurchaseOrder__c</objectType>
    </variables>
    <variables>
        <name>CPOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>CPOLIneID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a8t210000008PSt</stringValue>
        </value>
    </variables>
    <variables>
        <name>CPOLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Config2__CustomerPOItem__c</objectType>
    </variables>
    <variables>
        <name>CurrentCPOLIneStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>LoopCPOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Config2__CustomerPOItem__c</objectType>
    </variables>
</Flow>
