force-app/main/flows/Flow_to_send_chatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MW_Post_to_Memers</name>
        <label>MW Post to Memers</label>
        <locationX>919</locationX>
        <locationY>493</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>loopeachname</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MWSendmessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>getquoteId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_members</name>
        <label>Post to members</label>
        <locationX>810</locationX>
        <locationY>396</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>loopeachname</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>getquoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Sendthismessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_each_value</name>
        <label>assign each value</label>
        <locationX>617</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>Getname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>geteachname</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Portfolio_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collectionvariable</name>
        <label>collectionvariable</label>
        <locationX>420</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>collectedlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OptySobjectlookup.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looptooptyteammembers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Portfolio_Check</name>
        <label>Portfolio Check</label>
        <locationX>609</locationX>
        <locationY>490</locationY>
        <defaultConnectorLabel>Microwave</defaultConnectorLabel>
        <rules>
            <name>Is_Microwave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>portfolio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Microwave</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MW_Post_to_Memers</targetReference>
            </connector>
            <label>Microwave</label>
        </rules>
        <rules>
            <name>Not_Microwave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>portfolio</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Microwave</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_to_members</targetReference>
            </connector>
            <label>Not Microwave</label>
        </rules>
    </decisions>
    <formulas>
        <name>Concatenate</name>
        <dataType>String</dataType>
        <expression>{!Getname} &amp; &quot;,&quot;</expression>
    </formulas>
    <interviewLabel>Flow to send chatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to send chatter</label>
    <loops>
        <name>loopeachname</name>
        <label>loopeachname</label>
        <locationX>911</locationX>
        <locationY>174</locationY>
        <assignNextValueToReference>geteachname</assignNextValueToReference>
        <collectionReference>collectedlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_each_value</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Looptooptyteammembers</name>
        <label>Looptooptyteammembers</label>
        <locationX>695</locationX>
        <locationY>53</locationY>
        <assignNextValueToReference>OptySobjectlookup</assignNextValueToReference>
        <collectionReference>Optyteammembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>collectionvariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopeachname</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opportunity_Team_member</name>
        <label>Opportunity Team member</label>
        <locationX>389</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looptooptyteammembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>Optyteammembers</outputReference>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Opportunity_Team_member</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MWSendmessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!Getname}]

The validation request has been submitted and the quote moved to the status &quot; In Review&quot;.

Please verify, send the quote data to NPT, contact the Pricing Manager to process the data in NPT Cloud and in the Win the Deal tool, and submit the Opportunity for Approval.
nokia.my.salesforce.com/{!getquoteId}</text>
    </textTemplates>
    <textTemplates>
        <name>Sendthismessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!Getname}]
The validation request has been submitted and the quote moved to the status &quot; In Review &quot; 

Please verify and submit the Opportunity for Approval.
nokia.my.salesforce.com/{!getquoteId}</text>
    </textTemplates>
    <variables>
        <name>collectedlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>geteachname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetindividualIDS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Getname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getquoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loopinginto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Newvariablerecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunityloopsobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>OptySobjectlookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>Optyteammembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <description>Portfolio</description>
        <name>portfolio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Teammembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Teamoptymembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
