force-app/main/flows/HWS_Warranty_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Warranty_Service</name>
        <label>Check Warranty Service</label>
        <locationX>508</locationX>
        <locationY>59</locationY>
        <actionName>HWS_CheckWarranty_SVC</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Output</targetReference>
        </connector>
        <inputParameters>
            <name>CustomerNumber</name>
            <value>
                <elementReference>AccountOrCustomerNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MaterialCode</name>
            <value>
                <elementReference>Material_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SerialNumber</name>
            <value>
                <elementReference>SerialNumberUpperCase</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isWarrantyValid</assignToReference>
            <name>isWarranty</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <description>Changed the Naming convention of the input variables for the Code Optimization.</description>
    <formulas>
        <description>This will be used to convert entered serial number into Upper Case</description>
        <name>SerialNumberUpperCase</name>
        <dataType>String</dataType>
        <expression>UPPER({!Serial_Number})</expression>
    </formulas>
    <interviewLabel>HWS Warranty Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HWS Warranty Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Record_Lookup</name>
        <label>Account Record Lookup</label>
        <locationX>180</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HWS_CheckWarranty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountOrCustomerNumber</assignToReference>
            <field>AccountNumber</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Display_Output</name>
        <label>Display Output</label>
        <locationX>729</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>IsWarrantyValidResult</name>
            <fieldText>{!isWarrantyValid}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Customer request checked in SRM if any kind of warranty is applied for it.</description>
        <name>HWS_CheckWarranty</name>
        <label>HWS_CheckWarranty</label>
        <locationX>361</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Warranty_Service</targetReference>
        </connector>
        <fields>
            <name>CustomerNumber</name>
            <fieldText>Account Number: {!AccountOrCustomerNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Material_Code</name>
            <dataType>String</dataType>
            <fieldText>Material Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Account_Record_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountOrCustomerNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isWarrantyValid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
