force-app/main/flows/NokiaCPQ_Share_Quotes_With_Opportunity_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Opportunity_Team_Members_Not_Null</name>
        <label>Opportunity Team Members Not Null</label>
        <locationX>371</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_OTM_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityTeamMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_team_members</targetReference>
            </connector>
            <label>If OTM not null</label>
        </rules>
    </decisions>
    <interviewLabel>Share Quotes With Opportunity Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share Quotes With Opportunity Team Members</label>
    <loops>
        <name>Loop_through_team_members</name>
        <label>Loop through team members</label>
        <locationX>371</locationX>
        <locationY>341</locationY>
        <assignNextValueToReference>oppTeamMember</assignNextValueToReference>
        <collectionReference>opportunityTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Quote_Share_Records_0</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_Share_Records_0</name>
        <label>Create Quote Share Records</label>
        <locationX>370</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Loop_through_team_members</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>oppTeamMember.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus_Proposal__Proposal__Share</object>
    </recordCreates>
    <recordLookups>
        <name>LookupOpportunityTeamMembers</name>
        <label>LookupOpportunityTeamMembers</label>
        <locationX>370</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Team_Members_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>quoteOwnerId</elementReference>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>opportunityTeamMembers</outputReference>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <startElementReference>LookupOpportunityTeamMembers</startElementReference>
    <status>Active</status>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityTeamMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>oppTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
