force-app/main/flows/Populate_Approvers_on_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Populate Approvers on Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Approvers on Activity</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Activity_Details</name>
        <label>Fetch Activity Details</label>
        <locationX>559</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ftech_MasterData_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>activityId</elementReference>
            </value>
        </filters>
        <object>Co_Op_Activity__c</object>
        <outputAssignments>
            <assignToReference>ActivityAccountNumer</assignToReference>
            <field>Account_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Ftech_MasterData_details</name>
        <label>Ftech MasterData details</label>
        <locationX>557</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivityAccountNumer</elementReference>
            </value>
        </filters>
        <object>Co_Op_Approvals_Master_Data__c</object>
        <outputAssignments>
            <assignToReference>Level1Approval</assignToReference>
            <field>Activity_Approver_Level_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Level2Approval</assignToReference>
            <field>Activity_Approver_Level_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Level3Approval</assignToReference>
            <field>Activity_Approver_Level_3__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_activity</name>
        <label>Update activity</label>
        <locationX>555</locationX>
        <locationY>306</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>activityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver_Level_1__c</field>
            <value>
                <elementReference>Level1Approval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_Level_2__c</field>
            <value>
                <elementReference>Level2Approval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approver_Level_3__c</field>
            <value>
                <elementReference>Level3Approval</elementReference>
            </value>
        </inputAssignments>
        <object>Co_Op_Activity__c</object>
    </recordUpdates>
    <startElementReference>Fetch_Activity_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>ActivityAccountNumer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>activityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>activityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Co_Op_Activity__c</objectType>
    </variables>
    <variables>
        <name>approvalMasterDataRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Co_Op_Approvals_Master_Data__c</objectType>
    </variables>
    <variables>
        <name>Level1Approval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Level2Approval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Level3Approval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
