force-app/main/flows/Stalling_Opportunity_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>CloseOpportunityAsObsolete</name>
        <choiceText>Close Opportunity As Obsolete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <description>Remind in 2 weeks(Oppty close after 3 alerts)</description>
        <name>RemindMeInTwoWeeks</name>
        <choiceText>Remind in 2 weeks(Oppty close after 3 alerts)</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Remind_Me02Weeks</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Opportunity_update_type</name>
        <label>Opportunity update type</label>
        <locationX>527</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Remind_Me02Weeks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Close_the_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseOpportunityAsObsolete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemindMeInTwoWeeks</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_this_Opportunity</targetReference>
            </connector>
            <label>Close Opportunity</label>
        </rules>
        <rules>
            <name>Extension_For_02_Weeks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseOpportunityAsObsolete</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RemindMeInTwoWeeks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Extension For 02 Weeks</label>
        </rules>
    </decisions>
    <description>V7.3 of 12/02: Adjusting recent suggestions with help text in dual line update as per Geraldine and Addi  test test</description>
    <interviewLabel>Stalling Opportunity Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM Alert - Opportunity Stalled In Create Offer Phase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOpp</name>
        <label>Get Opportunity</label>
        <locationX>526</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_this_Opportunity</name>
        <label>Close Opportunity As Obsolete</label>
        <locationX>440</locationX>
        <locationY>569</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase_Status__c</field>
            <value>
                <stringValue>Closed(not won)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed - Obsolete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stalling_Opportunity_Extension_Count__c</field>
            <value>
                <stringValue>Close Obsolete - Noki2 Project</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stalling_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remind_Me02Weeks</name>
        <label>Remind in 2 weeks(Oppty close after 3 alerts)</label>
        <locationX>636</locationX>
        <locationY>569</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stalling_Opportunity_Extension__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stalling_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Opportunity_Update</name>
        <label>Opportunity Update</label>
        <locationX>528</locationX>
        <locationY>327</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opportunity_update_type</targetReference>
        </connector>
        <fields>
            <name>Update_options</name>
            <choiceReferences>CloseOpportunityAsObsolete</choiceReferences>
            <choiceReferences>RemindMeInTwoWeeks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Noki 2 Update Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Line</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Other Update Options&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black;&quot;&gt;Seek G4 approval or close as Cancelled, Lost, or Withdrawn&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetOpp</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Go to the Opportunity for G4 submission or Close as Cancelled, Lost or withdrawn.</description>
        <name>BottomLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Update_options}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Close_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>true</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Roll_back_G3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>true</stringValue>
        </value>
    </variables>
</Flow>
