force-app/main/flows/UpdatePrimaryContactForBusinessPlans.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Business_Planning_Successful_Creation_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Business Planning Successful Creation Notification</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Business_Plan__c.Business_Planning_Successful_Creation_Notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Business_Plan_Successful_Cloning_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Business Planning Clonning Notification</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Business_Plan__c.Business_Plan_Successful_Cloning_Notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Business_Planning_Successful_cloning_Notification_PRM_PSM</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>ClonedbyIfPRMequalsToPSM</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Business_Plan__c.Business_Planning_Successful_cloning_Notification_PRM_PSM</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Business_Planning_Submission_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Business Planning Submission Notification</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <actionName>Business_Plan__c.Business_Planning_Submission_Notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Business_Plan_Successful_Cloning_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A2</name>
        <label>Business Planning Clonning Notification</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <actionName>Business_Plan__c.Business_Plan_Successful_Cloning_Notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Business_Planning_Submission_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A2</name>
        <label>Business Plan Submission Notification</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <actionName>Business_Plan__c.Business_Planning_Submission_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_7_A3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Business_Plan_Successful_Cloning_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A3</name>
        <label>Business Plan Clone Notification</label>
        <locationX>700</locationX>
        <locationY>400</locationY>
        <actionName>Business_Plan__c.Business_Plan_Successful_Cloning_Notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Business_Planning_Submission_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Business Planning Submission Notification</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Business_Plan__c.Business_Planning_Submission_Notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>CreatedbyPRM</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>CreatedbyUserwithNoManager</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>ClonedbyPRMwithNoManager</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>ClonedbyIfPRMequalsToPSM</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>CreatedbyUser</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>CloneByPRM</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>CloneByUser</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>CreatedbyUserwithNoManager</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Profile.Name == &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; NOT([Business_Plan__c].Cloned_BP__c) &amp;&amp; [Business_Plan__c].Nokia_Partner_Primary_Partner__c.ManagerId != null</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} == &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; NOT({!myVariable_current.Cloned_BP__c}) &amp;&amp; {!myVariable_current.Nokia_Partner_Primary_Partner__r.ManagerId} != null</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Profile.Name != &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; $Profile.Name != &apos;Integration API Only Profile&apos; &amp;&amp; $Profile.Name != &apos;Data Loader Profile&apos; &amp;&amp; [Business_Plan__c].Cloned_BP__c=FALSE &amp;&amp;[Business_Plan__c].Nokia_Partner_Primary_Partner__c.ManagerId == null &amp;&amp;
[Business_Plan__c].Primary_Partner_Program_Contact_s_PRM__c  !=null &amp;&amp;
[Business_Plan__c].Nokia_Partner_Primary_Partner__c !=null &amp;&amp; [Business_Plan__c].Primary_Partner_Program_Contact_s_PRM__c  == [Business_Plan__c].Nokia_Partner_Primary_Partner__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} != &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; {!$Profile.Name} != &apos;Integration API Only Profile&apos; &amp;&amp; {!$Profile.Name} != &apos;Data Loader Profile&apos; &amp;&amp; {!myVariable_current.Cloned_BP__c}=FALSE &amp;&amp;{!myVariable_current.Nokia_Partner_Primary_Partner__r.ManagerId} == null &amp;&amp;
{!myVariable_current.Primary_Partner_Program_Contact_s_PRM__c}  !=null &amp;&amp;
{!myVariable_current.Nokia_Partner_Primary_Partner__c} !=null &amp;&amp; {!myVariable_current.Primary_Partner_Program_Contact_s_PRM__c}  == {!myVariable_current.Nokia_Partner_Primary_Partner__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Profile.Name != &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; $Profile.Name != &apos;Integration API Only Profile&apos; &amp;&amp; $Profile.Name != &apos;Data Loader Profile&apos; &amp;&amp; [Business_Plan__c].Cloned_BP__c = TRUE &amp;&amp; [Business_Plan__c].Nokia_Partner_Primary_Partner__c.ManagerId == null &amp;&amp;
[Business_Plan__c].Primary_Partner_Program_Contact_s_PRM__c  !=null &amp;&amp;
[Business_Plan__c].Primary_Partner_Program_Contact_s_PRM__c  != [Business_Plan__c].Nokia_Partner_Primary_Partner__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} != &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; {!$Profile.Name} != &apos;Integration API Only Profile&apos; &amp;&amp; {!$Profile.Name} != &apos;Data Loader Profile&apos; &amp;&amp; {!myVariable_current.Cloned_BP__c} = TRUE &amp;&amp; {!myVariable_current.Nokia_Partner_Primary_Partner__r.ManagerId} == null &amp;&amp;
{!myVariable_current.Primary_Partner_Program_Contact_s_PRM__c}  !=null &amp;&amp;
{!myVariable_current.Primary_Partner_Program_Contact_s_PRM__c}  != {!myVariable_current.Nokia_Partner_Primary_Partner__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Profile.Name != &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; $Profile.Name != &apos;Integration API Only Profile&apos; &amp;&amp; $Profile.Name != &apos;Data Loader Profile&apos; &amp;&amp;  [Business_Plan__c].Cloned_BP__c= TRUE &amp;&amp; 
[Business_Plan__c].Primary_Partner_Program_Contact_s_PRM__c  !=null &amp;&amp;
[Business_Plan__c].Nokia_Partner_Primary_Partner__c !=null &amp;&amp; [Business_Plan__c].Primary_Partner_Program_Contact_s_PRM__c  == [Business_Plan__c].Nokia_Partner_Primary_Partner__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} != &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; {!$Profile.Name} != &apos;Integration API Only Profile&apos; &amp;&amp; {!$Profile.Name} != &apos;Data Loader Profile&apos; &amp;&amp;  {!myVariable_current.Cloned_BP__c}= TRUE &amp;&amp; 
{!myVariable_current.Primary_Partner_Program_Contact_s_PRM__c}  !=null &amp;&amp;
{!myVariable_current.Nokia_Partner_Primary_Partner__c} !=null &amp;&amp; {!myVariable_current.Primary_Partner_Program_Contact_s_PRM__c}  == {!myVariable_current.Nokia_Partner_Primary_Partner__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Profile.Name != &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; $Profile.Name != &apos;Integration API Only Profile&apos; &amp;&amp; $Profile.Name != &apos;Data Loader Profile&apos; &amp;&amp; NOT([Business_Plan__c].Cloned_BP__c) &amp;&amp;[Business_Plan__c].Nokia_Partner_Primary_Partner__c.ManagerId != null</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} != &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; {!$Profile.Name} != &apos;Integration API Only Profile&apos; &amp;&amp; {!$Profile.Name} != &apos;Data Loader Profile&apos; &amp;&amp; NOT({!myVariable_current.Cloned_BP__c}) &amp;&amp;{!myVariable_current.Nokia_Partner_Primary_Partner__r.ManagerId} != null</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Profile.Name == &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp;  [Business_Plan__c].Cloned_BP__c &amp;&amp; [Business_Plan__c].Nokia_Partner_Primary_Partner__c.ManagerId != null &amp;&amp;
[Business_Plan__c].Primary_Partner_Program_Contact_s_PRM__c  !=null</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} == &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp;  {!myVariable_current.Cloned_BP__c} &amp;&amp; {!myVariable_current.Nokia_Partner_Primary_Partner__r.ManagerId} != null &amp;&amp;
{!myVariable_current.Primary_Partner_Program_Contact_s_PRM__c}  !=null</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Profile.Name != &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; $Profile.Name != &apos;Integration API Only Profile&apos; &amp;&amp; $Profile.Name != &apos;Data Loader Profile&apos; &amp;&amp; [Business_Plan__c].Cloned_BP__c &amp;&amp; [Business_Plan__c].Nokia_Partner_Primary_Partner__c.ManagerId != null</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} != &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; {!$Profile.Name} != &apos;Integration API Only Profile&apos; &amp;&amp; {!$Profile.Name} != &apos;Data Loader Profile&apos; &amp;&amp; {!myVariable_current.Cloned_BP__c} &amp;&amp; {!myVariable_current.Nokia_Partner_Primary_Partner__r.ManagerId} != null</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Profile.Name != &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; $Profile.Name != &apos;Integration API Only Profile&apos; &amp;&amp; $Profile.Name != &apos;Data Loader Profile&apos; &amp;&amp; [Business_Plan__c].Cloned_BP__c= FALSE &amp;&amp;[Business_Plan__c].Nokia_Partner_Primary_Partner__c.ManagerId == null &amp;&amp;
[Business_Plan__c].Primary_Partner_Program_Contact_s_PRM__c  !=null&amp;&amp;
[Business_Plan__c].Primary_Partner_Program_Contact_s_PRM__c  != [Business_Plan__c].Nokia_Partner_Primary_Partner__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} != &apos;PRM Partner Relationship Manager Login&apos; &amp;&amp; {!$Profile.Name} != &apos;Integration API Only Profile&apos; &amp;&amp; {!$Profile.Name} != &apos;Data Loader Profile&apos; &amp;&amp; {!myVariable_current.Cloned_BP__c}= FALSE &amp;&amp;{!myVariable_current.Nokia_Partner_Primary_Partner__r.ManagerId} == null &amp;&amp;
{!myVariable_current.Primary_Partner_Program_Contact_s_PRM__c}  !=null&amp;&amp;
{!myVariable_current.Primary_Partner_Program_Contact_s_PRM__c}  != {!myVariable_current.Nokia_Partner_Primary_Partner__c}</expression>
    </formulas>
    <interviewLabel>UpdatePrimaryContactForBusinessPlans-15_InterviewLabel</interviewLabel>
    <label>UpdatePrimaryContactForBusinessPlans</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Business_Plan__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Business_Plan__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Populate PSM and PRM Email and PSM&apos;s Manager</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Nokia Partner Primary Partner (PSM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Nokia_Partner_Primary_Partner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>PSM&apos;s Manager Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>PSM_s_Manager_Email__c</field>
            <value>
                <elementReference>myVariable_current.Nokia_Partner_Primary_Partner__r.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Business_Plan__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Populate PSM and PRM Email and PSM&apos;s Manager</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Nokia Partner Primary Partner (PSM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Nokia_Partner_Primary_Partner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>PSM&apos;s Manager Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>PSM_s_Manager_Email__c</field>
            <value>
                <elementReference>myVariable_current.Nokia_Partner_Primary_Partner__r.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Business_Plan__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update PSM, PRM and Manager Email</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Nokia Partner Primary Partner (PSM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Nokia_Partner_Primary_Partner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>PSM&apos;s Manager Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>PSM_s_Manager_Email__c</field>
            <value>
                <elementReference>myVariable_current.Nokia_Partner_Primary_Partner__r.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Business_Plan__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Populate PSM, PRM and Manager Email</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>PSM&apos;s Manager Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>PSM_s_Manager_Email__c</field>
            <value>
                <elementReference>myVariable_current.Nokia_Partner_Primary_Partner__r.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Plan__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Plan__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Plan__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
