force-app/main/flows/Update_Account_Tier_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Tier_Status_to_Advanced</name>
        <label>Set Tier Status to Advanced</label>
        <locationX>1034</locationX>
        <locationY>88</locationY>
        <assignmentItems>
            <assignToReference>AccountTierStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Advanced</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Highest_Accreditation_level_for_VarIR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tier_Status_to_Authorized</name>
        <label>Set Tier Status to Authorized</label>
        <locationX>1021</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>AccountTierStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Authorized</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Highest_Accreditation_level_for_VarIR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tier_Status_to_expert</name>
        <label>Set Tier Status to expert</label>
        <locationX>1039</locationX>
        <locationY>3</locationY>
        <assignmentItems>
            <assignToReference>AccountTierStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expert</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Highest_Accreditation_level_for_VarIR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTierStatusToBase</name>
        <label>SetTierStatusToBase</label>
        <locationX>157</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>AccountTierStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Base</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Highest_Accreditation_level_for_Distributor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTierStatustopremier</name>
        <label>SetTierStatustopremier</label>
        <locationX>162</locationX>
        <locationY>154</locationY>
        <assignmentItems>
            <assignToReference>AccountTierStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Premier</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Highest_Accreditation_level_for_Distributor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Advanced</name>
        <label>Is Advanced</label>
        <locationX>844</locationX>
        <locationY>105</locationY>
        <defaultConnector>
            <targetReference>Is_Authorized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Advanced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAccreditation.Accreditation_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountTierStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tier_Status_to_Advanced</targetReference>
            </connector>
            <label>Advanced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Authorized</name>
        <label>Is Authorized</label>
        <locationX>838</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Check_Highest_Accreditation_level_for_VarIR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Authorized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountTierStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expert</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountTierStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Advanced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopAccreditation.Accreditation_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Authorized</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tier_Status_to_Authorized</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Base_level</name>
        <label>Is Base level</label>
        <locationX>318</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Check_Highest_Accreditation_level_for_Distributor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>base</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAccreditation.Accreditation_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Base</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountTierStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Premier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTierStatusToBase</targetReference>
            </connector>
            <label>base</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Distributor_Account</name>
        <label>Is Distributor Account</label>
        <locationX>556</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>Is_VAR_or_IR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Distributor_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountPartnerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Highest_Accreditation_level_for_Distributor</targetReference>
            </connector>
            <label>Distributor account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Expert</name>
        <label>Is Expert</label>
        <locationX>842</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Advanced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Expert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAccreditation.Accreditation_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tier_Status_to_expert</targetReference>
            </connector>
            <label>Expert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_pemier_level</name>
        <label>Is pemier level</label>
        <locationX>331</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>Is_Base_level</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Premier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAccreditation.Accreditation_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTierStatustopremier</targetReference>
            </connector>
            <label>Premier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_VAR_or_IR</name>
        <label>Is VAR or IR</label>
        <locationX>700</locationX>
        <locationY>27</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IS_Var_or_IR_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountPartnerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Value Added Reseller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountPartnerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indirect Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Highest_Accreditation_level_for_VarIR</targetReference>
            </connector>
            <label>IS Var or IR Account</label>
        </rules>
    </decisions>
    <interviewLabel>Update Account Tier Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Tier Status</label>
    <loops>
        <name>Check_Highest_Accreditation_level_for_Distributor</name>
        <label>Check Highest Accreditation level for Distributor</label>
        <locationX>565</locationX>
        <locationY>136</locationY>
        <assignNextValueToReference>LoopAccreditation</assignNextValueToReference>
        <collectionReference>AllAccreditations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_pemier_level</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Tier_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_Highest_Accreditation_level_for_VarIR</name>
        <label>Check Highest Accreditation level for VarIR</label>
        <locationX>698</locationX>
        <locationY>132</locationY>
        <assignNextValueToReference>LoopAccreditation</assignNextValueToReference>
        <collectionReference>AllAccreditations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Expert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Tier_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Partner_Type</name>
        <label>Get Account Partner Type</label>
        <locationX>164</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Accredittaion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountPartnerType</assignToReference>
            <field>Partner_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Accredittaion</name>
        <label>Get All Accredittaion</label>
        <locationX>337</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Distributor_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Accreditation__c</object>
        <outputReference>AllAccreditations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Accreditation_Level__c</queriedFields>
        <queriedFields>Pricing_Level_Override__c</queriedFields>
        <queriedFields>Pricing_Accreditation__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Tier_Status</name>
        <label>Update Account Tier Status</label>
        <locationX>637</locationX>
        <locationY>251</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tier_Status__c</field>
            <value>
                <elementReference>AccountTierStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Get_Account_Partner_Type</startElementReference>
    <status>Active</status>
    <variables>
        <description>store account id for which flow is getting executed.</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>001W000000czGTR</stringValue>
        </value>
    </variables>
    <variables>
        <name>AccountPartnerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>AccountTierStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>all acreditation associted with account</description>
        <name>AllAccreditations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation__c</objectType>
    </variables>
    <variables>
        <name>LoopAccreditation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accreditation__c</objectType>
    </variables>
</Flow>
