src/flows/Case_Handling_All_Case_Types_PB_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The Case_Handling_All_Case_Types_PB_Status_Change-4 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke Case_Handling_All_Case_Types_PB_Status_Change-4, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>vinod.chokkala.ext@nokia.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The Case_Handling_All_Case_Types_PB_Status_Change-4 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke Case_Handling_All_Case_Types_PB_Status_Change-4, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>vinod.chokkala.ext@nokia.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>CH_Case_Cancellation_Email_Notification_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Send Cancellation Email</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>Case.CH_Case_Cancellation_Email_Notification_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Status is closed?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Pending Customer w/ Minor</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.CH_RecordTypeDevName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CH_Problem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Support Ticket Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.CH_PendingbyEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Status Pending Customer update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Pending Customer w/ Critical</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Pending Customer w/ Major</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(TODAY() + 3)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_2184997924</name>
        <dataType>Date</dataType>
        <expression>(TODAY() + 3)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATETIMEVALUE(TODAY() + 3)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_9_A1_1922311627</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TODAY() + 3)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(TODAY() + 7)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_13_A1_0122336910</name>
        <dataType>Date</dataType>
        <expression>(TODAY() + 7)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATETIMEVALUE(TODAY() + 7)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_13_A1_1979110058</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TODAY() + 7)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(TODAY() +1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_7317764027</name>
        <dataType>Date</dataType>
        <expression>(TODAY() +1)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATETIMEVALUE(TODAY() + 1)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_0943413635</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TODAY() + 1)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(BEGINS([Case].OwnerId, &apos;005&apos;),
ISPICKVAL([Case].Status , &apos;Pending Customer&apos;),
ISPICKVAL([Case].Severity__c, &apos;Minor&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(BEGINS({!SObject.OwnerId}, &apos;005&apos;),
ISPICKVAL({!SObject.Status} , &apos;Pending Customer&apos;),
ISPICKVAL({!SObject.Severity__c}, &apos;Minor&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(BEGINS([Case].OwnerId, &apos;005&apos;),
ISPICKVAL([Case].Status , &apos;Pending Customer&apos;),
ISPICKVAL([Case].Severity__c, &apos;Critical&apos;)
 )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(BEGINS({!SObject.OwnerId}, &apos;005&apos;),
ISPICKVAL({!SObject.Status} , &apos;Pending Customer&apos;),
ISPICKVAL({!SObject.Severity__c}, &apos;Critical&apos;)
 )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(BEGINS([Case].OwnerId, &apos;005&apos;),
ISPICKVAL([Case].Status , &apos;Pending Customer&apos;),
ISPICKVAL([Case].Severity__c, &apos;Major&apos;)
 )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(BEGINS({!SObject.OwnerId}, &apos;005&apos;),
ISPICKVAL({!SObject.Status} , &apos;Pending Customer&apos;),
ISPICKVAL({!SObject.Severity__c}, &apos;Major&apos;)
 )</expression>
    </formulas>
    <interviewLabel>Case_Handling_All_Case_Types_PB_Status_Change-4_InterviewLabel</interviewLabel>
    <label>Case Handling All Case Types PB Status Change</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordCreates>
        <name>myRule_13_A1</name>
        <label>New Task</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_14_myRule_13_A1_0122336910</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reminder Set</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>SObject.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reminder Date/Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formula_15_myRule_13_A1_1979110058</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Follow up with Customer on Pending Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account;Account_Member__c;Accreditation_Level_Rule__c;Accreditation__c;Accrual_junction__c;Additional_Resource_Request__c;Agile_Reports__c;Application_Inventory__c;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_CMConfig__AgreementAdjustmentLineItem__c;Apttus_CMConfig__AgreementFootnote__c;Apttus_CMConfig__AgreementIncentiveBenefitData__c;Apttus_CMConfig__AgreementIncentiveLimitData__c;Apttus_CMConfig__AgreementProductAttributeValue__c;Apttus_CMConfig__AgreementRelatedLineItem__c;Apttus_CMConfig__AgreementRollupData__c;Apttus_CMConfig__AgreementSummaryGroup__c;Apttus_CMConfig__AgreementSummary__c;Apttus_CMConfig__AgreementUsagePriceTier__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlanTemplateItem__c;Apttus_Config2__BillingPlanTemplate__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__CostItem__c;Apttus_Config2__CustomerPOIssueLog__c;Apttus_Config2__CustomerPOItem__c;Apttus_Config2__CustomerPOSalesOrderRelationHistory__c;Apttus_Config2__CustomerPurchaseOrder__c;Apttus_Config2__DataEnrichmentRule__c;Apttus_Config2__DataValidationEnrichmentRuleset__c;Apttus_Config2__DataValidationRule__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderRollupData__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__IncentiveLoyaltyEnrollment__c;Apttus_Config2__Incentive__c;Apttus_Config2__LegalEntity__c;Apttus_Config2__LineItem__c;Apttus_Config2__LoyaltyPointAccrualAdjustmentItem__c;Apttus_Config2__LoyaltyPointAccrualSummary__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderFulfillment__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderLoyaltyPointAccrualItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRelatedLineItem__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceEscalator__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedLineItem__c;Apttus_Config2__RelatedOpportunityLineItemColl__c;Apttus_Config2__RelatedOpportunityLineItem__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__RevenueSplitPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_DealMgr__DealGuidanceDimensionSetMember__c;Apttus_DealMgr__DealGuidanceDimensionSet__c;Apttus_DealMgr__DealGuidanceDimension__c;Apttus_DealMgr__DealGuidanceRuleEntry__c;Apttus_DealMgr__DealGuidanceRule__c;Apttus_DealMgr__DealPercentileRange__c;Apttus_DealMgr__DealSummaryGroup__c;Apttus_DealMgr__DealTerm__c;Apttus_DealMgr__Deal__c;Apttus_DealOpti__ComparableDeal__c;Apttus_DealOpti__PriceWaterfallComponent__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRelatedLineItem__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__Obligation__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;Business_Plan__c;CCRE_UpSell_LineItem__c;CH_CDB_ServiceContractType__c;CH_Case_PA_InterfaceMapping__c;CH_Corrective_Preventive_Action__c;CH_InterfaceMapping__c;CH_LegacyCaseDetail__c;CH_OutageDuration__c;CH_PendingTimeSuspension__c;CH_Problem_RnD_Reference__c;CH_Track_Field_Change__c;CMD_Approval_Data__c;CMD_Pack4_Data__c;CQ_Customer_Contact__c;CSecR_Support_Team__c;Campaign;Capability__c;CareDiagnosis;CarePreauth;CarePreauthItem;CareRequest;CareRequestDrug;CareRequestExtension;CareRequestItem;Case;Certification_Matrix__c;Certification__c;Change_Impact__c;ChannelProgram;ChannelProgramLevel;Claim__c;Co_Op_Activity__c;Co_Op_Allocation__c;Commercial_Entitlement__c;Competitor__c;ContactRequest;Contract;ContractLineItem;Course__c;CoverageBenefit;CoverageBenefitItem;Curriculum_Certification_Mapping__c;Curriculum_Course_Mapping__c;Dated_Exchange_Rates__c;DealProduct__c;Deal__c;Defect__c;Demo__c;DesignElement_Items__c;ERM_Stakeholder__c;Entitlement;Event_Registration__c;Event__c;File_Report__c;File_Upload__c;Fund__c;Glossary_Item__c;HWS_VersionItem__c;IDC_Task__c;Impact_Assessments__c;Investments_in_Lab_and_Demo_Equipment__c;Issues_Risks__c;ListEmail;Marketing_Plan_and_Industry_Events__c;MemberPlan;Multi_Language_Terms__c;NIA_SurveyQuestionResponse__c;NIA_SurveyResponse__c;NokiaCPQ_Maintenance_and_SSP_Rules__c;OLCS_Information__c;Opportunity;Order;Order_Intake_Forecast__c;PartnerFundAllocation;PartnerFundClaim;PartnerFundRequest;PartnerMarketingBudget;PlanBenefit;PlanBenefitItem;Pre_C3_Commitment__c;Product2;Product_Attribute_Value_extension__c;PurchaserPlan;Question_Log__c;Quote;RICEFW_Inventory__c;Rebate_Enrollment__c;Rebate_form__c;Release__c;Request__c;Room__c;SFCCLtngPtr__SFDC_Budget__c;SFCCLtngPtr__SFDC_Channel_Account_Plan__c;SFCCLtngPtr__SFDC_MDF_Claim__c;SFCCLtngPtr__SFDC_MDF__c;SFCCLtngPtr__SFDC_Objective__c;SWx_Upsell_Items__c;SWx_Upsell_Proposal__c;Sales_Order_Reporting__c;Sales_Role_Audit__c;Sales_Role_History__c;Security_Knowledge__c;ServiceContract;Service_Agreement__c;Session__c;Sign_Off__c;Solution;Speaker__c;Sprint__c;SurveyQuestion;Term__c;Test_Case__c;Test_Execution__c;Test_Iterations__c;Test_Scenario__c;Test_Script__c;Theme__c;Tier_Discount_Detail__c;Track__c;Training_Certification_Plan__c;Training_Material__c;Upsell_Container__c;Use_Case__c;User_Story__c;Value_Delivery_Objectives_Options__c;Value_Delivery_Session__c;Venue__c;bofc__BOFCErrorLogs__c;bofc__BOFCFieldsAnalyzerPicklistResult__c;bofc__BOFCFieldsAnalyzerResult__c;bofc__BOFCFieldsAnalyzer__c;bofc__BOFCProfileExtract__c;bofc__BOFCReportResults__c;jiffle__Attendee__c;jiffle__Briefing_Acc_Opp_Relations__c;jiffle__Briefing_Activity__c;jiffle__Briefing_Center__c;jiffle__Briefing_Invites__c;jiffle__Briefing__c;jiffle__Event_Master__c;jiffle__Event__c;jiffle__Invites__c;jiffle__JNConfig__c;jiffle__Mapping__c;jiffle__Meeting_Relations__c;jiffle__Meeting__c;mkto_si__Get_Method_Argus__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact;Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhoId</field>
            <value>
                <elementReference>SObject.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_3_A1</name>
        <label>Pending Time Record creation</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>CH_Stage__c</field>
            <value>
                <elementReference>SObject.CH_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Start Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>CH_StartTime__c</field>
            <value>
                <elementReference>SObject.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Support Ticket</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>CH_SupportTicket__c</field>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Pending Time/Suspension Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>SObject.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <object>CH_PendingTimeSuspension__c</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_5_A1</name>
        <label>New Task</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_7317764027</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reminder Set</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>SObject.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reminder Date/Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formula_7_myRule_5_A1_0943413635</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Follow up with Customer on Pending Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account;Account_Member__c;Accreditation_Level_Rule__c;Accreditation__c;Accrual_junction__c;Additional_Resource_Request__c;Agile_Reports__c;Application_Inventory__c;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_CMConfig__AgreementAdjustmentLineItem__c;Apttus_CMConfig__AgreementFootnote__c;Apttus_CMConfig__AgreementIncentiveBenefitData__c;Apttus_CMConfig__AgreementIncentiveLimitData__c;Apttus_CMConfig__AgreementProductAttributeValue__c;Apttus_CMConfig__AgreementRelatedLineItem__c;Apttus_CMConfig__AgreementRollupData__c;Apttus_CMConfig__AgreementSummaryGroup__c;Apttus_CMConfig__AgreementSummary__c;Apttus_CMConfig__AgreementUsagePriceTier__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlanTemplateItem__c;Apttus_Config2__BillingPlanTemplate__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__CostItem__c;Apttus_Config2__CustomerPOIssueLog__c;Apttus_Config2__CustomerPOItem__c;Apttus_Config2__CustomerPOSalesOrderRelationHistory__c;Apttus_Config2__CustomerPurchaseOrder__c;Apttus_Config2__DataEnrichmentRule__c;Apttus_Config2__DataValidationEnrichmentRuleset__c;Apttus_Config2__DataValidationRule__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderRollupData__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__IncentiveLoyaltyEnrollment__c;Apttus_Config2__Incentive__c;Apttus_Config2__LegalEntity__c;Apttus_Config2__LineItem__c;Apttus_Config2__LoyaltyPointAccrualAdjustmentItem__c;Apttus_Config2__LoyaltyPointAccrualSummary__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderFulfillment__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderLoyaltyPointAccrualItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRelatedLineItem__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceEscalator__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedLineItem__c;Apttus_Config2__RelatedOpportunityLineItemColl__c;Apttus_Config2__RelatedOpportunityLineItem__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__RevenueSplitPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_DealMgr__DealGuidanceDimensionSetMember__c;Apttus_DealMgr__DealGuidanceDimensionSet__c;Apttus_DealMgr__DealGuidanceDimension__c;Apttus_DealMgr__DealGuidanceRuleEntry__c;Apttus_DealMgr__DealGuidanceRule__c;Apttus_DealMgr__DealPercentileRange__c;Apttus_DealMgr__DealSummaryGroup__c;Apttus_DealMgr__DealTerm__c;Apttus_DealMgr__Deal__c;Apttus_DealOpti__ComparableDeal__c;Apttus_DealOpti__PriceWaterfallComponent__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRelatedLineItem__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__Obligation__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;Business_Plan__c;CCRE_UpSell_LineItem__c;CH_CDB_ServiceContractType__c;CH_Case_PA_InterfaceMapping__c;CH_Corrective_Preventive_Action__c;CH_InterfaceMapping__c;CH_LegacyCaseDetail__c;CH_OutageDuration__c;CH_PendingTimeSuspension__c;CH_Problem_RnD_Reference__c;CH_Track_Field_Change__c;CMD_Approval_Data__c;CMD_Pack4_Data__c;CQ_Customer_Contact__c;CSecR_Support_Team__c;Campaign;Capability__c;CareDiagnosis;CarePreauth;CarePreauthItem;CareRequest;CareRequestDrug;CareRequestExtension;CareRequestItem;Case;Certification_Matrix__c;Certification__c;Change_Impact__c;ChannelProgram;ChannelProgramLevel;Claim__c;Co_Op_Activity__c;Co_Op_Allocation__c;Commercial_Entitlement__c;Competitor__c;ContactRequest;Contract;ContractLineItem;Course__c;CoverageBenefit;CoverageBenefitItem;Curriculum_Certification_Mapping__c;Curriculum_Course_Mapping__c;Dated_Exchange_Rates__c;DealProduct__c;Deal__c;Defect__c;Demo__c;DesignElement_Items__c;ERM_Stakeholder__c;Entitlement;Event_Registration__c;Event__c;File_Report__c;File_Upload__c;Fund__c;Glossary_Item__c;HWS_VersionItem__c;IDC_Task__c;Impact_Assessments__c;Investments_in_Lab_and_Demo_Equipment__c;Issues_Risks__c;ListEmail;Marketing_Plan_and_Industry_Events__c;MemberPlan;Multi_Language_Terms__c;NIA_SurveyQuestionResponse__c;NIA_SurveyResponse__c;NokiaCPQ_Maintenance_and_SSP_Rules__c;OLCS_Information__c;Opportunity;Order;Order_Intake_Forecast__c;PartnerFundAllocation;PartnerFundClaim;PartnerFundRequest;PartnerMarketingBudget;PlanBenefit;PlanBenefitItem;Pre_C3_Commitment__c;Product2;Product_Attribute_Value_extension__c;PurchaserPlan;Question_Log__c;Quote;RICEFW_Inventory__c;Rebate_Enrollment__c;Rebate_form__c;Release__c;Request__c;Room__c;SFCCLtngPtr__SFDC_Budget__c;SFCCLtngPtr__SFDC_Channel_Account_Plan__c;SFCCLtngPtr__SFDC_MDF_Claim__c;SFCCLtngPtr__SFDC_MDF__c;SFCCLtngPtr__SFDC_Objective__c;SWx_Upsell_Items__c;SWx_Upsell_Proposal__c;Sales_Order_Reporting__c;Sales_Role_Audit__c;Sales_Role_History__c;Security_Knowledge__c;ServiceContract;Service_Agreement__c;Session__c;Sign_Off__c;Solution;Speaker__c;Sprint__c;SurveyQuestion;Term__c;Test_Case__c;Test_Execution__c;Test_Iterations__c;Test_Scenario__c;Test_Script__c;Theme__c;Tier_Discount_Detail__c;Track__c;Training_Certification_Plan__c;Training_Material__c;Upsell_Container__c;Use_Case__c;User_Story__c;Value_Delivery_Objectives_Options__c;Value_Delivery_Session__c;Venue__c;bofc__BOFCErrorLogs__c;bofc__BOFCFieldsAnalyzerPicklistResult__c;bofc__BOFCFieldsAnalyzerResult__c;bofc__BOFCFieldsAnalyzer__c;bofc__BOFCProfileExtract__c;bofc__BOFCReportResults__c;jiffle__Attendee__c;jiffle__Briefing_Acc_Opp_Relations__c;jiffle__Briefing_Activity__c;jiffle__Briefing_Center__c;jiffle__Briefing_Invites__c;jiffle__Briefing__c;jiffle__Event_Master__c;jiffle__Event__c;jiffle__Invites__c;jiffle__JNConfig__c;jiffle__Mapping__c;jiffle__Meeting_Relations__c;jiffle__Meeting__c;mkto_si__Get_Method_Argus__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact;Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhoId</field>
            <value>
                <elementReference>SObject.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_9_A1</name>
        <label>New Task</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_10_myRule_9_A1_2184997924</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reminder Set</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>SObject.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reminder Date/Time</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formula_11_myRule_9_A1_1922311627</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Follow up with Customer on Pending Question</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account;Account_Member__c;Accreditation_Level_Rule__c;Accreditation__c;Accrual_junction__c;Additional_Resource_Request__c;Agile_Reports__c;Application_Inventory__c;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_CMConfig__AgreementAdjustmentLineItem__c;Apttus_CMConfig__AgreementFootnote__c;Apttus_CMConfig__AgreementIncentiveBenefitData__c;Apttus_CMConfig__AgreementIncentiveLimitData__c;Apttus_CMConfig__AgreementProductAttributeValue__c;Apttus_CMConfig__AgreementRelatedLineItem__c;Apttus_CMConfig__AgreementRollupData__c;Apttus_CMConfig__AgreementSummaryGroup__c;Apttus_CMConfig__AgreementSummary__c;Apttus_CMConfig__AgreementUsagePriceTier__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlanTemplateItem__c;Apttus_Config2__BillingPlanTemplate__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__CostItem__c;Apttus_Config2__CustomerPOIssueLog__c;Apttus_Config2__CustomerPOItem__c;Apttus_Config2__CustomerPOSalesOrderRelationHistory__c;Apttus_Config2__CustomerPurchaseOrder__c;Apttus_Config2__DataEnrichmentRule__c;Apttus_Config2__DataValidationEnrichmentRuleset__c;Apttus_Config2__DataValidationRule__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderRollupData__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__IncentiveLoyaltyEnrollment__c;Apttus_Config2__Incentive__c;Apttus_Config2__LegalEntity__c;Apttus_Config2__LineItem__c;Apttus_Config2__LoyaltyPointAccrualAdjustmentItem__c;Apttus_Config2__LoyaltyPointAccrualSummary__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderFulfillment__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderLoyaltyPointAccrualItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRelatedLineItem__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceEscalator__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedLineItem__c;Apttus_Config2__RelatedOpportunityLineItemColl__c;Apttus_Config2__RelatedOpportunityLineItem__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__RevenueSplitPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_DealMgr__DealGuidanceDimensionSetMember__c;Apttus_DealMgr__DealGuidanceDimensionSet__c;Apttus_DealMgr__DealGuidanceDimension__c;Apttus_DealMgr__DealGuidanceRuleEntry__c;Apttus_DealMgr__DealGuidanceRule__c;Apttus_DealMgr__DealPercentileRange__c;Apttus_DealMgr__DealSummaryGroup__c;Apttus_DealMgr__DealTerm__c;Apttus_DealMgr__Deal__c;Apttus_DealOpti__ComparableDeal__c;Apttus_DealOpti__PriceWaterfallComponent__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRelatedLineItem__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__Obligation__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;Business_Plan__c;CCRE_UpSell_LineItem__c;CH_CDB_ServiceContractType__c;CH_Case_PA_InterfaceMapping__c;CH_Corrective_Preventive_Action__c;CH_InterfaceMapping__c;CH_LegacyCaseDetail__c;CH_OutageDuration__c;CH_PendingTimeSuspension__c;CH_Problem_RnD_Reference__c;CH_Track_Field_Change__c;CMD_Approval_Data__c;CMD_Pack4_Data__c;CQ_Customer_Contact__c;CSecR_Support_Team__c;Campaign;Capability__c;CareDiagnosis;CarePreauth;CarePreauthItem;CareRequest;CareRequestDrug;CareRequestExtension;CareRequestItem;Case;Certification_Matrix__c;Certification__c;Change_Impact__c;ChannelProgram;ChannelProgramLevel;Claim__c;Co_Op_Activity__c;Co_Op_Allocation__c;Commercial_Entitlement__c;Competitor__c;ContactRequest;Contract;ContractLineItem;Course__c;CoverageBenefit;CoverageBenefitItem;Curriculum_Certification_Mapping__c;Curriculum_Course_Mapping__c;Dated_Exchange_Rates__c;DealProduct__c;Deal__c;Defect__c;Demo__c;DesignElement_Items__c;ERM_Stakeholder__c;Entitlement;Event_Registration__c;Event__c;File_Report__c;File_Upload__c;Fund__c;Glossary_Item__c;HWS_VersionItem__c;IDC_Task__c;Impact_Assessments__c;Investments_in_Lab_and_Demo_Equipment__c;Issues_Risks__c;ListEmail;Marketing_Plan_and_Industry_Events__c;MemberPlan;Multi_Language_Terms__c;NIA_SurveyQuestionResponse__c;NIA_SurveyResponse__c;NokiaCPQ_Maintenance_and_SSP_Rules__c;OLCS_Information__c;Opportunity;Order;Order_Intake_Forecast__c;PartnerFundAllocation;PartnerFundClaim;PartnerFundRequest;PartnerMarketingBudget;PlanBenefit;PlanBenefitItem;Pre_C3_Commitment__c;Product2;Product_Attribute_Value_extension__c;PurchaserPlan;Question_Log__c;Quote;RICEFW_Inventory__c;Rebate_Enrollment__c;Rebate_form__c;Release__c;Request__c;Room__c;SFCCLtngPtr__SFDC_Budget__c;SFCCLtngPtr__SFDC_Channel_Account_Plan__c;SFCCLtngPtr__SFDC_MDF_Claim__c;SFCCLtngPtr__SFDC_MDF__c;SFCCLtngPtr__SFDC_Objective__c;SWx_Upsell_Items__c;SWx_Upsell_Proposal__c;Sales_Order_Reporting__c;Sales_Role_Audit__c;Sales_Role_History__c;Security_Knowledge__c;ServiceContract;Service_Agreement__c;Session__c;Sign_Off__c;Solution;Speaker__c;Sprint__c;SurveyQuestion;Term__c;Test_Case__c;Test_Execution__c;Test_Iterations__c;Test_Scenario__c;Test_Script__c;Theme__c;Tier_Discount_Detail__c;Track__c;Training_Certification_Plan__c;Training_Material__c;Upsell_Container__c;Use_Case__c;User_Story__c;Value_Delivery_Objectives_Options__c;Value_Delivery_Session__c;Venue__c;bofc__BOFCErrorLogs__c;bofc__BOFCFieldsAnalyzerPicklistResult__c;bofc__BOFCFieldsAnalyzerResult__c;bofc__BOFCFieldsAnalyzer__c;bofc__BOFCProfileExtract__c;bofc__BOFCReportResults__c;jiffle__Attendee__c;jiffle__Briefing_Acc_Opp_Relations__c;jiffle__Briefing_Activity__c;jiffle__Briefing_Center__c;jiffle__Briefing_Invites__c;jiffle__Briefing__c;jiffle__Event_Master__c;jiffle__Event__c;jiffle__Invites__c;jiffle__JNConfig__c;jiffle__Mapping__c;jiffle__Meeting_Relations__c;jiffle__Meeting__c;mkto_si__Get_Method_Argus__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact;Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhoId</field>
            <value>
                <elementReference>SObject.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SObject</outputReference>
        <queriedFields>Status</queriedFields>
        <queriedFields>CH_PendingbyEmail__c</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>CH_Stage__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Severity__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CH_RecordTypeDevName__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case].Tasks</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Complete all the related tasks</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>sobjectInputCheckDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
