src/flows/CH_Create_a_Reason_Record_for_Missed_Milestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>CH_Are_Compulsory_Fields_Entered</name>
        <label>Are Compulsory Fields Entered?</label>
        <locationX>475</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Check_whether_chosen_Reason_For_is_relevant_to_Milestones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CH_Are_those_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CH_ReasonForSelected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_ReasonsSelected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_Error_Message</targetReference>
            </connector>
            <label>Are those null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_chosen_Reason_For_is_relevant_to_Milestones</name>
        <label>Check whether chosen Reason For is relevant to Milestones</label>
        <locationX>474</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>No_Milestone_value_chosen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Milestone_Value_chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_ReasonForSelected</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>milestone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_Create_a_Reason_Record</targetReference>
            </connector>
            <label>Milestone Value chosen?</label>
        </rules>
    </decisions>
    <description>This is displayed on a CH screen, allowing the user to directly enter in a reason for a Missed Milestone. This flow is exposed by used a lightnining component. Related to US 675 and Defect 15131</description>
    <dynamicChoiceSets>
        <name>CH_ReasonForList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CH_RejectionReasonfor__c</picklistField>
        <picklistObject>CH_Reasons__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CH_ReasonsList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CH_Rejection_Reasons__c</picklistField>
        <picklistObject>CH_Reasons__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CH_TypeList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CH_RejectionReason_Type__c</picklistField>
        <picklistObject>CH_Reasons__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Create a Reason Record for Missed Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Reason Record for Missed Milestone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CH_Create_a_Reason_Record</name>
        <label>Create a Reason Record</label>
        <locationX>329</locationX>
        <locationY>707</locationY>
        <faultConnector>
            <targetReference>CH_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CH_Date_Time_Reason_Entered__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Reason_AdditionalComments__c</field>
            <value>
                <elementReference>CH_Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_RejectionReasonfor__c</field>
            <value>
                <elementReference>CH_ReasonForSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Rejection_Reasons__c</field>
            <value>
                <elementReference>CH_ReasonsSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SupportTicket_Reasons__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>CH_Reasons__c</object>
    </recordCreates>
    <recordLookups>
        <name>CH_Fetch_current_case_record</name>
        <label>Fetch current case record</label>
        <locationX>228</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_Reason_for_missed_milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_ParentRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>CH_Error_Message</name>
        <label>Error Message</label>
        <locationX>141</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CH_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Insufficient access right on that case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_Reason_for_missed_milestone</name>
        <label>Reason for missed milestone</label>
        <locationX>388</locationX>
        <locationY>82</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CH_Reason_Record</targetReference>
        </connector>
        <fields>
            <name>CH_DisplayMessage</name>
            <fieldText>Create a Reason For Missed Milestone</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_Reason_Record</name>
        <label>Reason Record</label>
        <locationX>228</locationX>
        <locationY>169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CH_Are_Compulsory_Fields_Entered</targetReference>
        </connector>
        <fields>
            <name>CH_Record</name>
            <fieldText>Reason For Missed Milestone</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CH_ReasonDependency</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>CH_Reasons__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>CH_Rejection_Reasons__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>CH_RejectionReasonfor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Reason For</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Reasons</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CH_ReasonForSelected</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CH_ReasonsSelected</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CH_Additional_Comments</name>
            <dataType>String</dataType>
            <fieldText>Additional Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Milestone_value_chosen</name>
        <label>No Milestone value chosen</label>
        <locationX>918</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoMilestoneText</name>
            <fieldText>Reason For needs to have a Milestone related value.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CH_Fetch_current_case_record</startElementReference>
    <status>Active</status>
    <variables>
        <name>CH_ParentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CH_ReasonForSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CH_ReasonsSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
