src/flows/CH_Create_ODR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddODRRecordId</name>
        <label>AddODRRecordId</label>
        <locationX>180</locationX>
        <locationY>96</locationY>
        <assignmentItems>
            <assignToReference>LatestODRRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutageDurationParent.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>There_is_a_not_finished_ODR_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Further_ODR_Start_Date</name>
        <label>Assign Further ODR Start Date</label>
        <locationX>1220</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>StartDateODRtoCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LatestODRDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outage_Duration_Editing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_Date_First_ODR</name>
        <label>Assign Start Date First ODR</label>
        <locationX>754</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>StartDateODRtoCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncidentRecordContent.CH_OutageStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outage_Duration_Editing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Find_latest_ODR_Date</name>
        <label>Find latest ODR Date</label>
        <locationX>457</locationX>
        <locationY>6</locationY>
        <assignmentItems>
            <assignToReference>LatestODRDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutageDurationParent.CH_DurationEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GoThroughChildRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Find_latest_ODR_Date_0</name>
        <label>Find latest ODR Date</label>
        <locationX>681</locationX>
        <locationY>5</locationY>
        <assignmentItems>
            <assignToReference>FirstODRDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutageStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncidentRecordContent.CH_OutageStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_First_ODR_Created_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetActiveFirstODR</name>
        <label>SetActiveFirstODR</label>
        <locationX>754</locationX>
        <locationY>111</locationY>
        <assignmentItems>
            <assignToReference>ActiveFirstODR</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GoThroughChildRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLatestODRDateToOutageStartDate</name>
        <label>SetLatestODRDateToOutageStartDate</label>
        <locationX>1221</locationX>
        <locationY>121</locationY>
        <assignmentItems>
            <assignToReference>LatestODRDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutageStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Further_ODR_Start_Date</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>None_Picklist</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Is_First_ODR_Deleted</name>
        <label>Is First ODR Deleted?</label>
        <locationX>464</locationX>
        <locationY>145</locationY>
        <defaultConnector>
            <targetReference>Is_Latest_ODR_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>First_ODR_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutageDurationParent.CH_DurationStartDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IncidentRecordContent.CH_OutageStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OutageDurationParent.CH_OutageDurationStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActiveFirstODR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_latest_ODR_Date_0</targetReference>
            </connector>
            <label>First ODR Deleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_First_ODR_Deleted_0</name>
        <label>Is First ODR Deleted?</label>
        <locationX>1046</locationX>
        <locationY>112</locationY>
        <defaultConnector>
            <targetReference>Find_First_ODR_Created_Again</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_First_ODR_Created_Again_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ODRRecordLoopVariable.CH_DurationStartDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IncidentRecordContent.CH_OutageStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ODRRecordLoopVariable.CH_OutageDurationStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetActiveFirstODR</targetReference>
            </connector>
            <label>Check First ODR Created Again</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Latest_ODR_Start_Date</name>
        <label>Is Latest ODR Start Date?</label>
        <locationX>459</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>GoThroughChildRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_Latest_ODR_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutageDurationParent.CH_DurationStartDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LatestODRDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OutageDurationParent.CH_OutageDurationStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_ODR_finished</targetReference>
            </connector>
            <label>Check Latest ODR Start Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ODR_finished</name>
        <label>Is ODR finished?</label>
        <locationX>180</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>Find_latest_ODR_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_ODR_End_Date_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OutageDurationParent.CH_DurationEndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddODRRecordId</targetReference>
            </connector>
            <label>Check ODR End Date Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoFurtherChildRecord</name>
        <label>NoFurtherChildRecord</label>
        <locationX>751</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>GoThroughChildRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Existing_CHild_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ODRChildRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Start_Date_First_ODR</targetReference>
            </connector>
            <label>No Existing CHild Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outage_Duration_Start_Date_set_on_Support_Ticket</name>
        <label>Outage Duration Start Date set on Support Ticket</label>
        <locationX>331</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>Please_set_Outage_Duration_Start_Date_first</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Duration_Start_Date_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncidentRecordContent.CH_OutageStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueryODRChildRecords</targetReference>
            </connector>
            <label>Duration Start Date Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_on_Outage_unit</name>
        <label>Validation on Outage unit</label>
        <locationX>1509</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>getODRProductUnitsDataObjectbyName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outage_unit</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8</conditionLogic>
            <conditions>
                <leftValueReference>UnitSelected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UnitSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outage_Duration_Cause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outage_Duration_Cause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Outage_Duration_Cause</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Duration_Classification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Duration_Classification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Duration_Classification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_for_Mandatory</targetReference>
            </connector>
            <label>Outage unit</label>
        </rules>
        <rules>
            <name>Selected_unit_Percent_Affected</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>UnitSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Percent Affected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Units_Total</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Units_Affected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_message_for_Percent_Affected</targetReference>
            </connector>
            <label>Selected unit Percent Affected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AttributablePartyPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CH_AttributableParty__c</picklistField>
        <picklistObject>CH_OutageDuration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DurationClassificationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CH_DurationClassification__c</picklistField>
        <picklistObject>CH_OutageDuration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OutageDurationCausePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CH_OutageDurationCause__c</picklistField>
        <picklistObject>CH_OutageDuration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OutageDurationStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CH_OutageDurationStatus__c</picklistField>
        <picklistObject>CH_OutageDuration__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Add1Minute</name>
        <dataType>DateTime</dataType>
        <expression>{!LatestODRDate} + (1/1440)</expression>
    </formulas>
    <formulas>
        <name>CheckIfODREndDateAfterEndDateOnIncident</name>
        <dataType>DateTime</dataType>
        <expression>IF( {!IncidentRecordContent.CH_OutageEndDate__c} &lt; {!Duration_End_Date} || ISNULL({!IncidentRecordContent.CH_OutageEndDate__c}), {!Duration_End_Date}, {!IncidentRecordContent.CH_OutageEndDate__c})</expression>
    </formulas>
    <formulas>
        <name>EndDateNotExceedsPresent</name>
        <dataType>Boolean</dataType>
        <expression>Now() &gt;= {!Duration_End_Date} &amp;&amp;  {!Duration_Start_Date} &lt; {!Duration_End_Date}</expression>
    </formulas>
    <formulas>
        <name>StartDateNotExceedsPresent</name>
        <dataType>Boolean</dataType>
        <expression>NOW()&gt;={!Duration_Start_Date}</expression>
    </formulas>
    <interviewLabel>CH_Create ODR  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH_Create ODR</label>
    <loops>
        <name>Find_First_ODR_Created_Again</name>
        <label>Find First ODR Created Again</label>
        <locationX>1218</locationX>
        <locationY>10</locationY>
        <assignNextValueToReference>ODRRecordLoopVariable</assignNextValueToReference>
        <collectionReference>ODRChildRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_First_ODR_Deleted_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetLatestODRDateToOutageStartDate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>GoThroughChildRecords</name>
        <label>GoThroughChildRecords</label>
        <locationX>751</locationX>
        <locationY>212</locationY>
        <assignNextValueToReference>OutageDurationParent</assignNextValueToReference>
        <collectionReference>ODRChildRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_First_ODR_Deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Further_ODR_Start_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Record</name>
        <label>Create Child Record</label>
        <locationX>751</locationX>
        <locationY>717</locationY>
        <assignRecordIdToReference>caseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Record_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CH_AttributableParty__c</field>
            <value>
                <elementReference>Attributable_Party</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_DurationClassification__c</field>
            <value>
                <elementReference>Duration_Classification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_DurationEndDate__c</field>
            <value>
                <elementReference>Duration_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_DurationStartDate__c</field>
            <value>
                <elementReference>Duration_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ODR_Comment__c</field>
            <value>
                <elementReference>ODR_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_OutageDurationCause__c</field>
            <value>
                <elementReference>Outage_Duration_Cause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_OutageDurationStatus__c</field>
            <value>
                <elementReference>Outage_Duration_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Outage_Units_ODR__c</field>
            <value>
                <elementReference>ODRProductUnitsObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_SupportTicket__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_UnitsAffected1__c</field>
            <value>
                <elementReference>Units_Affected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_UnitsTotal1__c</field>
            <value>
                <elementReference>Units_Total</elementReference>
            </value>
        </inputAssignments>
        <object>CH_OutageDuration__c</object>
    </recordCreates>
    <recordLookups>
        <name>getODRProductUnitsDataObjectbyName</name>
        <label>getODRProductUnitsDataObjectbyName</label>
        <locationX>1079</locationX>
        <locationY>693</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Child_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductSelected</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitSelected</elementReference>
            </value>
        </filters>
        <object>CH_ODRProductUnitsData__c</object>
        <outputReference>ODRProductUnitsObject</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>QueryIncident</name>
        <label>QueryIncident</label>
        <locationX>179</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outage_Duration_Start_Date_set_on_Support_Ticket</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>IncidentRecordContent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_OutageStartDate__c</queriedFields>
        <queriedFields>CH_OutageEndDate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>QueryODRChildRecords</name>
        <label>QueryODRChildRecords</label>
        <locationX>579</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoFurtherChildRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CH_SupportTicket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncidentRecordContent.Id</elementReference>
            </value>
        </filters>
        <object>CH_OutageDuration__c</object>
        <outputReference>ODRChildRecords</outputReference>
        <queriedFields>CH_DurationStartDate__c</queriedFields>
        <queriedFields>CH_DurationEndDate__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_OutageDurationStatus__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>577</locationX>
        <locationY>594</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextErrorMessage</name>
            <fieldText>{!ErrorMessageFlow}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message_for_Mandatory</name>
        <label>Error_Message_for_Mandatory</label>
        <locationX>1824</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Outage_Duration_Editing</targetReference>
        </connector>
        <fields>
            <name>Error_Message_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(166, 26, 20);&quot;&gt;Please fill in the mandatory fields (red asterisk)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_message_for_Percent_Affected</name>
        <label>Error_message_for_Percent_Affected</label>
        <locationX>1825</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Outage_Duration_Editing</targetReference>
        </connector>
        <fields>
            <name>Error_Message_Percent_Affected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(166, 26, 20);&quot;&gt;If the field “Select a unit” is set to “Percent Affected” the field “Units Total” should be set to “100” and the field “Units Affected” should be set in the range 0-100&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Outage_Duration_Editing</name>
        <label>Outage Duration Editing</label>
        <locationX>1081</locationX>
        <locationY>493</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validation_on_Outage_unit</targetReference>
        </connector>
        <fields>
            <name>Outage_Duration_Status</name>
            <choiceReferences>OutageDurationStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outage Duration Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attributable_Party</name>
            <choiceReferences>AttributablePartyPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Attributable Party</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OutageUnits</name>
            <extensionName>c:CH_MainLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedRecordForFlow</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ProductSelected</assignToReference>
                <name>productName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>UnitSelected</assignToReference>
                <name>picklistODRUnits</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Units_Affected</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Units_Affected</elementReference>
            </defaultValue>
            <fieldText>Units Affected</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Units_Total</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Units_Total</elementReference>
            </defaultValue>
            <fieldText>Units Total</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Outage_Duration_Cause</name>
            <choiceReferences>None_Picklist</choiceReferences>
            <choiceReferences>OutageDurationCausePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None_Picklist</defaultSelectedChoiceReference>
            <fieldText>Outage Duration Cause</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duration_Classification</name>
            <choiceReferences>None_Picklist</choiceReferences>
            <choiceReferences>DurationClassificationPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Duration Classification</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duration_Start_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>StartDateODRtoCreate</elementReference>
            </defaultValue>
            <fieldText>Duration Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Duration_End_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Duration End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ODR_Comment</name>
            <fieldText>ODR Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Please_set_Outage_Duration_Start_Date_first</name>
        <label>Please set Outage Duration Start Date first</label>
        <locationX>328</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OutageDurationStartDateMessage</name>
            <fieldText>Outage Duration Start Date hasn&apos;t been set yet</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Created</name>
        <label>Record Created</label>
        <locationX>754</locationX>
        <locationY>921</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CH_Successfullcreationtext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;ODR Record has been created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Record has been created</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>There_is_a_not_finished_ODR_Record</name>
        <label>There is a not yet finished ODR Record</label>
        <locationX>183</locationX>
        <locationY>5</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageaboutnotyetfinishedODR</name>
            <fieldText>There is a not yet finished ODR: {!ODRLink}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>QueryIncident</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ErrorMessageFlow</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!$Flow.FaultMessage}</text>
    </textTemplates>
    <textTemplates>
        <name>ODRLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;a href=&quot;/one/one.app#/sObject/{!LatestODRRecordID}/view&quot; target=&quot;_blank&quot;&gt;ODR Link&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>ActiveFirstODR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>caseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstODRDeleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IncidentRecordContent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>LatestODRDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LatestODRRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewODR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_OutageDuration__c</objectType>
    </variables>
    <variables>
        <name>ODRChildRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_OutageDuration__c</objectType>
    </variables>
    <variables>
        <name>ODRChildRecordStartDates</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ODRProductUnitsObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_ODRProductUnitsData__c</objectType>
    </variables>
    <variables>
        <name>ODRRecordLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_OutageDuration__c</objectType>
    </variables>
    <variables>
        <name>OutageDurationParent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_OutageDuration__c</objectType>
    </variables>
    <variables>
        <name>OutageStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProdcutObjectSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_ODRProductUnitsData__c</objectType>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductSearchKeyWord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartDateODRtoCreate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UnitSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
