src/flows/CH_CustomerCommunications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>CH_Direction_Inbound</name>
        <choiceText>Inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Direction_Outbound</name>
        <choiceText>Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Method_AlreadyCommunicated</name>
        <choiceText>Already Communicated</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Already Communicated</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Method_Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Method_Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Type_CustomerInfoRequest_CIR</name>
        <choiceText>Customer Info Request (CIR)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CIR</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Type_Initial_Response</name>
        <choiceText>Initial Response</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Initial_Response</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Type_Restore</name>
        <choiceText>Restore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Restore</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Type_Solution</name>
        <choiceText>Solution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solution</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Type_SummarytoCustomer</name>
        <choiceText>Summary to Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Summary to Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Type_TemporarySolution</name>
        <choiceText>Temporary Solution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Temporary Solution</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CH_IncidentValidation</name>
        <label>Incident Validation</label>
        <locationX>591</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>CH_InvalidCombination</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CH_Incident_OutboundInitialResponse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_Incident_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CH_Type_Initial_Response</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.CH_InitialResponse__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Direction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CH_Direction_Outbound</elementReference>
                </rightValue>
            </conditions>
            <label>Outbound - Initial Response</label>
        </rules>
        <rules>
            <name>CH_Incident_OutboundRestoration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.CH_RestorationMethod__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_Direction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CH_Direction_Outbound</elementReference>
                </rightValue>
            </conditions>
            <label>Outbound - Restoration</label>
        </rules>
        <rules>
            <name>CH_Incident_Outbound_TemporarySolution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_Direction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CH_Direction_Outbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.CH_TemporarySolutionProvided__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.CH_SystemRestored__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.CH_TemporarySolution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Outbound Temporary Solution</label>
        </rules>
        <rules>
            <name>CH_Incident_Outbound_Solution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.CH_SystemRestored__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.CH_SolutionProvided__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.CH_Solution__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Outbound - Solution</label>
        </rules>
        <rules>
            <name>CH_Incident_Outbound_CustomerInformationRequest</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CH_Direction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CH_Direction_Inbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.CH_SolutionProvided__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Outbound - Customer Information Request</label>
        </rules>
        <rules>
            <name>CH_Incident_Inbound_Restoration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_Direction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CH_Direction_Inbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.CH_SystemRestored__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_InboundCommunication</targetReference>
            </connector>
            <label>Inbound - Restoration</label>
        </rules>
        <rules>
            <name>CH_Incident_Inbound_TemporarySolution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_Direction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CH_Direction</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.CH_TemporarySolutionProvided__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_InboundCommunication</targetReference>
            </connector>
            <label>Inbound - Temporary Solution</label>
        </rules>
        <rules>
            <name>CH_Incident_Inbound_Solution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_Direction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CH_Direction_Inbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.CH_SolutionProvided__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_InboundCommunication</targetReference>
            </connector>
            <label>Inbound - Solution</label>
        </rules>
        <rules>
            <name>CH_Inbound_CustomerInformationRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_Direction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CH_Direction_Inbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_InboundCommunication</targetReference>
            </connector>
            <label>Inbound - Customer Information Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>CH_ValidateRecordType</name>
        <label>Validate RecordType</label>
        <locationX>420</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CH_ValidateRecordTyp_InformationRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121F000000BkeOQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Information_Request</targetReference>
            </connector>
            <label>Information Request</label>
        </rules>
        <rules>
            <name>CH_ValidateRecordType_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121F000000BkePQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
        <rules>
            <name>CH_ValidateRecordType_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentCase_Values.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121F000000BkeNQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incident</targetReference>
            </connector>
            <label>Incident</label>
        </rules>
    </decisions>
    <description>This is a flow that allows users to record inbound and outbound communications. The actions will set the appropiate status and/or milestone actions.</description>
    <interviewLabel>CH Customer Communications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CH Customer Communications</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>CH_GetCurrentCase</name>
        <label>Get Current Case</label>
        <locationX>170</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_ValidateRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_CurrentCase_Values</outputReference>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CH_IsCompleteInitialResponse__c</queriedFields>
        <queriedFields>CH_IsCompleteRestore__c</queriedFields>
        <queriedFields>CH_IsCompleteServiceDisruptionReport__c</queriedFields>
        <queriedFields>CH_IsCompleteTemporarySolution__c</queriedFields>
        <queriedFields>CH_IsCompleteSolutionProvided__c</queriedFields>
        <queriedFields>CH_InitialResponse__c</queriedFields>
        <queriedFields>CH_SystemRestored__c</queriedFields>
        <queriedFields>CH_TemporarySolution__c</queriedFields>
        <queriedFields>CH_TemporarySolutionProvided__c</queriedFields>
        <queriedFields>CH_Solution__c</queriedFields>
        <queriedFields>CH_SolutionProvided__c</queriedFields>
        <queriedFields>CH_RestorationMethod__c</queriedFields>
    </recordLookups>
    <screens>
        <name>CH_InboundCommunication</name>
        <label>Inbound Communication</label>
        <locationX>332</locationX>
        <locationY>492</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CH_InboundCommunication_DisplayText</name>
            <fieldText>This is inbound communication</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_InvalidCombination</name>
        <label>Invalid Combination</label>
        <locationX>833</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CH_InvalidCombination_DisplayText</name>
            <fieldText>Invalid Combination selected. Please select a valid option.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incident</name>
        <label>Incident</label>
        <locationX>594</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CH_IncidentValidation</targetReference>
        </connector>
        <fields>
            <name>CH_Text_Incident</name>
            <fieldText>Incident</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CH_Incident_Type</name>
            <choiceReferences>CH_Type_Initial_Response</choiceReferences>
            <choiceReferences>CH_Type_Solution</choiceReferences>
            <choiceReferences>CH_Type_SummarytoCustomer</choiceReferences>
            <choiceReferences>CH_Type_Restore</choiceReferences>
            <choiceReferences>CH_Type_TemporarySolution</choiceReferences>
            <choiceReferences>CH_Type_CustomerInfoRequest_CIR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CH_Method</name>
            <choiceReferences>CH_Method_Email</choiceReferences>
            <choiceReferences>CH_Method_Phone</choiceReferences>
            <choiceReferences>CH_Method_AlreadyCommunicated</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CH_Direction</name>
            <choiceReferences>CH_Direction_Inbound</choiceReferences>
            <choiceReferences>CH_Direction_Outbound</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Direction</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Information_Request</name>
        <label>Information Request</label>
        <locationX>215</locationX>
        <locationY>230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CH_Text</name>
            <fieldText>This is an information request</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CH_InformationRequest_Type</name>
            <choiceReferences>CH_Type_Initial_Response</choiceReferences>
            <choiceReferences>CH_Type_Solution</choiceReferences>
            <choiceReferences>CH_Type_SummarytoCustomer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CR_InformationRequest_Method</name>
            <choiceReferences>CH_Method_AlreadyCommunicated</choiceReferences>
            <choiceReferences>CH_Method_Email</choiceReferences>
            <choiceReferences>CH_Method_Phone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CH_InformationRequest_Direction</name>
            <choiceReferences>CH_Direction_Inbound</choiceReferences>
            <choiceReferences>CH_Direction_Outbound</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Direction</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Standard</name>
        <label>Standard</label>
        <locationX>398</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CH_Text_Standard</name>
            <fieldText>This is a Standard Case</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CH_Standard_Type</name>
            <choiceReferences>CH_Type_Initial_Response</choiceReferences>
            <choiceReferences>CH_Type_TemporarySolution</choiceReferences>
            <choiceReferences>CH_Type_Solution</choiceReferences>
            <choiceReferences>CH_Type_SummarytoCustomer</choiceReferences>
            <choiceReferences>CH_Type_CustomerInfoRequest_CIR</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CH_Standard_Method</name>
            <choiceReferences>CH_Method_Phone</choiceReferences>
            <choiceReferences>CH_Method_Email</choiceReferences>
            <choiceReferences>CH_Method_AlreadyCommunicated</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CH_Standard_Direction</name>
            <choiceReferences>CH_Direction_Inbound</choiceReferences>
            <choiceReferences>CH_Direction_Outbound</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Direction</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CH_GetCurrentCase</startElementReference>
    <status>Active</status>
    <variables>
        <name>CH_CurrentCase_Values</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CH_CurrentCaseSobject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
