src/flows/CH_CheckODRCoverage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Copy_Collection_for_Comparison</name>
        <label>Copy Collection for Comparison</label>
        <locationX>413</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>ODRComparisonCOllection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ODRs_on_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindLastODREndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefaultVariables</name>
        <label>DefaultVariables</label>
        <locationX>757</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>MatchOrEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EndDateODRExceedsEndDateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_check_on_Case</name>
        <label>Set check on Case</label>
        <locationX>268</locationX>
        <locationY>1059</locationY>
        <assignmentItems>
            <assignToReference>Case_for_ODR_check.CH_OutageDurationCompletelyCovered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Conditions_False</name>
        <label>Set Final Conditions False</label>
        <locationX>434</locationX>
        <locationY>964</locationY>
        <assignmentItems>
            <assignToReference>Case_for_ODR_check.CH_OutageDurationCompletelyCovered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEndDateExceeded</name>
        <label>SetEndDateExceeded</label>
        <locationX>875</locationX>
        <locationY>906</locationY>
        <assignmentItems>
            <assignToReference>ODREndDateExceedCaseOutageEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GapDetected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetGapTrue</name>
        <label>SetGapTrue</label>
        <locationX>793</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>Gap</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ODRtimecoverage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentODR.CH_OutageDuration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_full_ODR_coverage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLatestEndDate</name>
        <label>SetLatestEndDate</label>
        <locationX>644</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>LatestODREndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentODR.CH_DurationEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindLastODREndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setMatchTrue</name>
        <label>setMatchTrue</label>
        <locationX>1229</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>MatchOrEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_up_ODR_time_Coverage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetODRCoverage</name>
        <label>SetODRCoverage</label>
        <locationX>634</locationX>
        <locationY>903</locationY>
        <assignmentItems>
            <assignToReference>ODRTimeCoverageSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_up_ODR_time_Coverage</name>
        <label>Sum up ODR time Coverage</label>
        <locationX>1049</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>ODRtimecoverage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentODR.CH_OutageDuration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Detect_Gap_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EndDateODRExceedsEndDateCase</name>
        <label>EndDateODRExceedsEndDateCase</label>
        <locationX>854</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>GapDetected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ODRDateExceedsCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentODR.CH_DurationEndDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Case_for_ODR_check.CH_OutageEndDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEndDateExceeded</targetReference>
            </connector>
            <label>ODRDateExceedsCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Check</name>
        <label>Final Check</label>
        <locationX>426</locationX>
        <locationY>820</locationY>
        <defaultConnector>
            <targetReference>Set_Final_Conditions_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>final conditions not met</defaultConnectorLabel>
        <rules>
            <name>final_conditions_met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gap</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ODRTimeCoverageSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_check_on_Case</targetReference>
            </connector>
            <label>final conditions met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gap_in_ODR</name>
        <label>Gap in ODR?</label>
        <locationX>1095</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>Detect_Gap_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>EndStartDateMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentODR.CH_DurationEndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DetectGapLoopVar.CH_DurationStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setMatchTrue</targetReference>
            </connector>
            <label>EndStartDateMatch</label>
        </rules>
        <rules>
            <name>LastRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentODR.CH_DurationStartDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DetectGapLoopVar.CH_DurationStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentODR.CH_DurationEndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LatestODREndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setMatchTrue</targetReference>
            </connector>
            <label>LastRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>GapDetected</name>
        <label>GapDetected</label>
        <locationX>990</locationX>
        <locationY>548</locationY>
        <defaultConnector>
            <targetReference>Detect_Gap_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AlreadyAGap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gap</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGapTrue</targetReference>
            </connector>
            <label>AlreadyAGap</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ODR_time_Covered</name>
        <label>Is ODR time Covered?</label>
        <locationX>626</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Final_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ODR_time_Covered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ODRtimecoverage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_for_ODR_check.CH_TotalOutageDuration__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetODRCoverage</targetReference>
            </connector>
            <label>ODR time Covered</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLaterODREndDate</name>
        <label>IsLaterODREndDate?</label>
        <locationX>516</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>FindLastODREndDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ODREndDateCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LatestODREndDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>currentODR.CH_DurationEndDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLatestEndDate</targetReference>
            </connector>
            <label>LaterODREndDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Match_Found</name>
        <label>No Match Found?</label>
        <locationX>747</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>get_full_ODR_coverage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchOrEndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetGapTrue</targetReference>
            </connector>
            <label>No Match</label>
        </rules>
    </decisions>
    <description>Check Outage Duration coverage throughout Outage Handling Process</description>
    <formulas>
        <name>SumUpODRtimeCoverage</name>
        <dataType>Number</dataType>
        <expression>{!ODRtimecoverage}+{!currentODR.CH_OutageDuration__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Check ODR Coverage Throughout Outage Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check ODR Coverage</label>
    <loops>
        <name>Detect_Gap_Loop</name>
        <label>Detect Gap Loop</label>
        <locationX>864</locationX>
        <locationY>65</locationY>
        <assignNextValueToReference>DetectGapLoopVar</assignNextValueToReference>
        <collectionReference>ODRComparisonCOllection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Gap_in_ODR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>No_Match_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FindLastODREndDate</name>
        <label>FindLastODREndDate</label>
        <locationX>526</locationX>
        <locationY>360</locationY>
        <assignNextValueToReference>currentODR</assignNextValueToReference>
        <collectionReference>ODRs_on_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsLaterODREndDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_full_ODR_coverage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>get_full_ODR_coverage</name>
        <label>get full ODR coverage</label>
        <locationX>637</locationX>
        <locationY>510</locationY>
        <assignNextValueToReference>currentODR</assignNextValueToReference>
        <collectionReference>ODRs_on_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DefaultVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_ODR_time_Covered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Case for that we want to check ODR coverage</description>
        <name>Case</name>
        <label>Case</label>
        <locationX>250</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ODRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case_for_ODR_check</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_TotalOutageDuration__c</queriedFields>
        <queriedFields>CH_OutageEndDate__c</queriedFields>
        <queriedFields>CH_OutageDurationCompletelyCovered__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get ODRs in order to calculate the sum of outage duration</description>
        <name>Get_ODRs</name>
        <label>Get ODRs</label>
        <locationX>413</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_Collection_for_Comparison</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CH_OutageDurationStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </filters>
        <filters>
            <field>CH_SupportTicket__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CH_OutageDuration__c</object>
        <outputReference>ODRs_on_Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_OutageDuration__c</queriedFields>
        <queriedFields>CH_DurationEndDate__c</queriedFields>
        <queriedFields>CH_DurationStartDate__c</queriedFields>
        <sortField>CH_DurationEndDate__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>433</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>you have a gap in your start and end dates: {!Gap}
you have full ODR coverage: {!ODRTimeCoverageSuccess}
ODR End Date Exceeds Outage End Date on Case: {!ODREndDateExceedCaseOutageEndDate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>Case_for_ODR_check</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentODR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_OutageDuration__c</objectType>
    </variables>
    <variables>
        <name>DetectGapLoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CH_OutageDuration__c</objectType>
    </variables>
    <variables>
        <name>Gap</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LatestODREndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>latestODRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_OutageDuration__c</objectType>
    </variables>
    <variables>
        <name>MatchOrEndDate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ODRComparisonCOllection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_OutageDuration__c</objectType>
    </variables>
    <variables>
        <name>ODREndDateExceedCaseOutageEndDate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ODRs_on_Case</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_OutageDuration__c</objectType>
    </variables>
    <variables>
        <name>ODRtimecoverage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ODRTimeCoverageSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
