src/flows/CH_Create_Known_Error_Article_from_a_Problem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>KnowledgesObject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Knowledge__kav</stringValue>
        </value>
    </constants>
    <decisions>
        <name>isArticleArleadyExistingProblems</name>
        <label>isArticleArleadyExistingProblems</label>
        <locationX>327</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>Article_Existing_with_problems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Article</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedArticlesToCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Article_Record_Type</targetReference>
            </connector>
            <label>Create Article</label>
        </rules>
    </decisions>
    <interviewLabel>Create  Known Error Article from a Problem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create  Known Error Article from a Problem</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateArticle</name>
        <label>CreateArticle</label>
        <locationX>331</locationX>
        <locationY>520</locationY>
        <assignRecordIdToReference>vArticleId</assignRecordIdToReference>
        <connector>
            <targetReference>Article_Created_with_Known_Errors</targetReference>
        </connector>
        <inputAssignments>
            <field>CH_AnswerOrResolution__c</field>
            <value>
                <stringValue>dummy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_CaseId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Cause__c</field>
            <value>
                <elementReference>CaseContent.CH_ValidationofRootCause__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProblemDescriptionRequired__c</field>
            <value>
                <stringValue>dummy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProcedureRequired__c</field>
            <value>
                <stringValue>dummy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProductId__c</field>
            <value>
                <elementReference>CaseContent.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Product_Release__c</field>
            <value>
                <elementReference>CaseContent.CH_Product_Release__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_PurposeRequired__c</field>
            <value>
                <stringValue>dummy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_QuestionOrProductDescription__c</field>
            <value>
                <stringValue>dummy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>CaseContent.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UrlName</field>
            <value>
                <elementReference>CaseContent.Current_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationStatus</field>
            <value>
                <stringValue>Work In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Knowledge__kav</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Article_Object</name>
        <label>Get Case Article Object</label>
        <locationX>326</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isArticleArleadyExistingProblems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CaseArticle</object>
        <outputReference>RelatedArticlesToCase</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Query_Article_Record_Type</name>
        <label>Query Article Record Type</label>
        <locationX>329</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateArticle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnownErrorRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnowledgeSObjectType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Case</name>
        <label>Query Case</label>
        <locationX>323</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Article_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseContent</outputReference>
        <queriedFields>CH_IssueDescription__c</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>CH_Product_Release__c</queriedFields>
        <queriedFields>CH_ValidationofRootCause__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Current_Time__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Article_Created_with_Known_Errors</name>
        <label>Article Created with Known Errors</label>
        <locationX>339</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Articlecreatedwithproblems</name>
            <fieldText>Article Created With Following Known Errors :
{!ArticleURLWithKnownErrors}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Article_Existing_with_problems</name>
        <label>Article Existing with problems</label>
        <locationX>540</locationX>
        <locationY>421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProblemExist</name>
            <fieldText>Article for Known Error already exists. Have a look here: *link to Article*</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Query_Case</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>ArticleURLWithKnownErrors</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;a href=&quot;/one/one.app#/sObject/{!vArticleId}/view&quot; target=&quot;_blank&quot;&gt;Article Link&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>ArticleRelatedToCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>CaseArticleConnector</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseArticle</objectType>
    </variables>
    <variables>
        <name>CaseContent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>KnowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>KnowledgeContent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KnowledgeArticle</objectType>
    </variables>
    <variables>
        <name>KnowledgeContents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KnowledgeArticle</objectType>
    </variables>
    <variables>
        <name>KnowledgeSObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Knowledge__kav</stringValue>
        </value>
    </variables>
    <variables>
        <name>KnownErrorRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Known Error</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RelatedArticlesToCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseArticle</objectType>
    </variables>
    <variables>
        <name>vArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
