src/flows/CH_DemandExtraInformation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CH_EmailAlert</name>
        <label>Email Alert</label>
        <locationX>431</locationX>
        <locationY>473</locationY>
        <actionName>Case.CH_EmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CH_TaskAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CH_CurrentSampleRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>CH_ContactExists</name>
        <label>Contact Exists</label>
        <locationX>422</locationX>
        <locationY>339</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CH_ContactAdded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_EmailAlert</targetReference>
            </connector>
            <label>ContactAdded</label>
        </rules>
        <rules>
            <name>CH_ContactNotAdded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_ErrorMessageWindow_0</targetReference>
            </connector>
            <label>ContactNotAdded</label>
        </rules>
    </decisions>
    <decisions>
        <name>CH_StatusValueClosed</name>
        <label>StatusClosed</label>
        <locationX>216</locationX>
        <locationY>176</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CH_Successful</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Responded in Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restoration Provided</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temp Sol. Provided</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_UpdateRecord</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
        <rules>
            <name>CH_Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution Provided</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_ErrorMessageWindow</targetReference>
            </connector>
            <label>Error</label>
        </rules>
        <rules>
            <name>CH_StatusEqualsClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_ErrorMessageforStatusvalueClosed</targetReference>
            </connector>
            <label>Status Equals Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CH_TaskAssignment</name>
        <label>TaskAssignment</label>
        <locationX>437</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_CriticalTask</targetReference>
            </connector>
            <label>Critical</label>
        </rules>
        <rules>
            <name>Major</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_MajorTask</targetReference>
            </connector>
            <label>Major</label>
        </rules>
        <rules>
            <name>Minor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_CurrentSampleRecord.Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_MinorSeverityTask</targetReference>
            </connector>
            <label>Minor</label>
        </rules>
    </decisions>
    <formulas>
        <name>CriticalSetDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <formulas>
        <name>DueDateMajor</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <formulas>
        <name>MinorSetDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>Demand Extra Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demand Extra Information</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CH_CriticalTask</name>
        <label>Critical Task</label>
        <locationX>430</locationX>
        <locationY>790</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>CH_RequestSentSuccessfully</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>CriticalSetDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CH_CurrentSampleRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Next Customer Contact Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CH_MajorTask</name>
        <label>MajorTask</label>
        <locationX>646</locationX>
        <locationY>775</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>CH_RequestSentSuccessfully</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateMajor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CH_CurrentSampleRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Major Severity Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>CH_MinorSeverityTask</name>
        <label>Minor Severity Task</label>
        <locationX>208</locationX>
        <locationY>787</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>CH_RequestSentSuccessfully</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>MinorSetDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CH_CurrentSampleRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Minor Severity Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>CH_ScreenForRecordId</name>
        <label>Screen For Record Id</label>
        <locationX>30</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_ScreenForUserToFreeText</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_CurrentSampleRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>ContactEmail</queriedFields>
        <queriedFields>CH_AdditionalInfo__c</queriedFields>
        <queriedFields>Severity__c</queriedFields>
        <queriedFields>Due_Date__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CH_UpdateRecord</name>
        <label>Update Record</label>
        <locationX>215</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>CH_ContactExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CH_AdditionalInfo__c</field>
            <value>
                <elementReference>CH_Free_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>CH_ErrorMessageforStatusvalueClosed</name>
        <label>Error Message for Status value Closed</label>
        <locationX>428</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CH_ErrorMessage_1</name>
            <fieldText>Dear User,
You can&apos;t demand extra information from customer because the status value for the Support Ticket is Closed
Thank You...!!!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_ErrorMessageWindow</name>
        <label>Error Message Window</label>
        <locationX>434</locationX>
        <locationY>175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CH_ErrorMessage</name>
            <fieldText>Dear User,
You can&apos;t demand extra information from customer because to demand extra information from customer status value must be one of the three as given bellow
1)  Responded In Progress
2)  Restoration Provided
3)  Temporary Sol. Provided

Thank You...!!!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_ErrorMessageWindow_0</name>
        <label>Error Message Window</label>
        <locationX>662</locationX>
        <locationY>341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CH_ErrorMessage_0</name>
            <fieldText>Dear User,
For the given Support ticket either Contact has not been added or the email field is empty for the added contact.

Thank You..!!!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_RequestSentSuccessfully</name>
        <label>Request Sent Successfully</label>
        <locationX>430</locationX>
        <locationY>985</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_Successful</name>
            <fieldText>Hi, 
Your request for additional user information has been sent successfully...!!!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CH_ScreenForUserToFreeText</name>
        <label>Screen For User To Free Text</label>
        <locationX>36</locationX>
        <locationY>176</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CH_StatusValueClosed</targetReference>
        </connector>
        <fields>
            <name>CH_Free_Text</name>
            <fieldText>Free Text</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CH_ScreenForRecordId</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>TaskCreated1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yor New Task Has Been Created</text>
    </textTemplates>
    <variables>
        <name>CH_CurrentSampleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CH_FreeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
