src/flows/CH_Initial_Response_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CH_InitialResponse</name>
        <label>Initial Response</label>
        <locationX>246</locationX>
        <locationY>157</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CH_count</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CH_bodyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Initial Response</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>CH_objectVar.ContactEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CH_count</name>
        <label>count</label>
        <locationX>246</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>CH_countemail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_AddCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CH_EmailCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CH_countemail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CH_IsFirstEmail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CH_IsFirstEmail</name>
        <label>Is First Email?</label>
        <locationX>443</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CH_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_EmailCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_objectVar.CH_InitialResponse__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_recordUpdate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>First outbound message</description>
    <formulas>
        <name>CH_AddCount</name>
        <dataType>Number</dataType>
        <expression>{!CH_countemail}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Initial Response Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initial Response Email</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>CH_currentId</name>
        <label>currentId</label>
        <locationX>245</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_InitialResponse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_objectVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_InitialResponse__c</queriedFields>
        <queriedFields>CH_IsCompleteInitialResponse__c</queriedFields>
        <queriedFields>ContactEmail</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CH_recordUpdate</name>
        <label>recordUpdate</label>
        <locationX>643</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CH_InitialResponse__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_IsCompleteInitialResponse__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_IsInitialResponseSLA__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>CH_currentId</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>Initial response email</description>
        <name>CH_bodyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Your case has been accepted</text>
    </textTemplates>
    <variables>
        <name>CH_countemail</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Number of times the email is sent</description>
        <name>CH_EmailCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CH_objectVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
