src/flows/ChangeisCollaborationProgessCheckBox.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IsCollaborationProgress</name>
        <label>IsCollaborationProgress</label>
        <locationX>301</locationX>
        <locationY>152</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isLineItemNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineitemObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuoteRecordUpdate</targetReference>
            </connector>
            <label>isLineItemNotEmpty</label>
        </rules>
        <rules>
            <name>IsLineItemEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineitemObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>uncheckCollaborationProgress</targetReference>
            </connector>
            <label>IsLineItemEmpty</label>
        </rules>
    </decisions>
    <interviewLabel>ChangeisCollaborationProgessCheckBox {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChangeisCollaborationProgessCheckBox</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Parent_Configuration_Line_Item</name>
        <label>Parent Configuration Line Item</label>
        <locationX>319</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCollaborationProgress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus_Config2__ConfigurationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConfigurationID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Collaboration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <object>Apttus_Config2__LineItem__c</object>
        <outputReference>LineitemObject</outputReference>
    </recordLookups>
    <recordUpdates>
        <name>QuoteRecordUpdate</name>
        <label>QuoteRecordUpdate</label>
        <locationX>321</locationX>
        <locationY>327</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsCollaborationProgress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Apttus_Proposal__Proposal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>uncheckCollaborationProgress</name>
        <label>uncheckCollaborationProgress</label>
        <locationX>531</locationX>
        <locationY>322</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsCollaborationProgress__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Apttus_Proposal__Proposal__c</object>
    </recordUpdates>
    <startElementReference>Parent_Configuration_Line_Item</startElementReference>
    <status>Active</status>
    <variables>
        <name>ConfigurationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LineitemObject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Config2__LineItem__c</objectType>
    </variables>
    <variables>
        <name>QuoteRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
