src/flows/Create_Article_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CountWorkgroupRules</name>
        <label>CountWorkgroupRules</label>
        <locationX>667</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>WorkgroupRuleCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkgroupRuleBuffer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkgrouRuleLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsersPossibleWorkgroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkgroupBuffer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Records_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setProductIdString</name>
        <label>setProductIdString</label>
        <locationX>713</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>ProductIdString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseContent.ProductId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookupforWorkGroup123</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CH_KB_WorkgroupRule</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CH_KB_WorkgroupRule</stringValue>
        </value>
    </constants>
    <constants>
        <name>KnowledgeSobjectType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Knowledge__kav</stringValue>
        </value>
    </constants>
    <constants>
        <description>Used For Variable WorkgroupRuleCount to start count at 0</description>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Based_on_Record_Type</name>
        <label>Based on Record Type</label>
        <locationX>1128</locationX>
        <locationY>943</locationY>
        <defaultConnector>
            <targetReference>NoRecordTypeFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Belongs_to_KB_Workgroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignedWorkgroup.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Message</targetReference>
            </connector>
            <label>Belongs to KB Workgroup?</label>
        </rules>
        <rules>
            <name>Nokia_Problem_Layout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NokiaProblemLayout</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueryArticleRecordType_0_0</targetReference>
            </connector>
            <label>Nokia Problem Layout</label>
        </rules>
        <rules>
            <name>Nokia_Incident</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NokiaIncidentwithRestorationLayout</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NokiaStandardCaseLayout</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueryArticleRecordType</targetReference>
            </connector>
            <label>Nokia Incident</label>
        </rules>
        <rules>
            <name>Nokia_Information_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NokiaInformationRequestLayout</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueryArticleRecordType_0</targetReference>
            </connector>
            <label>Nokia Information Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_has_Product</name>
        <label>Case has Product?</label>
        <locationX>1113</locationX>
        <locationY>1601</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseContent.ProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Main_ProductRelation</targetReference>
            </connector>
            <label>Has Product</label>
        </rules>
        <rules>
            <name>Doesnt_Have_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseContent.ProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Article_Created</targetReference>
            </connector>
            <label>Doesn&apos;t Have Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_has_Product_Release</name>
        <label>Case has Product Release?</label>
        <locationX>1112</locationX>
        <locationY>1901</locationY>
        <defaultConnector>
            <targetReference>Article_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Have Product Release</defaultConnectorLabel>
        <rules>
            <name>Has_Product_Release</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseContent.CH_Product_Release__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ProductRelation</targetReference>
            </connector>
            <label>Has Product Release</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsArticle</name>
        <label>IsArticle</label>
        <locationX>1180</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>NoValueSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Value Selected</defaultConnectorLabel>
        <rules>
            <name>Next_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ArticleRelatedToCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CaseArticleFromCase_0</targetReference>
            </connector>
            <label>Next Step</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsArticle_0</name>
        <label>IsArticle</label>
        <locationX>1098</locationX>
        <locationY>829</locationY>
        <defaultConnector>
            <targetReference>NoValueSelected_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Value Selected</defaultConnectorLabel>
        <rules>
            <name>Create_Article</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ArticleRelatedToCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCurrentUsersWorkgroupMemberRecords</targetReference>
            </connector>
            <label>Create Article</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision if there is a match between the WG on WG Member Record and WG Rule Record</description>
        <name>MatchMemberAndRuleWG</name>
        <label>MatchMemberAndRuleWG</label>
        <locationX>810</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>goThroughWGMemberRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WGMemberLoop.CH_Workgroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WorkgrouRuleLoop.CH_Workgroup__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CountWorkgroupRules</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Only_1_Active_Workgroup_Rule_available_for_Product</name>
        <label>Only 1 Active Workgroup Rule available for Product?</label>
        <locationX>750</locationX>
        <locationY>824</locationY>
        <defaultConnector>
            <targetReference>No_rule_match_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UniqueActiveRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignedWorkgroup.CH_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Based_on_Record_Type</targetReference>
            </connector>
            <label>UniqueActiveRule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Only_1_Workgroup_Rule_available_for_Product</name>
        <label>Only 1 Workgroup Rule available for Product?</label>
        <locationX>253</locationX>
        <locationY>689</locationY>
        <defaultConnector>
            <targetReference>No_rule_match_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Rule</defaultConnectorLabel>
        <rules>
            <name>No_unique_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkgroupRuleCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setProductIdString</targetReference>
            </connector>
            <label>No unique Rule</label>
        </rules>
        <rules>
            <name>Unique_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkgroupRuleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getexistingWorkgroup</targetReference>
            </connector>
            <label>Unique Rule</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if user is actually part of any WG</description>
        <name>WorkGroupMembersFound</name>
        <label>WorkGroupMembersFound?</label>
        <locationX>903</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>No_Workgroup_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>usersWorkgroupMemberRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KM_WG_Rule_Record_Type</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>selectTemplate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Article_Template__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CH_URLName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE
(SUBSTITUTE
(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE
(SUBSTITUTE(SUBSTITUTE
(SUBSTITUTE(SUBSTITUTE
(SUBSTITUTE(SUBSTITUTE
(SUBSTITUTE
(SUBSTITUTE(SUBSTITUTE
(SUBSTITUTE
(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE
(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE
(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(

SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(LEFT({!CaseContent.Current_Time__c},100),&quot;@&quot;, &quot;&quot;),&quot;,&quot;, &quot;&quot;),&quot;%&quot;, &quot;&quot;),&quot;&amp;&quot;,&quot;&quot;),&quot;{&quot;,&quot;&quot;),&quot;}&quot;,&quot;&quot;),&quot;[&quot;,&quot;&quot;),&quot;]&quot;,&quot;&quot;),&quot;?&quot;,&quot;&quot;),&quot;&gt;&quot;,&quot;&quot;),&quot;&lt;&quot;,&quot;&quot;),&quot;)&quot;,&quot;&quot;),&quot;(&quot;,&quot;&quot;),&quot;+&quot;,&quot;&quot;),&quot;|&quot;,&quot;&quot;),&quot;*&quot;,&quot;&quot;),&quot;!&quot;,&quot;&quot;),&quot;~&quot;,&quot;&quot;),&quot;|&quot;,&quot;&quot;),&quot;/&quot;,&quot;&quot;),&quot;:&quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;),&quot;#&quot;,&quot;&quot;),&quot;;&quot;, &quot;&quot;),
&quot;ª&quot;,&quot;&quot;),&quot;º&quot;,&quot;&quot;),&quot;ä&quot;,&quot;&quot;),&quot;å&quot;,&quot;&quot;),&quot;Ä&quot;,&quot;&quot;),

&quot;Å&quot;,&quot;&quot;), &quot;ö&quot;,&quot;&quot;),&quot;Ö&quot;,&quot;&quot;)
,&quot;`&quot;,&quot;&quot;),&quot;$&quot;,&quot;&quot;),
&quot;^&quot;,&quot;&quot;),&quot;_&quot;,&quot;&quot;),&quot;=&quot;,&quot;&quot;),
&quot;.&quot;,&quot;&quot;),&quot;(&quot;,&quot;&quot;),
&quot;\\&quot;,&quot;&quot;),
&quot;&apos;&quot;,&quot;&quot;), &quot;£&quot;,&quot;&quot;), &quot;€&quot;,&quot;&quot;), &quot;\&quot;&quot;,&quot;&quot;),
&quot; &quot;,&quot;&quot;), &quot;§&quot;, &quot;&quot;), &quot;«&quot;, &quot;&quot;),&quot;»&quot;, &quot;&quot;),&quot;&apos;s&quot;, &quot;&quot;), 
 &quot;’&quot;,&quot;&quot;), &quot;”&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>stores the Id of current user</description>
        <name>currentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>ifInitialDiagnosis</name>
        <dataType>String</dataType>
        <expression>if({!CaseContent.Steps_to_Reproduce_Issue__c} != null, {!CaseContent.Steps_to_Reproduce_Issue__c}, &apos;tbd&apos;)</expression>
    </formulas>
    <formulas>
        <name>IfIssueDescription</name>
        <dataType>String</dataType>
        <expression>If({!CaseContent.CH_IssueDescription__c} != null, {!CaseContent.CH_IssueDescription__c}, &apos;tbd&apos;)</expression>
    </formulas>
    <formulas>
        <name>ifProblemStatement</name>
        <dataType>String</dataType>
        <expression>if({!CaseContent.CH_ProblemStatement__c} != null, {!CaseContent.CH_ProblemStatement__c}, &apos;tbd&apos;)</expression>
    </formulas>
    <formulas>
        <name>IfSolution</name>
        <dataType>String</dataType>
        <expression>If({!CaseContent.CH_SolutionDetails__c} != null, {!CaseContent.CH_SolutionDetails__c}, &apos;tbd&apos;)</expression>
    </formulas>
    <formulas>
        <name>ifTemporarySolution</name>
        <dataType>String</dataType>
        <expression>If({!CaseContent.CH_TemporarySolution__c} != null, {!CaseContent.CH_TemporarySolution__c} , &apos;tbd&apos;)</expression>
    </formulas>
    <interviewLabel>Create Article from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Article from Case</label>
    <loops>
        <name>Count_Records_in_Collection</name>
        <label>Count Records in Collection</label>
        <locationX>503</locationX>
        <locationY>580</locationY>
        <assignNextValueToReference>WorkgrouRuleLoop</assignNextValueToReference>
        <collectionReference>WorkgroupRules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getWorkgroupForRule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Only_1_Workgroup_Rule_available_for_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>go through WG member  records in order to find a match with the WG in WG rule</description>
        <name>goThroughWGMemberRecords</name>
        <label>goThroughWGMemberRecords</label>
        <locationX>959</locationX>
        <locationY>349</locationY>
        <assignNextValueToReference>WGMemberLoop</assignNextValueToReference>
        <collectionReference>usersWorkgroupMemberRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MatchMemberAndRuleWG</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Records_in_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Main_ProductRelation</name>
        <label>Create Main ProductRelation</label>
        <locationX>1120</locationX>
        <locationY>1784</locationY>
        <connector>
            <targetReference>Case_has_Product_Release</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CH_Knowledge__c</field>
            <value>
                <elementReference>vArticleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Parent_Product__c</field>
            <value>
                <elementReference>CaseContent.ProductId</elementReference>
            </value>
        </inputAssignments>
        <object>CH_ProductRelation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_ProductRelation</name>
        <label>Create ProductRelation</label>
        <locationX>1121</locationX>
        <locationY>2098</locationY>
        <connector>
            <targetReference>Article_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CH_Knowledge__c</field>
            <value>
                <elementReference>vArticleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Parent_Product__c</field>
            <value>
                <elementReference>CaseContent.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Parent_Release__c</field>
            <value>
                <elementReference>CaseContent.CH_Product_Release__c</elementReference>
            </value>
        </inputAssignments>
        <object>CH_ProductRelation__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateArticle</name>
        <label>CreateArticle</label>
        <locationX>1287</locationX>
        <locationY>1432</locationY>
        <assignRecordIdToReference>vArticleId</assignRecordIdToReference>
        <connector>
            <targetReference>Case_has_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CH_AnswerOrResolution__c</field>
            <value>
                <elementReference>IfSolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_CaseId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProcedureRequired__c</field>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_QuestionOrProductDescription__c</field>
            <value>
                <elementReference>IfIssueDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Workgroup__c</field>
            <value>
                <elementReference>assignedWorkgroup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>CaseContent.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UrlName</field>
            <value>
                <elementReference>CH_URLName</elementReference>
            </value>
        </inputAssignments>
        <object>Knowledge__kav</object>
    </recordCreates>
    <recordCreates>
        <name>CreateArticle_0</name>
        <label>CreateArticle</label>
        <locationX>968</locationX>
        <locationY>1432</locationY>
        <assignRecordIdToReference>vArticleId</assignRecordIdToReference>
        <connector>
            <targetReference>Case_has_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CH_AnswerOrResolution__c</field>
            <value>
                <elementReference>IfSolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_CaseId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Cause__c</field>
            <value>
                <elementReference>CaseContent.CH_TechnicalAnalysis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProblemDescriptionRequired__c</field>
            <value>
                <elementReference>IfIssueDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProcedureRequired__c</field>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_PurposeRequired__c</field>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Solution__c</field>
            <value>
                <elementReference>IfSolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_WorkAround__c</field>
            <value>
                <elementReference>ifTemporarySolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Workgroup__c</field>
            <value>
                <elementReference>assignedWorkgroup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>CaseContent.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UrlName</field>
            <value>
                <elementReference>CH_URLName</elementReference>
            </value>
        </inputAssignments>
        <object>Knowledge__kav</object>
    </recordCreates>
    <recordCreates>
        <name>CreateArticle_0_0</name>
        <label>CreateArticle</label>
        <locationX>1123</locationX>
        <locationY>1409</locationY>
        <assignRecordIdToReference>vArticleId</assignRecordIdToReference>
        <connector>
            <targetReference>Case_has_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CH_AnswerOrResolution__c</field>
            <value>
                <elementReference>IfSolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_CaseId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Cause__c</field>
            <value>
                <elementReference>CaseContent.CH_Root_Cause_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_DiagnosticSteps__c</field>
            <value>
                <elementReference>ifInitialDiagnosis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProblemDescriptionRequired__c</field>
            <value>
                <elementReference>IfIssueDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_ProcedureRequired__c</field>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_PurposeRequired__c</field>
            <value>
                <stringValue>tbd</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Solution__c</field>
            <value>
                <elementReference>IfSolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_WorkAround__c</field>
            <value>
                <elementReference>ifTemporarySolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Workgroup__c</field>
            <value>
                <elementReference>assignedWorkgroup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>CaseContent.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UrlName</field>
            <value>
                <elementReference>CH_URLName</elementReference>
            </value>
        </inputAssignments>
        <object>Knowledge__kav</object>
    </recordCreates>
    <recordLookups>
        <name>Get_CaseArticleFromCase</name>
        <label>Get_CaseArticleFromCase</label>
        <locationX>1196</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsArticle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CH_CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>publishiedOnlineStatus</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputReference>ArticleRelatedToCase</outputReference>
        <queriedFields>KnowledgeArticleId</queriedFields>
        <queriedFields>CH_Link__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CaseArticleFromCase_0</name>
        <label>Get_CaseArticleFromCase</label>
        <locationX>1133</locationX>
        <locationY>692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsArticle_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CH_CaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookForDraftArticle</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputReference>ArticleRelatedToCase</outputReference>
        <queriedFields>KnowledgeArticleId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_KM_WG_Rule_Record_Type</name>
        <label>Get KM WG Rule Record Type</label>
        <locationX>752</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_WorkgroupRules_with_same_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CH_KB_WorkgroupRule</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CH_Workgroup_Rule__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>WGRuleKMRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>gets current users Workgroup Member records based on user Id</description>
        <name>getCurrentUsersWorkgroupMemberRecords</name>
        <label>getCurrentUsersWorkgroupMemberRecords</label>
        <locationX>972</locationX>
        <locationY>597</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkGroupMembersFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>NoValueSelected</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CH_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </filters>
        <object>CH_Workgroup_Member__c</object>
        <outputReference>usersWorkgroupMemberRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_User__c</queriedFields>
        <queriedFields>CH_Workgroup__c</queriedFields>
        <sortField>CH_Workgroup__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getexistingWorkgroup</name>
        <label>getexistingWorkgroup</label>
        <locationX>555</locationX>
        <locationY>746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Only_1_Active_Workgroup_Rule_available_for_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkgroupRuleBuffer.CH_Workgroup__c</elementReference>
            </value>
        </filters>
        <object>CH_Workgroup__c</object>
        <outputReference>assignedWorkgroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWorkgroupForRule</name>
        <label>getWorkgroupForRule</label>
        <locationX>960</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>goThroughWGMemberRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkgrouRuleLoop.Id</elementReference>
            </value>
        </filters>
        <object>CH_Workgroup__c</object>
        <outputReference>WorkgroupBuffer</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookup_WorkgroupRules_with_same_Product</name>
        <label>lookup WorkgroupRules with same Product</label>
        <locationX>622</locationX>
        <locationY>633</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Records_in_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CH_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseContent.ProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WGRuleKMRecordTypeId</elementReference>
            </value>
        </filters>
        <object>CH_Workgroup_Rule__c</object>
        <outputReference>WorkgroupRules</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_Workgroup__c</queriedFields>
        <queriedFields>CH_Workgroup_Type__c</queriedFields>
        <sortField>CH_Workgroup__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Query_Case</name>
        <label>Query Case</label>
        <locationX>1102</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueryCaseRecordType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseContent</outputReference>
        <queriedFields>Subject</queriedFields>
        <queriedFields>CH_IssueDescription__c</queriedFields>
        <queriedFields>CH_TemporarySolution__c</queriedFields>
        <queriedFields>Current_Time__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>CH_ValidationofRootCause__c</queriedFields>
        <queriedFields>CH_SolutionDetails__c</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>CH_Product_Release__c</queriedFields>
        <queriedFields>CH_TechnicalAnalysis__c</queriedFields>
        <queriedFields>CH_InitialDiagnosis__c</queriedFields>
        <queriedFields>CH_ListofContributingCauses__c</queriedFields>
        <queriedFields>CH_SummaryofAnalysis__c</queriedFields>
        <queriedFields>CH_ProblemStatement__c</queriedFields>
        <queriedFields>CH_Root_Cause_Description__c</queriedFields>
        <queriedFields>Steps_to_Reproduce_Issue__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>QueryArticleRecordType</name>
        <label>QueryArticleRecordTypeIncident</label>
        <locationX>970</locationX>
        <locationY>1243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateArticle_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResolutionRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnowledgeSobjectType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>QueryArticleRecordType_0</name>
        <label>QueryArticleRecordTypeInformationRequest</label>
        <locationX>1289</locationX>
        <locationY>1254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateArticle</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StandardRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnowledgeSobjectType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>QueryArticleRecordType_0_0</name>
        <label>QueryArticleRecordTypeProblem</label>
        <locationX>1123</locationX>
        <locationY>1191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateArticle_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnownErrorRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnowledgeSobjectType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>QueryCaseRecordType</name>
        <label>QueryCaseRecordType</label>
        <locationX>1103</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CaseArticleFromCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseContent.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseSObjectType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CaseRecordType</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Article_Created</name>
        <label>Article Created</label>
        <locationX>1385</locationX>
        <locationY>1914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ArticleCreated</name>
            <fieldText>&lt;p&gt;All special characters in the title of the article will be removed while creating the article URL.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;﻿&lt;/span&gt;New article created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClicktoViewArticle</name>
            <fieldText>Click here to view article: {!ArticleURL}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>2001</locationX>
        <locationY>821</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageText</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Message</name>
        <label>Flow Message</label>
        <locationX>530</locationX>
        <locationY>1662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CH_KBMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;In order to create an article, you should belong and search for an active KB Workgroup&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LookupforWorkGroup123</name>
        <label>LookupforWorkGroup</label>
        <locationX>713</locationX>
        <locationY>1280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Based_on_Record_Type</targetReference>
        </connector>
        <fields>
            <name>WorkGroupLookup1</name>
            <extensionName>c:CH_customLookup1</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ProductId</name>
                <value>
                    <elementReference>ProductIdString</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>assignedWorkgroup.Id</assignToReference>
                <name>WorkgroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>If no rule and no member matched regarding the same workgroup</description>
        <name>No_rule_match_found</name>
        <label>No rule match found</label>
        <locationX>50</locationX>
        <locationY>818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoMatchNotification</name>
            <fieldText>&lt;p&gt;Dear user,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Unfortunately you are not part of an active KB Workgroup that matches the Case Product. Thus no article was created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Workgroup_found</name>
        <label>No Workgroup found</label>
        <locationX>1108</locationX>
        <locationY>642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageNoWorkgroupsFound</name>
            <fieldText>&lt;p&gt;Dear user,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Unfortunately you are not part of any workgroup related to that product. Therefore no article can be created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoRecordTypeFound</name>
        <label>NoRecordTypeFound</label>
        <locationX>1338</locationX>
        <locationY>944</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InfoMessageErrorRecordType</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No Record Type was found</stringValue>
            </defaultValue>
            <fieldText>InfoMessageErrorRecordType</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecordTypeTest</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseContent.RecordTypeId</elementReference>
            </defaultValue>
            <fieldText>RecordTypeTest</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Record_Type_Test_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseRecordType.Name</elementReference>
            </defaultValue>
            <fieldText>Record Type Test 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>No Record Type was found</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoValueSelected</name>
        <label>NoValueSelected</label>
        <locationX>1451</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayArticleAlreadyExisting</name>
            <fieldText>&lt;p&gt;There is already an existing Article: {!ArticleRelatedToCase.CH_Link__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoValueSelected_0</name>
        <label>NoValueSelected</label>
        <locationX>1339</locationX>
        <locationY>820</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayArticleAlreadyExisting_0</name>
            <fieldText>&lt;p&gt;There is already an existing Article: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ArticleRelatedToCase.CH_Link__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Query_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ArticleURL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;a href=&quot;/one/one.app#/sObject/{!vArticleId}/view&quot; target=&quot;_blank&quot;&gt;Article Link&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!$Flow.FaultMessage}</text>
    </textTemplates>
    <textTemplates>
        <description>Link to article which was already created</description>
        <name>ExistingArticleLink</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;a href=&quot;/one/one.app#/sObject/{!ArticleRelatedToCase.KnowledgeArticleId}/view&quot; target=&quot;_blank&quot;&gt;Article Link&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>ArticleRelatedToCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>assignedWorkgroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_Workgroup__c</objectType>
    </variables>
    <variables>
        <name>CaseArticleConnection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseArticle</objectType>
    </variables>
    <variables>
        <name>CaseContent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseContentToUpdate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>CaseSObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>CH_Problem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>For Problem record type</stringValue>
        </value>
    </variables>
    <variables>
        <name>comparisonWorkgroupIdVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentUpdateValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>KnownErrorRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Known Error</stringValue>
        </value>
    </variables>
    <variables>
        <name>LookForDraftArticle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </variables>
    <variables>
        <name>NameofRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NokiaIncidentwithRestorationLayout</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Nokia Incident with Restoration</stringValue>
        </value>
    </variables>
    <variables>
        <name>NokiaInformationRequestLayout</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Nokia Information Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>NokiaProblemLayout</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Problem</stringValue>
        </value>
    </variables>
    <variables>
        <name>NokiaStandardCaseLayout</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Nokia Standard Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProductIdString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>publishiedOnlineStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Online</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RecordTypeforcase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ResolutionRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Resolution</stringValue>
        </value>
    </variables>
    <variables>
        <name>StandardRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Q&amp;A</stringValue>
        </value>
    </variables>
    <variables>
        <name>TestWorkGroupLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>UsersPossibleWorkgroups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_Workgroup__c</objectType>
    </variables>
    <variables>
        <name>usersWorkgroupMemberRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_Workgroup_Member__c</objectType>
    </variables>
    <variables>
        <name>vArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WGMemberLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_Workgroup_Member__c</objectType>
    </variables>
    <variables>
        <name>WGRuleKMRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkgroupBuffer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_Workgroup__c</objectType>
    </variables>
    <variables>
        <name>WorkGroupLookupField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkgroupRuleBuffer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_Workgroup_Rule__c</objectType>
    </variables>
    <variables>
        <name>WorkgroupRuleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Zero</elementReference>
        </value>
    </variables>
    <variables>
        <name>WorkgroupRules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_Workgroup_Rule__c</objectType>
    </variables>
    <variables>
        <name>WorkgrouRuleLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CH_Workgroup_Rule__c</objectType>
    </variables>
</Flow>
