src/flows/CreateDummySites.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_sites</name>
        <label>Assign sites</label>
        <locationX>645</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>SitesRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sitesopty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createsites</name>
        <label>createsites</label>
        <locationX>755</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>Sitesopty.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sitesopty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Singlealpha</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loopcount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alphabetuse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SplitAlphabet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_sites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Splt</name>
        <label>Splt</label>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>Singlealpha</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveFirst</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createsites</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Alphabet</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A,B,C,D,E,F,G,H,I,J,</stringValue>
        </value>
    </constants>
    <constants>
        <name>Createtensites</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Loopvar</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Site</description>
        <name>Site</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Site</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>190</locationX>
        <locationY>137</locationY>
        <defaultConnector>
            <targetReference>CreateSite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>countlessthan10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loopcount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Splt</targetReference>
            </connector>
            <label>countlessthan10</label>
        </rules>
    </decisions>
    <formulas>
        <name>RemoveFirst</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!Alphabetuse}, FIND(&quot;,&quot;, {!Alphabetuse})-1))</expression>
    </formulas>
    <formulas>
        <name>Sites</name>
        <dataType>String</dataType>
        <expression>{!Site}&amp;&quot; &quot; &amp;TEXT({!Loopcount})</expression>
    </formulas>
    <formulas>
        <name>SplitAlphabet</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!Alphabetuse}, LEN({!Alphabetuse}) - FIND(&quot;,&quot;, {!Alphabetuse})))</expression>
    </formulas>
    <interviewLabel>CreateDummySites {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateDummySites</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateSite</name>
        <label>CreateSite</label>
        <locationX>335</locationX>
        <locationY>326</locationY>
        <inputReference>SitesRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>116</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Oopty</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Opportunity</startElementReference>
    <status>Draft</status>
    <variables>
        <name>alphabetlist</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Alphabetuse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>A,B,C,D,E,F,G,H,I,J,</stringValue>
        </value>
    </variables>
    <variables>
        <name>Loopcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Oopty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Singlealpha</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sitesname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sitesopty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NokiaCPQ_Site__c</objectType>
    </variables>
    <variables>
        <name>SitesRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NokiaCPQ_Site__c</objectType>
    </variables>
</Flow>
