src/flows/ERM_Share_PPPPP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Bulk_create_new_share_with_assistant</name>
        <label>Bulk create new share with assistant</label>
        <locationX>1331</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>Bulk_Create_New_Share_Participants_Assistants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existing_Assistants_to_Share</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_trough_participants_with_assistants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bulk_new_share_Participant</name>
        <label>Bulk new share Participant</label>
        <locationX>0</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>New_Participants_to_Share.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Participants_to_Share.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Share_Participants_with_Users__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Participants_to_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Participants_to_Share.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Participant_Collected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bulk_new_share_Participant_with_new_participant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bulk_new_share_Participant_with_new_participant</name>
        <label>Bulk new share Participant with new participant</label>
        <locationX>152</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>Existed_Participants_to_Share.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existed_Participants_to_Share.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Share_Participants_with_Users__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existed_Participants_to_Share.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Participant_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existed_Participants_to_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Participant_Collected.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bulk_to_create_new_share_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bulk_new_share_session</name>
        <label>Bulk new share session</label>
        <locationX>698</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>New_Session_Share.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Session_Share.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Share_Sessions_with_Participants__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Session_Share.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Session_Collected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Session_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bulk_to_create_new_share_session</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bulk_new_share_with_participants_assistants</name>
        <label>Bulk new share with participants assistants</label>
        <locationX>1125</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>Existing_Assistants_to_Share.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Assistants_to_Share.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Participant_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Assistants_to_Share.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Share_Participants_with_Users__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Assistants_to_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Participant_with_Assistant_Collected.GLT_assistant_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Increment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bulk_create_new_share_with_assistant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bulk_to_create_new_share_Participants</name>
        <label>Bulk to create new share Participants</label>
        <locationX>311</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>Bulk_Create_New_Share_Participants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Participants_to_Share</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Bulk_Create_New_Share_Participants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existed_Participants_to_Share</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_trough_participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bulk_to_create_new_share_session</name>
        <label>Bulk to create new share session</label>
        <locationX>903</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>New_Session_to_Share</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Session_Share</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_trough_sessions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_assistant</name>
        <label>Any assistant?</label>
        <locationX>1379</locationX>
        <locationY>121</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Increment</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_share_with_assistants</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_participants</name>
        <label>Existing participants</label>
        <locationX>172</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Share_Event_with_Participants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_more_Participants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Participant_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_trough_participants</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Sessions</name>
        <label>Existing Sessions</label>
        <locationX>897</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Find_existing_assistants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_more_Assistants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Session_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_trough_sessions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Sessions_0</name>
        <label>Existing Sessions</label>
        <locationX>1317</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_more_Assistants_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Session_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_trough_participants_with_assistants</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Count1</name>
        <dataType>Number</dataType>
        <expression>{!Increment}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ERM Share PPPPP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ERM Share PPPPP</label>
    <loops>
        <name>Loop_trough_participants</name>
        <label>Loop trough participants</label>
        <locationX>93</locationX>
        <locationY>123</locationY>
        <assignNextValueToReference>Participant_Collected</assignNextValueToReference>
        <collectionReference>Participant_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Bulk_new_share_Participant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Participant_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_trough_participants_with_assistants</name>
        <label>Loop trough participants with assistants</label>
        <locationX>1115</locationX>
        <locationY>117</locationY>
        <assignNextValueToReference>Participant_with_Assistant_Collected</assignNextValueToReference>
        <collectionReference>Participants_with_Assistants_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Bulk_new_share_with_participants_assistants</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_assistant</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_trough_sessions</name>
        <label>Loop trough sessions</label>
        <locationX>690</locationX>
        <locationY>125</locationY>
        <assignNextValueToReference>Session_Collected</assignNextValueToReference>
        <collectionReference>Session_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Bulk_new_share_session</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_session_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Participant_Share</name>
        <label>Create Participant Share</label>
        <locationX>311</locationX>
        <locationY>118</locationY>
        <connector>
            <targetReference>Share_Event_with_Participants</targetReference>
        </connector>
        <inputReference>Bulk_Create_New_Share_Participants</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_session_Share</name>
        <label>Create session Share</label>
        <locationX>898</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>Find_existing_assistants</targetReference>
        </connector>
        <inputReference>New_Session_to_Share</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_share_with_assistants</name>
        <label>Create share with assistants</label>
        <locationX>1545</locationX>
        <locationY>123</locationY>
        <inputReference>Bulk_Create_New_Share_Participants_Assistants</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Share_Event_with_Participants</name>
        <label>Share Event with Participants</label>
        <locationX>520</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Sessions</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>EventID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Share_Event_with_Participants__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Event__Share</object>
    </recordCreates>
    <recordLookups>
        <name>Find_existing_assistants</name>
        <label>Find existing assistants</label>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Sessions_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventID</elementReference>
            </value>
        </filters>
        <filters>
            <field>GLT_assistant_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event_Registration__c</object>
        <outputReference>Participants_with_Assistants_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>GLT_assistant_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Participants</name>
        <label>Find Participants</label>
        <locationX>5</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_participants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventID</elementReference>
            </value>
        </filters>
        <object>Event_Registration__c</object>
        <outputReference>Participant_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>GLT_assistant_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Sessions</name>
        <label>Find Sessions</label>
        <locationX>690</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Sessions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventID</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputReference>Session_Collection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Find_Participants</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Bulk_Create_New_Share_Participants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event_Registration__Share</objectType>
    </variables>
    <variables>
        <name>Bulk_Create_New_Share_Participants_Assistants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event_Registration__Share</objectType>
    </variables>
    <variables>
        <name>EventID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Existed_Participants_to_Share</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event_Registration__Share</objectType>
    </variables>
    <variables>
        <name>Existing_Assistants_to_Share</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event_Registration__Share</objectType>
    </variables>
    <variables>
        <description>Increment every time we have participants</description>
        <name>Increment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>New_Participants_to_Share</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event_Registration__Share</objectType>
    </variables>
    <variables>
        <name>New_Session_Share</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__Share</objectType>
    </variables>
    <variables>
        <name>New_Session_Share_with_All_Participants</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__Share</objectType>
    </variables>
    <variables>
        <name>New_Session_to_Share</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__Share</objectType>
    </variables>
    <variables>
        <name>Participant_Collected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event_Registration__c</objectType>
    </variables>
    <variables>
        <name>Participant_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event_Registration__c</objectType>
    </variables>
    <variables>
        <name>Participant_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Participant_with_Assistant_Collected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event_Registration__c</objectType>
    </variables>
    <variables>
        <name>Participants_with_Assistants_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event_Registration__c</objectType>
    </variables>
    <variables>
        <name>Session_Collected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>Session_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
