src/flows/ERM_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>ERM_Content_Approval_by_Event_host</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_16_A1</name>
        <label>Notify event host to approve &amp; marketing &amp; arch</label>
        <locationX>1600</locationX>
        <locationY>200</locationY>
        <actionName>Session__c.ERM_Content_Approval_by_Event_host</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision18</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>EEC_Session_Ready_for_Approval</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Notify Event Host</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>Session__c.EEC_Session_Ready_for_Approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision20</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>ERM BG Lead Participant</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>create bg lead as participant</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>ERM_BG_Lead_Participant</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Session</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Session__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>Session</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>ERM_Notify_content_owner_2_days_earlier</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_21_event_0_SA1</name>
        <label>Notify Content owner</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>Session__c.ERM_Notify_content_owner_5_days_earlier</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_21_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_21</name>
        <label>myWaitAssignment_myWait_myRule_21</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_21</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_21_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_21_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_21_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_21</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isChangedDecision11_myRule_10_Send_Individual_Notification_c</name>
        <label>isChangedDecision11_myRule_10_Send_Individual_Notification_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision14_myRule_13_Event_Host_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_11_myRule_10_Send_Individual_Notification_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Send_Individual_Notification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Send_Individual_Notification__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision14_myRule_13_Event_Host_c</targetReference>
            </connector>
            <label>isChangedRule_11_myRule_10_Send_Individual_Notification_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision14_myRule_13_Event_Host_c</name>
        <label>isChangedDecision14_myRule_13_Event_Host_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision17_myRule_16_Session_Status_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_14_myRule_13_Event_Host_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Event__r.Event_Host__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Event__r.Event_Host__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision17_myRule_16_Session_Status_c</targetReference>
            </connector>
            <label>isChangedRule_14_myRule_13_Event_Host_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision17_myRule_16_Session_Status_c</name>
        <label>isChangedDecision17_myRule_16_Session_Status_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myPreWaitDecision_myWait_myRule_21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_17_myRule_16_Session_Status_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Session_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Session_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPreWaitDecision_myWait_myRule_21</targetReference>
            </connector>
            <label>isChangedRule_17_myRule_16_Session_Status_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision4_myRule_3_Send_Individual_Notification_c</name>
        <label>isChangedDecision4_myRule_3_Send_Individual_Notification_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision11_myRule_10_Send_Individual_Notification_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_4_myRule_3_Send_Individual_Notification_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Send_Individual_Notification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Send_Individual_Notification__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision11_myRule_10_Send_Individual_Notification_c</targetReference>
            </connector>
            <label>isChangedRule_4_myRule_3_Send_Individual_Notification_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>ISNEW and or BG Lead filled</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Event__r.Event_Host__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_14_myRule_13_Event_Host_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Event_host_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Event__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Event host email update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision15</name>
        <label>myDecision15</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_17_myRule_16_Session_Status_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Session_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready_for_Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Event_host_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Event__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>Content approval notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>EEC: Ready for Approval</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>1  And 2 And 3 And 4 and 5</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Event__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Send_Individual_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_4_myRule_3_Send_Individual_Notification_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Event__r.Send_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>When BG is changed or Send Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Event__r.Content_Review_Call_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Content_Owner_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Session_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_pmetdec</targetReference>
            </connector>
            <label>Content Review Call date notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>Time slot change notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Send_Individual_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Event__r.Send_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_11_myRule_10_Send_Individual_Notification_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>Send individual notifications</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_21_event_0</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_21_event_0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_21_event_0_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_21_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Content_Review_Call_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_21_event_0_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_21_event_0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_21</name>
        <label>myPreWaitDecision_myWait_myRule_21</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Event__r.Content_Review_Call_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Content_Owner_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Session_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_21</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_21_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_21_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_21</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_21_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Event__r.Content_Review_Call_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Content_Owner_email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_old.Session_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Today()+7</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_3_A2_4168203820</name>
        <dataType>Date</dataType>
        <expression>Today()+7</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()+7</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_3_A1_3649321733</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>( ISNEW() &amp;&amp; [Session__c].Owner__c &lt;&gt; NULL )
|| ( ( [Session__c].Owner__c &lt;&gt; NULL ) &amp;&amp; ( ISCHANGED( [Session__c].Owner__c ) ) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>( ISNEW() &amp;&amp; {!myVariable_current.Owner__c} &lt;&gt; NULL )
|| ( ( {!myVariable_current.Owner__c} &lt;&gt; NULL ) &amp;&amp; ( ISCHANGED( {!myVariable_current.Owner__c} ) ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ( 
           [Session__c].Event__c.RecordType.DeveloperName = &quot;EEC&quot; ,
           ISCHANGED ( [Session__c].Session_Status__c ) ,
           ISPICKVAL ( [Session__c].Session_Status__c , &quot;Ready for Approval&quot; ) ,
           NOT ( ISBLANK ( [Session__c].Event_host_email__c ) )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>AND ( 
           {!myVariable_current.Event__r.RecordType.DeveloperName} = &quot;EEC&quot; ,
           ISCHANGED ( {!myVariable_current.Session_Status__c} ) ,
           ISPICKVAL ( {!myVariable_current.Session_Status__c} , &quot;Ready for Approval&quot; ) ,
           NOT ( ISBLANK ( {!myVariable_current.Event_host_email__c} ) )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED( [Session__c].Session_Info__c )

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_8</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!myVariable_current.Session_Info__c} )</expression>
    </formulas>
    <interviewLabel>ERM_Session-74_InterviewLabel</interviewLabel>
    <label>ERM Session</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Session__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_3_A1</name>
        <label>Nominate presenter</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_6_myRule_3_A1_3649321733</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <stringValue>Task to nominate presenter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reminder Set</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.Owner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Nominate Presenter</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account;Account_Member__c;Accreditation__c;Additional_Resource_Request__c;Agile_Reports__c;Application_Inventory__c;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_CMConfig__AgreementAdjustmentLineItem__c;Apttus_CMConfig__AgreementFootnote__c;Apttus_CMConfig__AgreementIncentiveBenefitData__c;Apttus_CMConfig__AgreementIncentiveLimitData__c;Apttus_CMConfig__AgreementProductAttributeValue__c;Apttus_CMConfig__AgreementRelatedLineItem__c;Apttus_CMConfig__AgreementRollupData__c;Apttus_CMConfig__AgreementSummaryGroup__c;Apttus_CMConfig__AgreementSummary__c;Apttus_CMConfig__AgreementUsagePriceTier__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlanTemplateItem__c;Apttus_Config2__BillingPlanTemplate__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__CostItem__c;Apttus_Config2__CustomerPOIssueLog__c;Apttus_Config2__CustomerPOItem__c;Apttus_Config2__CustomerPOSalesOrderRelationHistory__c;Apttus_Config2__CustomerPurchaseOrder__c;Apttus_Config2__DataEnrichmentRule__c;Apttus_Config2__DataValidationEnrichmentRuleset__c;Apttus_Config2__DataValidationRule__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderRollupData__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__IncentiveLoyaltyEnrollment__c;Apttus_Config2__Incentive__c;Apttus_Config2__LegalEntity__c;Apttus_Config2__LineItem__c;Apttus_Config2__LoyaltyPointAccrualAdjustmentItem__c;Apttus_Config2__LoyaltyPointAccrualSummary__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderFulfillment__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderLoyaltyPointAccrualItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRelatedLineItem__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceEscalator__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedLineItem__c;Apttus_Config2__RelatedOpportunityLineItemColl__c;Apttus_Config2__RelatedOpportunityLineItem__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__RevenueSplitPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRelatedLineItem__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__Obligation__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;Business_Plan__c;CCRE_UpSell_LineItem__c;CMD_Approval_Data__c;CMD_Pack4_Data__c;Campaign;Capability__c;Case;Certification_Matrix__c;Certification__c;Change_Impact__c;ChannelProgram;ChannelProgramLevel;Competitor__c;Contract;ContractLineItem;Course__c;Curriculum_Certification_Mapping__c;Curriculum_Course_Mapping__c;Dated_Exchange_Rates__c;DealProduct__c;Deal__c;Defect__c;Document__c;ERM_Stakeholder__c;Entitlement;Event__c;Glossary_Item__c;IDC_Task__c;Impact_Assessments__c;Investments_in_Lab_and_Demo_Equipment__c;Issues_Risks__c;Marketing_Plan_and_Industry_Events__c;Multi_Language_Terms__c;NokiaCPQ_Maintenance_and_SSP_Rules__c;OLCS_Information__c;Opportunity;Order;Order_Intake_Forecast__c;PartnerFundAllocation;PartnerFundClaim;PartnerFundRequest;PartnerMarketingBudget;Pre_C3_Commitment__c;Product2;Product_Attribute_Value_extension__c;Question_Log__c;Quote;RICEFW_Inventory__c;Rebate_Enrollment__c;Rebate_form__c;Release__c;Request__c;Room__c;SFCCLtngPtr__SFDC_Budget__c;SFCCLtngPtr__SFDC_Channel_Account_Plan__c;SFCCLtngPtr__SFDC_MDF_Claim__c;SFCCLtngPtr__SFDC_MDF__c;SFCCLtngPtr__SFDC_Objective__c;SWx_Upsell_Items__c;SWx_Upsell_Proposal__c;Security_Knowledge__c;ServiceContract;Service_Agreement__c;Session__c;Sign_Off__c;Solution;Speaker__c;Sprint__c;Term__c;Test_Case__c;Test_Execution__c;Test_Iterations__c;Test_Scenario__c;Test_Script__c;Theme__c;Tier_Discount_Detail__c;Track__c;Training_Certification_Plan__c;Training_Material__c;Upsell_Container__c;Use_Case__c;User_Story__c;Value_Delivery_Objectives_Options__c;Value_Delivery_Session__c;Venue__c;jiffle__Attendee__c;jiffle__Briefing_Acc_Opp_Relations__c;jiffle__Briefing_Activity__c;jiffle__Briefing_Center__c;jiffle__Briefing_Invites__c;jiffle__Briefing__c;jiffle__Event_Master__c;jiffle__Event__c;jiffle__Invites__c;jiffle__JNConfig__c;jiffle__Mapping__c;jiffle__Meeting_Relations__c;jiffle__Meeting__c;mkto_si__Get_Method_Argus__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_3_A2</name>
        <label>Upload content</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision7</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_5_myRule_3_A2_4168203820</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Reminder Set</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Upload content</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account;Account_Member__c;Accreditation__c;Additional_Resource_Request__c;Agile_Reports__c;Application_Inventory__c;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_CMConfig__AgreementAdjustmentLineItem__c;Apttus_CMConfig__AgreementFootnote__c;Apttus_CMConfig__AgreementIncentiveBenefitData__c;Apttus_CMConfig__AgreementIncentiveLimitData__c;Apttus_CMConfig__AgreementProductAttributeValue__c;Apttus_CMConfig__AgreementRelatedLineItem__c;Apttus_CMConfig__AgreementRollupData__c;Apttus_CMConfig__AgreementSummaryGroup__c;Apttus_CMConfig__AgreementSummary__c;Apttus_CMConfig__AgreementUsagePriceTier__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlanTemplateItem__c;Apttus_Config2__BillingPlanTemplate__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__CostItem__c;Apttus_Config2__CustomerPOIssueLog__c;Apttus_Config2__CustomerPOItem__c;Apttus_Config2__CustomerPOSalesOrderRelationHistory__c;Apttus_Config2__CustomerPurchaseOrder__c;Apttus_Config2__DataEnrichmentRule__c;Apttus_Config2__DataValidationEnrichmentRuleset__c;Apttus_Config2__DataValidationRule__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderRollupData__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__IncentiveLoyaltyEnrollment__c;Apttus_Config2__Incentive__c;Apttus_Config2__LegalEntity__c;Apttus_Config2__LineItem__c;Apttus_Config2__LoyaltyPointAccrualAdjustmentItem__c;Apttus_Config2__LoyaltyPointAccrualSummary__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderFulfillment__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderLoyaltyPointAccrualItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRelatedLineItem__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceEscalator__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedLineItem__c;Apttus_Config2__RelatedOpportunityLineItemColl__c;Apttus_Config2__RelatedOpportunityLineItem__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__RevenueSplitPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRelatedLineItem__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__Obligation__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;Business_Plan__c;CCRE_UpSell_LineItem__c;CMD_Approval_Data__c;CMD_Pack4_Data__c;Campaign;Capability__c;Case;Certification_Matrix__c;Certification__c;Change_Impact__c;ChannelProgram;ChannelProgramLevel;Competitor__c;Contract;ContractLineItem;Course__c;Curriculum_Certification_Mapping__c;Curriculum_Course_Mapping__c;Dated_Exchange_Rates__c;DealProduct__c;Deal__c;Defect__c;Document__c;ERM_Stakeholder__c;ERM_Survey__c;Entitlement;Event__c;Glossary_Item__c;IDC_Task__c;Impact_Assessments__c;Investments_in_Lab_and_Demo_Equipment__c;Issues_Risks__c;Marketing_Plan_and_Industry_Events__c;Multi_Language_Terms__c;NokiaCPQ_Maintenance_and_SSP_Rules__c;OLCS_Information__c;Opportunity;Order;Order_Intake_Forecast__c;PartnerFundAllocation;PartnerFundClaim;PartnerFundRequest;PartnerMarketingBudget;Pre_C3_Commitment__c;Product2;Product_Attribute_Value_extension__c;Question_Log__c;Quote;RICEFW_Inventory__c;Rebate_Enrollment__c;Rebate_form__c;Release__c;Request__c;Room__c;SFCCLtngPtr__SFDC_Budget__c;SFCCLtngPtr__SFDC_Channel_Account_Plan__c;SFCCLtngPtr__SFDC_MDF_Claim__c;SFCCLtngPtr__SFDC_MDF__c;SFCCLtngPtr__SFDC_Objective__c;SWx_Upsell_Items__c;SWx_Upsell_Proposal__c;Security_Knowledge__c;ServiceContract;Service_Agreement__c;Session__c;Sign_Off__c;Solution;Speaker__c;Sprint__c;Term__c;Test_Case__c;Test_Execution__c;Test_Iterations__c;Test_Scenario__c;Test_Script__c;Theme__c;Tier_Discount_Detail__c;Track__c;Training_Certification_Plan__c;Training_Material__c;Upsell_Container__c;Use_Case__c;User_Story__c;Value_Delivery_Objectives_Options__c;Value_Delivery_Session__c;Venue__c;jiffle__Attendee__c;jiffle__Briefing_Acc_Opp_Relations__c;jiffle__Briefing_Activity__c;jiffle__Briefing_Center__c;jiffle__Briefing_Invites__c;jiffle__Briefing__c;jiffle__Event_Master__c;jiffle__Event__c;jiffle__Invites__c;jiffle__JNConfig__c;jiffle__Mapping__c;jiffle__Meeting_Relations__c;jiffle__Meeting__c;mkto_si__Get_Method_Argus__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Session__c].Stakeholders__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>Update stakeholder</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_10_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Send individual notification</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Send_individual_notification__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ERM_Stakeholder__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Session__c].Stakeholders__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_10_A2</name>
        <label>Update Stakeholder Status</label>
        <locationX>1000</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision12</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </inputAssignments>
        <object>ERM_Stakeholder__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Session__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Update event host email</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision15</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Event host email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Event_host_email__c</field>
            <value>
                <elementReference>myVariable_current.Event__r.Event_Host__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Session__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Session__c].Stakeholders__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>Update Stakeholder</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_8_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Session__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Time slot changed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Time_slot_changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ERM_Stakeholder__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Session__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_8_A2</name>
        <label>Update session status</label>
        <locationX>800</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Presentation Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Session_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Session__c</object>
    </recordUpdates>
    <startElementReference>isChangedDecision4_myRule_3_Send_Individual_Notification_c</startElementReference>
    <status>Active</status>
    <variables>
        <name>cancelWaits</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_21_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <waits>
        <name>myWait_myRule_21</name>
        <label>myWait_myRule_21</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_21_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_21_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_21_event_0</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Session__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Content_Review_Call_date__c</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_21_event_0</label>
        </waitEvents>
    </waits>
</Flow>
