src/flows/NokiaCPQ_Chatter_Post_to_PSM_and_Partner_when_Quote_In_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Apttus_Proposal__Proposal__c].NokiaCPQ_Partner_Sales_Manager__c.Id}]\n\nThe validation request has been submitted and the quote moved to the status \&quot; In Review \&quot; \n\nPlease verify and submit the Opportunity for Approval.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Notification for G4 Approval</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.NokiaCPQ_Partner_Sales_Manager__r.Id}]

The validation request has been submitted and the quote moved to the status &quot; In Review &quot; 

Please verify and submit the Opportunity for Approval.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Flow to send chatter</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>send notification</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>Flow_to_send_chatter</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OpportunityID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>OpportunityID</name>
            <value>
                <elementReference>myVariable_current.NokiaCPQ_Opportunity_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>getquoteId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>getquoteId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>portfolio</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>portfolio</name>
            <value>
                <elementReference>myVariable_current.NokiaCPQ_Portfolio__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Apttus_Proposal__Proposal__c].NokiaCPQ_Partner_Sales_Manager__r.Id}]\n\nThe quote has been accepted.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Notification Accepted</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.NokiaCPQ_Partner_Sales_Manager__r.Id}]

The quote has been accepted.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Apttus_Proposal__Proposal__c].NokiaCPQ_Partner_Sales_Manager__r.Id}]\n\nThe quote has been cancelled.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Notification Cancelled</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.NokiaCPQ_Partner_Sales_Manager__r.Id}]

The quote has been cancelled.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Apttus_Proposal__Proposal__c].NokiaCPQ_Partner_Sales_Manager__r.Id}]\n\nThe validation request has been submitted and the quote moved to the status \&quot; In Review \&quot; \n\nPlease verify, send the quote data to NPT, contact the Pricing Manager to process the data in NPT Cloud and in the Win the Deal tool, and submit the Opportunity for Approval.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>MW G4 Notification Approval</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.NokiaCPQ_Partner_Sales_Manager__r.Id}]

The validation request has been submitted and the quote moved to the status &quot; In Review &quot; 

Please verify, send the quote data to NPT, contact the Pricing Manager to process the data in NPT Cloud and in the Win the Deal tool, and submit the Opportunity for Approval.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Flow to send chatter</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A2</name>
        <label>MW Send Notification</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <actionName>Flow_to_send_chatter</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OpportunityID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>OpportunityID</name>
            <value>
                <elementReference>myVariable_current.NokiaCPQ_Opportunity_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>getquoteId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>getquoteId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>portfolio</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>portfolio</name>
            <value>
                <elementReference>myVariable_current.NokiaCPQ_Portfolio__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Is In Review</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Is Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Is Draft</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>InReview_Microwave</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Notification to PSM for submitting the Opportunity</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) &amp;&amp; TEXT([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) = &apos;In Review&apos; &amp;&amp; [Apttus_Proposal__Proposal__c].Apttus_Proposal__Opportunity__c.Pre_approved_Price_List_for_AM__c  = 0 &amp;&amp; [Apttus_Proposal__Proposal__c].Apttus_Proposal__Opportunity__c.No_Loa__c = false &amp;&amp; [Apttus_Proposal__Proposal__c].Quote_Type__c = &apos;Indirect CPQ&apos; &amp;&amp; TEXT([Apttus_Proposal__Proposal__c].NokiaCPQ_Portfolio__c) &lt;&gt;  &apos;Microwave&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Apttus_Proposal__Approval_Stage__c}) &amp;&amp; TEXT({!myVariable_current.Apttus_Proposal__Approval_Stage__c}) = &apos;In Review&apos; &amp;&amp; {!myVariable_current.Apttus_Proposal__Opportunity__r.Pre_approved_Price_List_for_AM__c}  = 0 &amp;&amp; {!myVariable_current.Apttus_Proposal__Opportunity__r.No_Loa__c} = false &amp;&amp; {!myVariable_current.Quote_Type__c} = &apos;Indirect CPQ&apos; &amp;&amp; TEXT({!myVariable_current.NokiaCPQ_Portfolio__c}) &lt;&gt;  &apos;Microwave&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) &amp;&amp; TEXT([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) = &apos;In Review&apos; &amp;&amp; [Apttus_Proposal__Proposal__c].Apttus_Proposal__Opportunity__c.Pre_approved_Price_List_for_AM__c  = 0 &amp;&amp; [Apttus_Proposal__Proposal__c].Apttus_Proposal__Opportunity__c.No_Loa__c = false &amp;&amp; [Apttus_Proposal__Proposal__c].Quote_Type__c = &apos;Indirect CPQ&apos; &amp;&amp; TEXT([Apttus_Proposal__Proposal__c].NokiaCPQ_Portfolio__c) &lt;&gt;  &apos;Microwave&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_old.Apttus_Proposal__Approval_Stage__c}) &amp;&amp; TEXT({!myVariable_old.Apttus_Proposal__Approval_Stage__c}) = &apos;In Review&apos; &amp;&amp; {!myVariable_old.Apttus_Proposal__Opportunity__r.Pre_approved_Price_List_for_AM__c}  = 0 &amp;&amp; {!myVariable_old.Apttus_Proposal__Opportunity__r.No_Loa__c} = false &amp;&amp; {!myVariable_old.Quote_Type__c} = &apos;Indirect CPQ&apos; &amp;&amp; TEXT({!myVariable_old.NokiaCPQ_Portfolio__c}) &lt;&gt;  &apos;Microwave&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) &amp;&amp; TEXT([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) = &apos;Accepted&apos; &amp;&amp; [Apttus_Proposal__Proposal__c].Quote_Type__c = &apos;Indirect CPQ&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Apttus_Proposal__Approval_Stage__c}) &amp;&amp; TEXT({!myVariable_current.Apttus_Proposal__Approval_Stage__c}) = &apos;Accepted&apos; &amp;&amp; {!myVariable_current.Quote_Type__c} = &apos;Indirect CPQ&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) &amp;&amp; TEXT([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) = &apos;Draft&apos; &amp;&amp; (PRIORVALUE([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) = &apos;Accepted&apos; || PRIORVALUE([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) = &apos;Approved&apos;) &amp;&amp; [Apttus_Proposal__Proposal__c].Quote_Type__c = &apos;Indirect CPQ&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Apttus_Proposal__Approval_Stage__c}) &amp;&amp; TEXT({!myVariable_current.Apttus_Proposal__Approval_Stage__c}) = &apos;Draft&apos; &amp;&amp; (PRIORVALUE({!myVariable_current.Apttus_Proposal__Approval_Stage__c}) = &apos;Accepted&apos; || PRIORVALUE({!myVariable_current.Apttus_Proposal__Approval_Stage__c}) = &apos;Approved&apos;) &amp;&amp; {!myVariable_current.Quote_Type__c} = &apos;Indirect CPQ&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) &amp;&amp; TEXT([Apttus_Proposal__Proposal__c].Apttus_Proposal__Approval_Stage__c) = &apos;In Review&apos; &amp;&amp; [Apttus_Proposal__Proposal__c].Apttus_Proposal__Opportunity__c.Pre_approved_Price_List_for_AM__c  = 0 &amp;&amp; [Apttus_Proposal__Proposal__c].Apttus_Proposal__Opportunity__c.No_Loa__c = false &amp;&amp; [Apttus_Proposal__Proposal__c].Quote_Type__c = &apos;Indirect CPQ&apos; &amp;&amp; TEXT([Apttus_Proposal__Proposal__c].NokiaCPQ_Portfolio__c) =  &apos;Microwave&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Apttus_Proposal__Approval_Stage__c}) &amp;&amp; TEXT({!myVariable_current.Apttus_Proposal__Approval_Stage__c}) = &apos;In Review&apos; &amp;&amp; {!myVariable_current.Apttus_Proposal__Opportunity__r.Pre_approved_Price_List_for_AM__c}  = 0 &amp;&amp; {!myVariable_current.Apttus_Proposal__Opportunity__r.No_Loa__c} = false &amp;&amp; {!myVariable_current.Quote_Type__c} = &apos;Indirect CPQ&apos; &amp;&amp; TEXT({!myVariable_current.NokiaCPQ_Portfolio__c}) =  &apos;Microwave&apos;</expression>
    </formulas>
    <interviewLabel>NokiaCPQ_Chatter_Post_to_PSM_and_Partner_when_Quote_In_Review-24_InterviewLabel</interviewLabel>
    <label>Chatter Post to PSM and Partner when Quote In-Review</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Apttus_Proposal__Proposal__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus_Proposal__Proposal__c</objectType>
    </variables>
</Flow>
