src/flows/Validate_Initial_Response_SLA_Missed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_isInitialResponseTrue</name>
        <label>Assign isInitialResponseTrue</label>
        <locationX>781</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>is_InitialResponce</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>CH_NokiaInformationRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CH_NokiaInformationRequest</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CH_AdditionalCommentsFilled</name>
        <label>Additional Comments Filled</label>
        <locationX>774</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>CH_LoopThroughRelatedReasons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CH_AdditionalComments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_EachReason.CH_RejectionReasonfor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone Respond Missed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_CheckOtherStatusConditions</targetReference>
            </connector>
            <label>Additional Comments</label>
        </rules>
    </decisions>
    <decisions>
        <name>CH_CaseMilestoneCheck</name>
        <label>Case Milestone Check</label>
        <locationX>490</locationX>
        <locationY>480</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CH_InitialResponseViolated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_MilestoneName.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_oneMilestone.IsViolated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_LoopThroughRelatedReasons</targetReference>
            </connector>
            <label>Initial Response Violated</label>
        </rules>
        <rules>
            <name>CH_InitialResponseCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_MilestoneName.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_oneMilestone.IsCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_CheckOtherStatusConditions</targetReference>
            </connector>
            <label>Initial Response Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CH_CheckOtherStatusConditions</name>
        <label>Check other status conditions</label>
        <locationX>765</locationX>
        <locationY>177</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CH_StatusCheck</name>
            <conditionLogic>(1 AND 7 AND 2 AND 3 AND ((4 AND 5 )  OR 6))</conditionLogic>
            <conditions>
                <leftValueReference>CH_ParentCase.Priority</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_ParentCase.CH_InitialResponse__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_ParentCase.CH_InitialDiagnosis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_ParentCase.CH_Outage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_ParentCase.CH_OutageType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_ParentCase.Severity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CH_ParentCase.Priority</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_isInitialResponseTrue</targetReference>
            </connector>
            <label>Status Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>CH_Does_Milestone_exist</name>
        <label>Does Milestone exist?</label>
        <locationX>328</locationX>
        <locationY>338</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CH_Initial_Response_Milestone_Absent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_oneMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_CheckOtherStatusConditions</targetReference>
            </connector>
            <label>Initial Response Milestone Absent</label>
        </rules>
        <rules>
            <name>CH_Initial_Response_Milestone_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CH_oneMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_ReasonsLookup</targetReference>
            </connector>
            <label>Initial Response Milestone Present</label>
        </rules>
    </decisions>
    <interviewLabel>Validate Initial Response SLA Missed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate Initial Response SLA Missed</label>
    <loops>
        <name>CH_LoopThroughRelatedReasons</name>
        <label>Loop Through Related Reasons</label>
        <locationX>778</locationX>
        <locationY>485</locationY>
        <assignNextValueToReference>CH_EachReason</assignNextValueToReference>
        <collectionReference>CH_ReasonsRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CH_AdditionalCommentsFilled</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CH_Fetch_Milestone_Name</name>
        <label>Fetch Milestone Name</label>
        <locationX>181</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_FetchCaseMilestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Response</stringValue>
            </value>
        </filters>
        <object>MilestoneType</object>
        <outputReference>CH_MilestoneName</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CH_FetchCase</name>
        <label>Fetch Case</label>
        <locationX>180</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_Fetch_Milestone_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CH_ParentCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Reason</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>CH_InitialResponse__c</queriedFields>
        <queriedFields>CH_IsInitialResponseSLA__c</queriedFields>
        <queriedFields>CH_Outage__c</queriedFields>
        <queriedFields>Severity__c</queriedFields>
        <queriedFields>CH_InitialDiagnosis__c</queriedFields>
        <queriedFields>CH_OutageType__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>CH_RecordTypeDevName__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CH_FetchCaseMilestone</name>
        <label>Fetch Case Milestone</label>
        <locationX>177</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_Does_Milestone_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CH_ParentCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CH_MilestoneName.Id</elementReference>
            </value>
        </filters>
        <object>CaseMilestone</object>
        <outputReference>CH_oneMilestone</outputReference>
        <queriedFields>IsViolated</queriedFields>
        <queriedFields>MilestoneTypeId</queriedFields>
        <queriedFields>IsCompleted</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CH_ReasonsLookup</name>
        <label>Reasons Lookup</label>
        <locationX>268</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CH_CaseMilestoneCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CH_SupportTicket_Reasons__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CH_ParentCase.Id</elementReference>
            </value>
        </filters>
        <object>CH_Reasons__c</object>
        <outputReference>CH_ReasonsRecord</outputReference>
        <queriedFields>CH_RejectionReasonfor__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>CH_Reason_AdditionalComments__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CH_UpdateStage</name>
        <label>Update Stage</label>
        <locationX>442</locationX>
        <locationY>41</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CH_Stage__c</field>
            <value>
                <stringValue>Investigate &amp; Restore</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>CH_FetchCase</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>updateIssueDes</description>
        <name>updateIssueDes</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>ye hai parent id: {!CH_ParentCase.Id}      
ye hai uska reason: {!CH_EachReason.Id}</text>
    </textTemplates>
    <variables>
        <description>Assign To Stage</description>
        <name>CH_AssignToStage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Each Reason Record</description>
        <name>CH_EachReason</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_Reasons__c</objectType>
    </variables>
    <variables>
        <description>List to be updated</description>
        <name>CH_ListOfReasonsUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CH_Reasons__c</objectType>
    </variables>
    <variables>
        <description>This is the sObject to store the vareiable fields</description>
        <name>CH_Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <description>Milestone Name using Milestone Type</description>
        <name>CH_MilestoneName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MilestoneType</objectType>
    </variables>
    <variables>
        <description>per milestone</description>
        <name>CH_oneMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <description>Parent Case of the Reason</description>
        <name>CH_ParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Collect all related reasons</description>
        <name>CH_ReasonsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CH_Reasons__c</objectType>
    </variables>
    <variables>
        <name>is_InitialResponce</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>record id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
